<div class="ui fluid selection dropdown"
     class-search="searchable"
     class-disabled="disabled"
     class-multiple="multiple"
>
    <!--<input type="hidden" name="{{name}}" value="{{value}}">-->
    <div class="default text">{{placeholder}}</div>
    {{#if !asinput}}
    <i class="dropdown icon"></i>
    {{/if}}
    <div class="menu">
        {{#each options: num}}
        <div class="item" data-value="{{.[valueprop]}}">
            {{#if hasCustomLabelTemplate}}
            {{>label}}
            {{else}}
            {{.[labelprop]}}
            {{/if}}
        </div>
        {{/each}}
    </div>
</div>