{% macro body_col_depart_date(col, value, row, shortcode_atts) %}
    <span class="{{ column_field_class(col, '') }}_field">
        {{ value.date }}
    </span>
{% endmacro %}

{% macro body_col_return_date(col, value, row, shortcode_atts) %}
    <span class="{{ column_field_class(col, '') }}_field">
        {{ value.date }}
    </span>
{% endmacro %}

{% macro body_col_number_of_changes(col, value, row, shortcode_atts) %}
    <span class="{{ column_field_class(col, '') }}_field">
        {% if value == 0 %}
            <span class="{{ column_field_class(col, 'label') }}">
                {{ _x('Direct','body_col_number_of_changes direct') }}
            </span>
        {% elseif value == 1 %}
            <span class="{{ column_field_class(col, 'count') }}">
                {{ value }}
            </span>
            <span class="{{ column_field_class(col, 'label') }}">
                {{ _x('stop','body_col_number_of_changes stop') }}
            </span>
        {% elseif value == 2 %}
            <span class="{{ column_field_class(col, 'count') }}">
                {{ value }}
            </span>
            <span class="{{ column_field_class(col, 'label') }}">
                {{ _x('stops','body_col_number_of_changes stops') }}
            </span>
        {% endif %}
    </span>
{% endmacro %}

{% macro body_col_price(col, value, row, shortcode_atts) %}
    <span class="{{ column_field_class(col, '') }}_field">
        <span class="{{ column_field_class(col, 'count') }}">
            {{ value }}
        </span>
        <span class="{{ column_field_class(col, 'currency') }}">
            {{ shortcode_atts.currency }}
        </span>
    </span>
{% endmacro %}

{% macro body_col_airline(col, value, row, shortcode_atts) %}
    <span class="{{ column_field_class(col, '') }}_field" data-tp-airline-code="{{ value.code }}">
        {{ value.label }}
    </span>
{% endmacro %}

{% macro body_col_button(col, value, row, shortcode_atts) %}
    {% set link_nofollow = (shortcode_atts.is_rel_nofollow == true) ? 'rel=nofollow' : '' %}
    {% set link_target = (shortcode_atts.is_target_blank == true) ? 'target=_blank' : '' %}
    <a href="{{ row.output.url }}" {{ link_nofollow }} {{ link_target }}>
        {{ value }}
    </a>
{% endmacro %}

{% macro body_col_airline_logo(col, value, row, shortcode_atts) %}
    {% if value.logo is not empty %}
        <img src="{{ value.logo }}" alt="{{ value.label }}" data-avia="{{ value.label }}">
    {% endif %}
{% endmacro %}

{% macro body_col_origin(col, value, row, shortcode_atts) %}
    <span class="{{ column_field_class(col, '') }}_field" data-tp-city-iata="{{ value.code }}">
        {{ value.label }}
    </span>
{% endmacro %}

{% macro body_col_destination(col, value, row, shortcode_atts) %}
    <span class="{{ column_field_class(col, '') }}_field" data-tp-city-iata="{{ value.code }}">
        {{ value.label }}
    </span>
{% endmacro %}

{% macro body_col_origin_destination(col, value, row, shortcode_atts) %}
    <span class="{{ column_field_class(col, '') }}_field">
        <span class="{{ column_field_class(col, 'origin') }}"  data-tp-city-iata="{{ value.origin.code }}">
            {{ value.origin.label }}
        </span>
        <span class="{{ column_field_class(col, 'separator') }}"></span>
        <span class="{{ column_field_class(col, 'destination') }}"  data-tp-city-iata="{{ value.destination.code }}">
            {{ value.destination.label }}
        </span>
    </span>
{% endmacro %}

{% macro body_col_direction(col, value, row, shortcode_atts) %}
    <span class="{{ column_field_class(col, '') }}_field">
        <span class="{{ column_field_class(col, 'origin') }}">{{ value.origin.label }}</span>
        <span class="{{ column_field_class(col, 'separator') }}">→</span>
        <span class="{{ column_field_class(col, 'destination') }}">{{ value.destination.label }}</span>
    </span>
{% endmacro %}

{% macro body_col_trip_class(col, value, row, shortcode_atts) %}
    <span class="{{ column_field_class(col, '') }}_field">
        {% if value == 0 %}
            <span class="{{ column_field_class(col, 'label') }}">
                {{ _x('Economy','body_col_trip_class economy') }}
            </span>
        {% elseif value == 1 %}
            <span class="{{ column_field_class(col, 'label') }}">
                {{ _x('Business','body_col_trip_class business') }}
            </span>
        {% elseif value == 2 %}
            <span class="{{ column_field_class(col, 'label') }}">
                {{ _x('First','body_col_trip_class first') }}
            </span>
        {% endif %}
    </span>
{% endmacro %}

{% macro body_col_price_distance(col, value, row, shortcode_atts) %}
    <span class="{{ column_field_class(col, '') }}_field">
        {{ value.price_distance }}
    </span>
{% endmacro %}

{% macro body_col_found_at(col, value, row, shortcode_atts) %}
    <span class="{{ column_field_class(col, '') }}_field">
        {{ value.date }}
    </span>
{% endmacro %}