{% macro body_col_discount(col, value, row, shortcode_atts) %}
    <span class="{{ column_field_class(col, '') }}_field">
        -{{ value }}%
    </span>
{% endmacro %}

{% macro body_col_old_price_and_new_price(col, value, row, shortcode_atts) %}
    <span class="{{ column_field_class(col, '') }}_field">
        <span class="{{ column_field_class(col, 'old_price_pn') }}">{{ value.old_price_pn }}</span>
        <span class="{{ column_field_class(col, 'price_pn') }}">{{ value.price_pn }}</span>
    </span>
{% endmacro %}

{% macro body_col_old_price_and_discount(col, value, row, shortcode_atts) %}
    <span class="{{ column_field_class(col, '') }}_field">
        <span class="{{ column_field_class(col, 'old_price_pn') }}">{{ value.old_price_pn }}</span>
        <span class="{{ column_field_class(col, 'discount') }}">-{{ value.discount }}%</span>
    </span>
{% endmacro %}

{% macro body_col_button(col, value, row, shortcode_atts) %}
    {% set link_nofollow = (shortcode_atts.is_rel_nofollow == true) ? 'rel=nofollow' : '' %}
    {% set link_target = (shortcode_atts.is_target_blank == true) ? 'target=_blank' : '' %}
    <a href="{{ row.val.url }}" {{ link_nofollow }} {{ link_target }}>
        {{ value }}
    </a>
{% endmacro %}
