<div class="travel travel-{{ shortcode }}">
    {#<div class="container">#}
        {% block content %}
            {% if is_shortcode_table(shortcode_atts.shortcode_type) %}
                {% include '/shortcodes/layouts/table.twig' %}
            {% endif %}
        {% endblock %}

    {#</div>#}
    <!-- /.container -->
</div>
<!-- /.travel -->