{% macro body_col_train(col, value, row, shortcode_atts) %}
    <span class="{{ column_field_class(col, '') }}_field">
        {% if value.train_number is not empty %}
            <span class="{{ column_field_class(col, 'train_number') }}">{{ value.train_number }}</span>
        {% endif %}
        {% if value.name is not empty %}
            <span class="{{ column_field_class(col, 'name') }}">{{ value.name }}</span>
        {% endif %}
        {% if value.firm == true %}
            <span class="{{ column_field_class(col, 'firm') }}">
                {{ _x('firm','body_col_train firm') }}
            </span>
        {% endif %}
    </span>
{% endmacro %}


{% macro body_col_route(col, value, row, shortcode_atts) %}
    <span class="{{ column_field_class(col, '') }}_field">
        <span class="{{ column_field_class(col, 'departure') }}">
            {% if value.run_departure_station.code ==  value.departure_station.code %}
                <span class="{{ column_field_class(col, 'run_departure_station') }}">{{ value.run_departure_station.label }}</span>
            {% else %}
                <span class="{{ column_field_class(col, 'run_departure_station') }}">{{ value.run_departure_station.label }}</span>
                <span class="{{ column_field_class(col, 'separator') }}"> → </span>
                <span class="{{ column_field_class(col, 'departure_station') }}">{{ value.departure_station.label }}</span>
            {% endif %}
        </span>
        <span class="{{ column_field_class(col, 'separator') }}"> → </span>
        <span class="{{ column_field_class(col, 'arrival') }}">
            {% if value.run_arrival_station.code ==  value.arrival_station.code %}
                <span class="{{ column_field_class(col, 'run_arrival_station') }}">{{ value.run_arrival_station.label }}</span>
            {% else %}
                <span class="{{ column_field_class(col, 'run_arrival_station') }}">{{ value.run_arrival_station.label }}</span>
                <span class="{{ column_field_class(col, 'separator') }}"> → </span>
                <span class="{{ column_field_class(col, 'arrival_station') }}">{{ value.arrival_station.label }}</span>
            {% endif %}
        </span>
    </span>
{% endmacro %}

{% macro body_col_departure(col, value, row, shortcode_atts) %}
    <span class="{{ column_field_class(col, '') }}_field">
        <span class="{{ column_field_class(col, 'departure') }}">
            <span class="{{ column_field_class(col, 'departure_time') }}">{{ value.time }}</span>
            <span class="{{ column_field_class(col, 'departure_station') }}">{{ value.departure_station.label }}</span>
        </span>
    </span>
{% endmacro %}

{% macro body_col_arrival(col, value, row, shortcode_atts) %}
    <span class="{{ column_field_class(col, '') }}_field">
        <span class="{{ column_field_class(col, 'arrival') }}">
            <span class="{{ column_field_class(col, 'arrival_time') }}">{{ value.time }}</span>
            <span class="{{ column_field_class(col, 'duration_day') }}">{{ value.duration_day }}</span>
            <span class="{{ column_field_class(col, 'arrival_station') }}">{{ value.arrival_station.label }}</span>
        </span>
    </span>
{% endmacro %}

{% macro body_col_duration(col, value, row, shortcode_atts) %}
    <span class="{{ column_field_class(col, '') }}_field">
        <span class="{{ column_field_class(col, 'duration') }}">{{ value.duration }}</span>
    </span>
{% endmacro %}

{% macro body_col_prices(col, value, row, shortcode_atts) %}
    <span class="{{ column_field_class(col, '') }}_field">
        {% for prices in value %}
            <span class="{{ column_field_class(col, 'type_label') }}">{{ prices.type_label }}</span>
            <span class="{{ column_field_class(col, 'price') }}">{{ prices.price }}</span>
        {% endfor %}
    </span>
{% endmacro %}

{% macro body_col_dates(col, value, row, shortcode_atts) %}
    {% set link_nofollow = (shortcode_atts.is_rel_nofollow == true) ? 'rel=nofollow' : '' %}
    {% set link_target = (shortcode_atts.is_target_blank == true) ? 'target=_blank' : '' %}
    <a href="{{ row.val.url }}" {{ link_nofollow }} {{ link_target }}>
        {{ value.button_title }}
    </a>
{% endmacro %}

{% macro body_col_origin(col, value, row, shortcode_atts) %}
    <span class="{{ column_field_class(col, '') }}_field">
        {{ value.label }}
    </span>
{% endmacro %}

{% macro body_col_destination(col, value, row, shortcode_atts) %}
    <span class="{{ column_field_class(col, '') }}_field">
        {{ value.label }}
    </span>
{% endmacro %}

{% macro body_col_departure_time(col, value, row, shortcode_atts) %}
    <span class="{{ column_field_class(col, '') }}_field">
        {{ value.time }}
    </span>
{% endmacro %}

{% macro body_col_arrival_time(col, value, row, shortcode_atts) %}
    <span class="{{ column_field_class(col, '') }}_field">
        {{ value.time }}
    </span>
{% endmacro %}

{% macro body_col_route_first_station(col, value, row, shortcode_atts) %}
    <span class="{{ column_field_class(col, '') }}_field">
        {{ value.label }}
    </span>
{% endmacro %}

{% macro body_col_route_last_station(col, value, row, shortcode_atts) %}
    <span class="{{ column_field_class(col, '') }}_field">
        {{ value.label }}
    </span>
{% endmacro %}