{% import '/shortcodes/layouts/'~ shortcode_atts.shortcode_type ~'.twig' as table %}
{% macro head_col(col, label, class, shortcode_atts) %}
    <div class="travel-table-head__col is-active travel-table-head__col_{{ class|default(col) }}  {{ hide_column_class(shortcode_atts.hidden_columns, col) }}"
         data-col-label="{{ column }}">
        <span>{{ label }}</span>
    </div>
    <!-- /.travel-table-head__col -->
{% endmacro %}
{% macro head_row(columns, shortcode_atts) %}
    {% if columns|length > 0 %}
        <div class="travel-table-head">
            {% for key, column in columns %}
                {{ _self.head_col(key, column, key, shortcode_atts) }}
            {% endfor %}
        </div>
    {% endif %}
    <!-- /.travel-table-head -->
{% endmacro %}
{% macro body_col(col, value, row, shortcode_atts) %}
    <span class="{{ column_field_class(col, '') }}_field">
        {# dump(value) #}
        {% if value is iterable %}
            {{ value|join('|') }}
        {% else %}
            {{ value }}
        {% endif %}
    </span>
{% endmacro %}

<div class="travel-table-wrap {{ shortcode }}">
    <div class="travel-table-title">
        {% if shortcode_output.get_title()|length %}
            {{ shortcode_output.get_title() }}
        {% else %}
            {{ shortcode_title | raw }}
        {% endif %}
    </div>
    {% if shortcode_output.get_rows()|length > 0 and columns|length > 0 %}
        <!-- BEGIN table-default  -->
        {% set table_head_row = _self.head_row(columns, shortcode_atts) %}
        {% set link_nofollow = (shortcode_atts.is_rel_nofollow == true) ? 'rel=nofollow' : '' %}
        {% set link_target = (shortcode_atts.is_target_blank == true) ? 'target=_blank' : '' %}
        <div class="travel-table travel-table--{{ shortcode_atts.theme }}">
            {% for row in shortcode_output.get_rows() %}
                <div class="travel-table__row">
                    {{ table_head_row }}
                    <!-- /.travel-table-head -->
                    <div class="travel-table-body">
                        {% for key, column in columns %}
                            <div class="travel-table-body__col travel-table-body__col_{{ key }} {{ hide_column_class(shortcode_atts.hidden_columns, key) }}"
                                 data-col-label="{{ column }}">
                                {% if shortcode_atts.is_column_link == true %}
                                <a href="{{ row.output.url }}" {{ link_nofollow }} {{ link_target }}>
                                    {% endif %}
                                    {% if attribute(table, 'body_col_' ~ key) is defined %}
                                        {{ attribute(table, 'body_col_' ~ key, [key, row.val[key], row, shortcode_atts]) }}
                                    {% else %}
                                        {{ attribute(_self, 'body_col', [key, row.val[key], row, shortcode_atts]) }}
                                    {% endif %}
                                    {% if shortcode_atts.is_column_link == true %}
                                </a>
                                {% endif %}
                            </div>
                            {#{{ _self.body_col(key, row.output[key], key, row) }}#}
                        {% endfor %}
                    </div>
                    <!-- /.travel-table-body -->
                </div>
                <!-- /.travel-table__row -->
            {% endfor %}
        </div>
        <!-- /.travel-table -->
    {% endif %}
</div>
<!-- /.travel-table-wrap -->
<!-- END table-default -->

