{% if airline_data.code|length %}
    {% set airline %}
        <span data-tp-airline-code="{{ airline_data.code }}">{{ airline_data.label }}</span>
    {% endset %}
{% endif %}
{% if origin_data.code|length %}
    {% set origin %}
        <span data-tp-city-iata="{{ origin_data.code }}">{{ origin_data.label }}</span>
    {% endset %}
{% endif %}
{% if destination_data.code|length %}
    {% set destination %}
        <span data-tp-city-iata="{{ destination_data.code }}">{{ destination_data.label }}</span>
    {% endset %}
{% endif %}

{% if title|length %}
    <{{ title_tag }}>
    {{ include(template_from_string(title)) }}
    </{{ title_tag }}>
{% endif %}

{#
<h5>All data</h5>
<pre>
    {{ dump () }}
</pre>
<hr/>
#}