.TPHotelStar {
	color :#fdb931;
}
.TP-old-price-and,
.TP-old-price-and-new-price {
	width :100%;
}
.travel-table-wrap {
	position :relative;
	/*&:before {
		content :'';
		position  :absolute;
		top       :50%;
		left      :50%;
		transform :translate(-50%, -50%);
		width :100px;
		height :100px;
		background      : url(../images/logo-agreement.svg) 50% no-repeat;
		background-size :contain;
		z-index :10;
		animation:  pulse 3s infinite;
		animation-timing-function: linear;
		transition :opacity 0.3s ease;
	}
	&:after {
		content :'';
		position :absolute;
		bottom :0;
		right :0;
		width :100%;
		height :calc(100% - 49px);
		background-color :#fff;
		z-index :9;
		@include max-width(sm) {
			height :100%;
			width :calc(100% - 110px);
		}
	}*/
	&.is-load {
		&:before,
		&:after{
			content :none;
		}
		.travel-table {
			pointer-events:auto;
		}
	}
}
.travel-table {
	font-size     :13px;
	font-family   :Arial, sans-serif;
	margin-bottom :30px;
	pointer-events:none;
	&__row {
		@include max-width(sm) {
			display       :flex;
			margin-bottom :15px;
		}
		@include min-width(sm) {
			&:not(:first-of-type) {
				.travel-table-head {
					display :none;
				}
			}
			&:nth-child(odd):last-of-type {
				border-bottom :1px solid $travel-table-border-color;
			}
		}
		&:nth-child(even) {
			.travel-table-body {
				&:before {
					background-color :#f2f2f2;
					@include max-width(sm) {
						background-color :transparent;
					}
				}
			}
		}
		&:nth-child(odd) {
			.travel-table-body {
				&:before {
					background-color :transparent;
					@include max-width(sm) {
						background-color :transparent;
					}
				}
			}
		}
	}

}
.travel-table-head {
	color :#fff;
	&__col {
		position         :relative;
		background-color :#1db1db17;
		cursor           :pointer;
		@include min-width(sm) {
			padding :14px 24px 14px 12px;
		}
		@include max-width(sm) {
			width :110px;
		}
		&:before {
			content          :'';
			position         :absolute;
			width            :700px;
			height           :700px;
			top              :50%;
			left             :50%;
			margin-top       :-350px;
			margin-left      :-350px;
			transform        :scale(0);
			transform-origin :50% bottom;
			background-color :rgba(0, 0, 0, 0.2);
			border-radius    :50%;
			transition       :transform 0.8s linear;
		}
		&:after {
			@include min-width(sm) {
				content             :"▴";
				position            :absolute;
				right               :8px;
				top                 :50%;
				display             :block;
				width               :13px;
				height              :13px;
				line-height         :13px;
				text-align          :center;
				margin-top          :-6px;
				transform           :translateX(100%);
				line-height         :1;
				opacity             :0;
				transition          :0.3s linear;
				transition-property :opacity, transform;
			}
		}
		&:hover,
		&:focus,
		&.is-active {
			&:before {
				transform :scale(1);
			}
			&:after {
				opacity   :1;
				transform :translate(0);
			}
		}
		&.sort_desc {
			&:after {
				transform :translate(0) rotateX(180deg);
			}
		}
		span {
			position :relative;
			z-index  :2;
		}
	}
}
.travel-table-head,
.travel-table-body {
	@include min-width(sm) {
		width   :100%;
		display :flex;
	}
	&__col {
		height              :51px;
		display             :flex;
		align-items         :center;
		flex-wrap           :wrap;
		overflow            :hidden;
		padding             :0 8px;
		border-bottom       :1px solid $travel-table-border-color;
		transition          :0.3s linear;
		transition-property :color, background-color;
		@include min-width(sm) {
			height        :auto;
			width         :17%;
			border-bottom :none;
			&:last-child {
				flex-grow :1;
			}
			&:not(:last-child) {
				border-right :1px solid $travel-table-border-color;
			}
			@include has-nth('n + 2', 'div') {
				width :50%;
			}
			@include has-nth('n + 3', 'div') {
				width :25%;
			}
			@include has-nth('n + 4', 'div') {
				width :20%;
			}
			@include has-nth('n + 5', 'div') {
				width :17%;
			}
			@include has-nth('n + 6', 'div') {
				width :15%;
			}
		}
		&:first-child {
			border-top :1px solid $travel-table-border-color;
			@include min-width(sm) {
				border-top :none;
			}
		}
		span {
			display       :block;
			width         :100%;
			overflow      :hidden;
			text-overflow :ellipsis;
		}
	}
}
.travel-table-body {
	flex-grow :1;
	min-width :180px;
	color     :#787878;
	position  :relative;
	overflow  :hidden;
	@include min-width(sm) {
		&:before {
			content    :'';
			position   :absolute;
			z-index    :0;
			top        :0;
			left       :0;
			right      :0;
			bottom     :0;
			transform  :scale(1.5);
			border     :2px solid transparent;
			transition :transform 0.3s linear;
		}
		&:after {
			content          :'';
			position         :absolute;
			top              :0;
			bottom           :0;
			left             :0;
			z-index          :2;
			width            :110%;
			background-color :rgba(#FEB20E, 0.3);
			transform        :skew(45deg) scale(0, 1);
			transform-origin :0 100%;
			transition       :all 0.45s linear;
		}
		&:hover,
		&:focus {
			&:after {
				transform :skew(45deg) scale(1, 1);
			}
			&:before {
				transform :scale(1);
			}
		}
	}
	&__col {
		position     :relative;
		z-index      :3;
		border-right :1px solid $travel-table-border-color;
		@include min-width(sm) {
			padding     :6px 18px;
			display     :flex;
			align-items :center;
		}
		&:first-child {
			@include min-width(sm) {
				border-left :1px solid $travel-table-border-color;
			}
		}
		&:last-child {
			padding :8px;
			@include min-width(sm) {
				padding      :6px 18px;
				border-right :1px solid $travel-table-border-color;
			}
		}
		a {
			position         :relative;
			display          :block;
			padding          :8px 4px;
			width            :100%;
			min-width        :130px;
			margin-left      :auto;
			margin-right     :auto;
			box-shadow       :inset 0 -2px 0 rgba(0, 0, 0, 0.15);
			border-radius    :3px;
			background-color :#feb20e;
			color            :#fff;
			font-weight      :bold;
			text-align       :center;
			white-space      :nowrap;
			text-overflow    :ellipsis;
			overflow         :hidden;
			transition       :background 0.3s ease;
			text-decoration  :none;
			@include min-width(sm) {
				padding :8px 12px;
			}
		}
		img {
			max-height :30px;
			height     :auto;
			max-width  :100%;
			width      :auto;
		}
	}
}
.table-color-pink-yellow {
	.travel-table-head__col {
		background-color :#d81db4;
	}
	.travel-table-body {
		&:after {
			background-color :rgba(#FEB20E, 0.3);
		}
		&__col {
			a {
				background-color :#feb20e;
			}
		}

	}
}
.table-red-button {
	.travel-table-head__col {
		background-image :linear-gradient(to top, #593c37 0%, #36302f 100%);
	}
	.travel-table-body {
		&:after {
			background-color :rgba(#e74e34, 0.2);
		}
		&:before {
			border-color :rgba(#e74e34, 0.5);
		}
		&__col {
			a {
				background-color :#e74e34;
				&:hover {
					background-color :#feb20e;
				}
			}
		}
	}
}
.table-blue-button {
	.travel-table-head__col {
		background-image :linear-gradient(to top, #3f4154 0%, #292a3a 100%);
	}
	.travel-table-body {
		&:after {
			background-color :rgba(#3dafff, 0.2);
		}
		&:before {
			border-color :rgba(#3dafff, 0.5);
		}
		&__col {
			a {
				background-color :#3dafff;
				&:hover {
					background-color :#46c7ff;
				}
			}
		}
	}
}
.table-light-green-button {
	.travel-table-head__col {
		background-color :#dfe2ed;
		color            :#687087;
	}
	.travel-table-body {
		&:after {
			background-color :rgba(#a0cc28, 0.2);
		}
		&:before {
			border-color :rgba(#a0cc28, 0.5);
		}
		&__col {
			a {
				background-color :#a0cc28;
				&:hover {
					background-color :#81cc29;
				}
			}
		}
	}
}
.table-purple-button {
	.travel-table-head__col {
		background-color :#432b5c;
	}
	.travel-table-body {
		&:after {
			background-color :rgba(#ff6055, 0.2);
		}
		&:before {
			border-color :rgba(#ff6055, 0.5);
		}
		&__col {
			a {
				background-color :#ff6055;
				&:hover {
					background-color :rgba(234, 158, -6, 0.7);
				}
			}
		}
	}
}
.table-yellow-button {
	.travel-table {
		&__row {
			&:nth-child(even) {
				.travel-table-body {
					&:before {
						background-color :#3f4154;
					}
				}
			}
			&:nth-child(odd) {
				.travel-table-body {
					&:before {
						background-color :#292a3a;
					}
				}
			}
		}
	}
	.travel-table-head__col {
		background-color :#101114;
		background-image :linear-gradient(to top, #3f4154 0%, #292a3a 100%);
	}
	.travel-table-body {
		&:after {
			background-color :rgba(#ff6055, 0);
		}
		&:before {
			border-color :rgba(#ff6055, 0);
		}
		&__col {
			a {
				background-color :#feb20e;
				&:hover {
					background-color :rgba(234, 158, -6, 0.7);
				}
			}
		}
	}

	.travel-table-head,
	.travel-table-body {
		&__col {
			border-color :#332f35 !important;
			@include max-width(sm) {
				border-color :#eaeaea !important;
			}
		}
	}
}
.table-black-theme-yellow-button {
	.travel-table {
		&__row {
			&:nth-child(even) {
				.travel-table-body {
					&:before {
						background-color :#28242a;
					}
				}
			}
			&:nth-child(odd) {
				.travel-table-body {
					&:before {
						background-color :#312b35;
					}
				}
			}
		}
	}
	.travel-table-head__col {
		background-color :#221f23;
		color            :#b5abba;
	}
	.travel-table-body {
		&:after {
			background-color :rgba(#9f82ad, 0.3);
		}
		&:before {
			border-color :rgba(#9f82ad, 0.1);
		}
		&__col {
			color :#fff;
			@include max-width(sm) {
				color :#787878;
			}
			a {
				background-color :transparent;
				border           :2px solid #ef643b;
				border-radius    :20px;
				@include max-width(sm) {
					background-image :-webkit-linear-gradient(left, #f17d1b 0%, #ed4a5e 100%);
					background-image :-moz-linear-gradient(left, #f17d1b 0%, #ed4a5e 100%);
					background-image :-o-linear-gradient(left, #f17d1b 0%, #ed4a5e 100%);
					background-image :linear-gradient(to right, #f17d1b 0%, #ed4a5e 100%);
					box-shadow       :none;
				}
				&:hover {
					background-image :-webkit-linear-gradient(left, #f17d1b 0%, #ed4a5e 100%);
					background-image :-moz-linear-gradient(left, #f17d1b 0%, #ed4a5e 100%);
					background-image :-o-linear-gradient(left, #f17d1b 0%, #ed4a5e 100%);
					background-image :linear-gradient(to right, #f17d1b 0%, #ed4a5e 100%);
					box-shadow       :none;
				}
			}
		}
	}

	.travel-table-head,
	.travel-table-body {
		&__col {
			border-color :#332f35 !important;
			@include max-width(sm) {
				border-color :#eaeaea !important;
			}
		}
	}
}
.table-plum-column {
	&.travel-table {
		background-image :linear-gradient(to top, #f60f3d 0%, #1d234e 100%);
		@include max-width(sm) {
			background :transparent;
		}
	}
	.travel-table {
		&__row {
			@include max-width(sm) {
				background-image :linear-gradient(to top, #f60f3d 0%, #1d234e 100%);
			}
			&:nth-child(even) {
				.travel-table-body {
					&:before {
						background-color :#fff;
					}
				}
			}
			&:nth-child(odd) {
				.travel-table-body {
					&:before {
						background-color :#fff;
					}
				}
			}
		}
	}
	.travel-table-head__col {
		background-color :#fff;
		color            :#15234e;
		border-top       :1px solid;
		@include max-width(sm) {
			border-top       :none;
			border-left      :1px solid;
			background-color :transparent;
			color            :#fff;
		}
		&:last-child {
			background-color :transparent;
			color            :#fff;
		}
		&:first-child {
			border-top  :1px solid;
			border-left :1px solid;
		}
	}
	.travel-table-body {
		&:after {
			background-color :rgba(#9f82ad, 0);
		}
		&:before {
			content :none;
		}
		&:hover {
			.travel-table-body__col {
				@include min-width(sm) {
					background-color :transparent;
					color            :#fff;

				}
			}
		}
		&__col {
			&:not(:last-child) {
				color            :#787878;
				background-color :#fff;
				@include max-width(sm) {
					background-color :#fff;
					color            :#262626;
				}
			}
			&:last-child {
				background-color :transparent;
				@include max-width(sm) {
					background-color :#fff;
				}
			}
			a {
				background-color :transparent;
				border           :2px solid #fff;
				border-radius    :20px;
				@include max-width(sm) {
					background-image :linear-gradient(to right, #f60f3d 0%, #1d234e 100%);
					color            :#fff;
				}
				&:hover {
					@include min-width(sm) {
						background-color :#fff;
						color            :#15234e;
						box-shadow       :none;
					}
				}
			}
		}
	}

	.travel-table-head,
	.travel-table-body {
		&__col {
			border-bottom :1px solid;
			border-color  :#eaeaea !important;
			@include max-width(sm) {
				border-right :1px solid;
			}
			&:first-child {
				border-bottom :1px solid;
			}
		}
	}
}
.table-dark-column {
	&.travel-table {
		background-color :#262626;
		@include max-width(sm) {
			background :transparent;
		}
	}
	.travel-table {
		&__row {
			&:nth-child(even) {
				.travel-table-body {
					&:before {
						background-color :#fff;
					}
				}
			}
			&:nth-child(odd) {
				.travel-table-body {
					&:before {
						background-color :#fff;
					}
				}
			}
		}
	}
	.travel-table-head__col {
		background-color :#f1d604;
		color            :#262626;
		border-top       :1px solid;
		@include max-width(sm) {
			border-top  :none;
			border-left :1px solid;
		}
		&:first-child {
			border-top  :1px solid;
			border-left :1px solid;
		}
	}
	.travel-table-body {
		&:after {
			background-color :rgba(#9f82ad, 0);
		}
		&:before {
			content :none;
		}
		&:hover {
			.travel-table-body__col {
				@include min-width(sm) {
					background-color :transparent;
					color            :#fff;
				}
			}
		}
		&__col {
			&:not(:last-child) {
				color            :#787878;
				background-color :#fff;
			}
			a {
				background-color :transparent;
				border           :2px solid #f1d604;
				border-radius    :20px;
				@include max-width(sm) {
					background-color :#f1d604;
					color            :#262626;

				}
				&:hover {
					background-color :#f1d604;
					color            :#262626;
					box-shadow       :none;
				}
			}
		}
	}

	.travel-table-head,
	.travel-table-body {
		&__col {
			border-bottom :1px solid;
			border-color  :#eaeaea !important;
			@include max-width(sm) {
				border-right :1px solid;
			}
			&:first-child {
				border-bottom :1px solid;
			}
		}
	}
}
.table-mint-button {
	.travel-table-head__col {
		background-color :#1e2c39;
		background-image :linear-gradient(to bottom, #1e2c39 0%, #3e4852 100%);
	}
	.travel-table-body {
		&:after {
			background-color :rgba(#58D3D6, 0.2);
		}
		&:before {
			border-color :transparent;
		}
		&__col {
			a {
				background-color :#58d3d6;
				&:hover {
					background-color :#58d3e0;
				}
			}
		}
	}
}

@keyframes pulse {
	0%   { transform :translate(-50%, -50%) scale(0.7); }
	50% { transform :translate(-50%, -50%) scale(1); }
	100% { transform :translate(-50%, -50%) scale(0.7); }
}