/* jQuery Growl
 * Copyright 2015 Kevin Sylvestre
 * 1.3.1
 */
$growl-top: 25px;
$growl-text-color: #fff;

#growls {
  &.default {
    z-index: 100001;
    position: fixed;
  }

  &-tr {
    z-index: 100001;
    position: fixed;
    top: $growl-top;
    right: 10px;
  }
}

.growl {
  //opacity: 0.8;
  //filter: alpha(opacity=80);
  position: relative;
  border-radius: 4px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  &.growl-incoming, &.growl-outgoing {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  &.growl-small {
    width: 200px;
    padding: 5px;
    margin: 5px;
  }
  &.growl-medium {
    width: 250px;
    padding: 10px;
    margin: 10px;
  }
  &.growl-large {
    width: 300px;
    padding: 15px;
    margin: 15px;
  }
  &.growl-default {
    color: $growl-text-color;
    background: #669396;
  }
  &.growl-error {
    color: $growl-text-color;
    background: #C0392B;
  }
  &.growl-notice {
    color: $growl-text-color;
    background: #30a2cb;
  }
  &.growl-warning {
    color: $growl-text-color;
    background: #EB974E;
  }
  .growl-close {
    cursor: pointer;
    float: right;
    font-size: 24px;
    font-weight: bold;
    font-family: helvetica, verdana, sans-serif;
    line-height: 20px;
    &:hover{
      color: darken($growl-text-color,10);
    }
  }
  .growl-title {
    font-size: 18px;
    line-height: 24px;
    display: none;
  }
  .growl-message {
    font-size: 14px;
    line-height: 24px;
  }
}

@media (max-width: $screen-sm) {
  #growls {
    &.default, &.tl, &.tr, &.tc {
      top: 45px;
    }
  }
}