$import-google-fonts: false;
$icons-font-path: '~sass-semantic-ui/src/fonts/' !default;
$flags-image-path: '~sass-semantic-ui/src/images/' !default;
$font-name: 'Roboto' !default;
$font-family: $font-name, 'Helvetica Neue', Arial, Helvetica, sans-serif !default;

@import '~semantic-ui-sass/scss/modules/checkbox';
@import '~semantic-ui-sass/scss/modules/dropdown';
@import '~semantic-ui-sass/scss/modules/search';
@import '~semantic-ui-sass/scss/modules/transition';
@import '~semantic-ui-sass/scss/collections/message';
@import '~semantic-ui-sass/scss/modules/checkbox';

//@import '~semantic-ui-sass/scss/modules/accordion';
//@import '~semantic-ui-sass/scss/modules/dimmer';
//@import '~semantic-ui-sass/scss/modules/embed';
//@import '~semantic-ui-sass/scss/modules/modal';
//@import '~semantic-ui-sass/scss/modules/nag';
//@import '~semantic-ui-sass/scss/modules/popup';
//@import '~semantic-ui-sass/scss/modules/progress';
//@import '~semantic-ui-sass/scss/modules/rating';
//@import '~semantic-ui-sass/scss/modules/shape';
//@import '~semantic-ui-sass/scss/modules/sidebar';
//@import '~semantic-ui-sass/scss/modules/sticky';
//@import '~semantic-ui-sass/scss/modules/tab';
//@import '~semantic-ui-sass/scss/modules/video';

@import '../base/custom-semantic';
