.tippy-popper {
  max-width: 287px;
}

.tippy-tooltip {
  padding: 9px 16px;
  border-radius: 5px;
  line-height: 1.46;
  font-size: 13px;
  letter-spacing: 0.00769231em;
  text-align: left;
  background-color: rgba($black, 0.9);
}

.tippy-popper[x-placement^=top] .tippy-arrow {
  border-top: 7px solid rgba($black, 0.9);
  border-right: 12.5px solid transparent;
  border-left: 12.5px solid transparent;
}
