{% block content %}

    <div class="table-info__item">
        {{ form_start(form_from_our_city_fly) }}

        {{ form_row(form_from_our_city_fly.title) }}
        {{ form_row(form_from_our_city_fly.title_tag) }}
        {{ form_row(form_from_our_city_fly.extra_table_marker) }}
        {{ form_row(form_from_our_city_fly.sort_column) }}
        {#{ form_row(form_from_our_city_fly.table_columns) }#}
        {{ form_row(form_from_our_city_fly.paginate) }}
        {{ form_row(form_from_our_city_fly.paginate_rows_per_page) }}
        {{ form_row(form_from_our_city_fly.limit) }}



        <!-- /.table-info__item -->
        <div class="table-info__item">
            <div class="apply-tables">
                <input id="apply-tables_26" type="checkbox" name="apply-tables-toggle">
                <label for="apply-tables_26"><span>Применить ко всем таблицам</span></label>
            </div>
            <div class="table-info__action">
                <button class="btn btn--color" type="submit">
                    <span>{{ _x('Save changes','general_save_changes_button') }}</span>
                </button>
                <button class="btn">
                            <span>
                                {{ _x('Set default','general_default_button') }}
                            </span>
                </button>
            </div>
        </div>
        <!-- /.table-info__item -->

        {{ form_end(form_from_our_city_fly) }}
    </div>
{% endblock %}