{% block content %}

    <div class="table-info__item">
        {{ form_start(form_our_site_search) }}

        {{ form_row(form_our_site_search.title) }}
        {{ form_row(form_our_site_search.title_tag) }}
        {{ form_row(form_our_site_search.extra_table_marker) }}
        {{ form_row(form_our_site_search.sort_column) }}
        {#{ form_row(form_our_site_search.table_columns) }#}
        {{ form_row(form_our_site_search.button_title) }}
        {{ form_row(form_our_site_search.paginate) }}
        {{ form_row(form_our_site_search.paginate_rows_per_page) }}
        {{ form_row(form_our_site_search.limit) }}
        {{ form_row(form_our_site_search.type_transplant) }}



        <!-- /.table-info__item -->
        <div class="table-info__item">
            <div class="apply-tables">
                <input id="apply-tables_28" type="checkbox" name="apply-tables-toggle">
                <label for="apply-tables_28"><span>Применить ко всем таблицам</span></label>
            </div>
            <div class="table-info__action">
                <button class="btn btn--color" type="submit">
                    <span>{{ _x('Save changes','general_save_changes_button') }}</span>
                </button>
                <button class="btn">
                            <span>
                                {{ _x('Set default','general_default_button') }}
                            </span>
                </button>
            </div>
        </div>
        <!-- /.table-info__item -->

        {{ form_end(form_our_site_search) }}
    </div>
{% endblock %}