{% block content %}

        <div class="table-info__item">
            {{ form_start(form_price_calendar_month) }}
                {{ form_row(form_price_calendar_month.title) }}
                {{ form_row(form_price_calendar_month.title_tag) }}
                {{ form_row(form_price_calendar_month.extra_table_marker) }}
                {{ form_row(form_price_calendar_month.sort_column) }}
                {#{ form_row(form_price_calendar_month.table_columns) }#}
                {{ form_row(form_price_calendar_month.type_transplant) }}
                {{ form_row(form_price_calendar_month.button_title) }}
                {{ form_row(form_price_calendar_month.paginate) }}
                {{ form_row(form_price_calendar_month.paginate_rows_per_page) }}


                <!-- /.table-info__item -->
                <div class="table-info__item">
                    <div class="apply-tables">
                        <input id="apply-tables_31" type="checkbox" name="apply-tables-toggle">
                        <label for="apply-tables_31"><span>Применить ко всем таблицам</span></label>
                    </div>
                    <div class="table-info__action">
                        <button class="btn btn--color" type="submit">
                            <span>{{ _x('Save changes','general_save_changes_button') }}</span>
                        </button>
                        <button class="btn">
                            <span>
                                {{ _x('Set default','general_default_button') }}
                            </span>
                        </button>
                    </div>
                </div>
                <!-- /.table-info__item -->



            {{ form_end(form_price_calendar_month) }}
        </div>
{% endblock %}