{% block tp_city_widget %}

    <div class="ui search selection dropdown form-row__citySearch">
        <input type="hidden" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
        <input type="text" class="search">
        <div class="default text form-row__citySearch-placeholder">
            {% if value is empty %}
                {{ attr.placeholder }}
            {% endif %}
        </div>
        <span class="form-row__citySearch-name">{{ value }}</span>
        <div class="menu"></div>
    </div>

{% endblock %}


{% block tp_slider_widget %}
    <input type="hidden" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{% endblock %}

{% block tp_ui_sortable_connected_widget %}
    <p class="sort__subtitle">{{ description }}</p>
    <div class="sort_table">
        {% for row_id,row in rows %}
            <div class="sort_table__col">
                <p class="table-info__subtitle">{{ row.label }}</p>
                <ul id="{{ row_id }}" data-row-name="{{ full_name }}" class="sort_table__list">
                    {% if row.defaultValueCollection and all_values_used == false %}
                        {% for value_id,value_label in values %}
                            <li id="{{ name }}_{{ value_id }}">{{ value_label }}</li>
                        {% endfor %}
                    {% endif %}
                    {% if value[row_id] is not empty %}
                        {% for row_id_value in value[row_id] %}
                            <li id="{{ name }}_{{ row_id_value }}">{{ values[row_id_value] }}</li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}



{%- block tp_radio_widget -%}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            <div class="form-row__radio">
                {{- form_widget(child) -}}
                {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
            </div>
        {% endfor -%}
    </div>
{%- endblock tp_radio_widget -%}


{% block tp_color_pallete_bg_widget %}
    <div class="tp_color_pallete_bg_widget">
        <div class="bg-pallete" data-field="{{ id }}">
            <div class="bg-pallete__inner">
                {%- for key, choice in choices %}
                    <div class="color-pallete__item" data-value="{{ choice }}">
                        <label style="background-color: {{ choice }};">
                            <ins></ins>
                            <ins></ins>
                        </label>
                    </div>
                    <!-- /.color-pallete__item -->
                {% endfor %}
                <div class="color-pallete__item color-pallete__item_custom">
                    <label style="background-color: #A2CCFF;">
                        <span class="label-info">Custom</span>
                        <ins></ins>
                        <ins></ins>
                    </label>
                </div>
            </div>
        </div>

        <div class="color-pallete-choose tp_color_pallete_widget__custom">
            <div class="color-pallete-choose__item">
                <p class="table-info__subtitle">{{ label_custom_color }}</p>
                <div class="color-pallete-choose__inner">
                    <span class="color-pallete-choose__hex">{{ value }}</span>
                    <input class="color-pallete-choose__color color-pallete-choose__pin-color"
                           type="text" value="{{ value }}" {{ block('widget_attributes') }}>
                </div>
                <!-- /.color-pallete-choose__inner -->
            </div>
            <!-- /.color-pallete-choose__item -->
        </div>
    </div>
{% endblock %}

{#TP_Form_Type_Color_Pallete#}
{% form_theme form _self %}

{% block tp_form_type_color_pallete_widget %}

    <div class="tp_color_pallete_widget">
        <div class="color-pallete" data-field="{{ id }}">
            <div class="color-pallete__inner">
                {%- for key, choice in choices %}
                    <div class="color-pallete__item" data-pin="{{ choice.pin_color }}"
                         data-text="{{ choice.text_color }}">
                        <label style="background-color: {{ choice.pin_color }};">
                        </label>
                    </div>
                    <!-- /.color-pallete__item -->
                {% endfor %}
                <div class="color-pallete__item color-pallete__item_custom">
                    <label style="background-color: #A2CCFF;">
                        <span class="label-info">Custom</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="color-pallete-choose tp_color_pallete_widget__custom">
            <div class="color-pallete-choose__item">
                <p class="table-info__subtitle">
                    {{ form_label(form.pin_color) }}
                </p>
                {{ form_widget(form.pin_color, {'input_class': 'color-pallete-choose__pin-color'}) }}
                <!-- /.color-pallete-choose__inner -->
            </div>
            <!-- /.color-pallete-choose__item -->
            <div class="color-pallete-choose__item">
                <p class="table-info__subtitle">
                    {{ form_label(form.text_color) }}
                </p>
                {{ form_widget(form.text_color, {'input_class': 'color-pallete-choose__text-color'}) }}
                <!-- /.color-pallete-choose__inner -->
            </div>
            <!-- /.color-pallete-choose__item -->
        </div>
        <!-- /.color-pallete__choose -->
    </div>
{% endblock %}



{% block tp_form_type_colorpicker_widget %}
    <div class="color-pallete-choose__inner">
        <span class="color-pallete-choose__hex">{{ value }}</span>
        <input class="color-pallete-choose__color {{ input_class }}" type="text"
                {{ block('widget_attributes') }}  {% if value is not empty %}value="{{ value }}" {% endif %}>
    </div>
{% endblock %}
