.modal-dialog {
  $subitem-color: #f6f6f6;
  &__subitem {
    background: $subitem-color;
    margin: 0 -20px;
    padding: 15px 20px;
    border-color: darken($subitem-color, 10);
    border-width: 1px 0 1px 0;
    border-style: solid;
    box-shadow: 0px 0px 5px darken($subitem-color, 8) inset;
    position: relative;

    .travel-modal__item {
      &:last-child {
        margin-bottom: 15px !important;
      }
    }

  }
}

.travel-modal {
  $travel-model: &;
  &__item {
    margin-bottom: 15px;
  }

  &__item, &__subitem {
    &.has-error {
      #{$travel-model} {
        &__label {
          color: $color-danger;
          font-weight: bold;
        }
        &__error-data {
          display: block;
          margin: 5px 0 0 0;
          color: $color-danger;
        }
      }
    }
  }
}