<div class="travel-modal__item" class-travel-modal__subitem="subitem" class-has-error="fieldError">

    {{#if label}}
    <label class="travel-modal__label" on-click="@this.elementFocus()">{{label}}</label>
    {{/if}}
    <div class-error-field="fieldError" class-is-error="fieldError">{{>content}}
        {{#if forAttr}}
        {{#if fieldError}}
        <span class="travel-modal__error-data">{{fieldMessage}}</span>
        {{/if}}
        {{/if}}
    </div>
</div>