.travel-modal {
  $travel-modal: &;

  &__content {
    pre {
      overflow: auto;
      background: #ececec;
      padding: 10px 20px;
    }
  }

  &__action {
    padding: 12px;

    #{$travel-modal} {
      &__btn {
        font-size: 16px !important;
        padding: 8px 12px !important;
      }
    }
  }

  &__divider {
    margin: 10px 0;
    border-top: 1px solid #d4d4d4;
    border-bottom: 0 solid #fff;
  }

  &_validating {
    opacity: 0.7 !important;
    pointer-events: none;
  }

  $col-count: 6;

  &__row {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    &_center{
      align-items: center;
    }
  }


  @for $i from 1 through $col-count {
    #{$travel-modal}__col-#{$i} {
      flex-basis: 100% / $col-count * $i;
      max-width: 100% / $col-count * $i;
      padding-right: 10px;

      &:last-child {
        padding-right: 0;
      }
    }
  }

}