<div class="modal-dialog"><div class="travel-modal__head">
    <span>{{title}}</span>
    <button type="button" class="travel-modal__close" role="button" title="Close" on-click="@this.closeModal()">
        &#xD7;
    </button>
</div>
<div class="travel-modal__content">
    {{>content}}
</div></div>