{% block content %}
    <div class="search-result__action separate-line">
        <a href="#" class="btn search-result__btn search-result__btn--delete disabled">
            <svg width="16" height="16" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Canvas" transform="translate(-3948 -616)">
                    <rect x="3948" y="616" width="16" height="16" fill="#FFFFFF"></rect>
                    <clipPath id="clip-0" clip-rule="evenodd">
                        <path d="M 3824 -256L 4588 -256L 4588 1762L 3824 1762L 3824 -256Z" fill="#FFFFFF"></path>
                    </clipPath>
                    <g id="+ Forms Behavior" clip-path="url(#clip-0)">
                        <g id="Rectangle">
                            <use xlink:href="#path0_fill" transform="translate(3824 -256)" fill="#FFFFFF"></use>
                        </g>
                        <g id="3">
                            <g id="Rectangle">
                                <use xlink:href="#path1_fill" transform="translate(3909 594)" fill="#FFFFFF"></use>
                            </g>
                            <g id="btn_delite_active">
                                <g id="Rectangle" opacity="0.3">
                                    <use xlink:href="#path2_fill" transform="translate(3929 604)"
                                         fill="#ECEFF1"></use>
                                    <mask id="mask0_outline_ins">
                                        <use xlink:href="#path2_fill" fill="white"
                                             transform="translate(3929 604)"></use>
                                    </mask>
                                    <g mask="url(#mask0_outline_ins)">
                                        <use xlink:href="#path3_stroke_2x" transform="translate(3929 604)"
                                             fill="#CFD8DC"></use>
                                    </g>
                                </g>
                                <g id="icon_trash_hover">
                                    <g id="Combined Shape">
                                        <use xlink:href="#path4_fill" transform="translate(3948 616)"></use>
                                    </g>
                                    <g id="Rectangle">
                                        <use xlink:href="#path5_fill" transform="translate(3953.5 623)"></use>
                                    </g>
                                    <g id="Rectangle">
                                        <use xlink:href="#path5_fill" transform="translate(3956.5 623)"></use>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
                <defs>
                    <path id="path0_fill" fill-rule="evenodd" d="M 0 0L 764 0L 764 2018L 0 2018L 0 0Z"></path>
                    <path id="path1_fill" fill-rule="evenodd" d="M 0 0L 594 0L 594 60L 0 60L 0 0Z"></path>
                    <path id="path2_fill" fill-rule="evenodd"
                          d="M 0 4C 0 1.79086 1.79086 0 4 0L 119 0C 121.209 0 123 1.79086 123 4L 123 36C 123 38.2091 121.209 40 119 40L 4 40C 1.79086 40 0 38.2091 0 36L 0 4Z"></path>
                    <path id="path3_stroke_2x"
                          d="M 4 1L 119 1L 119 -1L 4 -1L 4 1ZM 122 4L 122 36L 124 36L 124 4L 122 4ZM 119 39L 4 39L 4 41L 119 41L 119 39ZM 1 36L 1 4L -1 4L -1 36L 1 36ZM 4 -1C 1.23858 -1 -1 1.23858 -1 4L 1 4C 1 2.34315 2.34315 1 4 1L 4 -1ZM 119 1C 120.657 1 122 2.34315 122 4L 124 4C 124 1.23858 121.761 -1 119 -1L 119 1ZM 122 36C 122 37.6569 120.657 39 119 39L 119 41C 121.761 41 124 38.7614 124 36L 122 36ZM 4 39C 2.34315 39 1 37.6569 1 36L -1 36C -1 38.7614 1.23858 41 4 41L 4 39Z"></path>
                    <path id="path4_fill" fill-rule="evenodd"
                          d="M 4.5 2.70001C 4.5 2.86566 4.36572 3 4.19995 3L 0.300049 3C 0.134277 3 0 3.13434 0 3.29999L 0 4.70001C 0 4.86566 0.134277 5 0.300049 5L 1.69995 5C 1.86572 5 2 5.13434 2 5.29999L 2 15.7C 2 15.8657 2.13428 16 2.30005 16L 13.7 16C 13.8657 16 14 15.8657 14 15.7L 14 5.29999C 14 5.13434 14.1343 5 14.3 5L 15.696 5C 15.8618 5 15.9961 4.86566 15.9961 4.70001L 15.9961 3.29999C 15.9961 3.13434 15.8618 3 15.696 3L 11.8 3C 11.6343 3 11.5 2.86566 11.5 2.70001L 11.5 0.299988C 11.5 0.134338 11.3657 0 11.2 0L 4.80005 0C 4.63428 0 4.5 0.134338 4.5 0.299988L 4.5 2.70001ZM 4 5.29999C 4 5.13434 4.13428 5 4.30005 5L 11.7 5C 11.8657 5 12 5.13434 12 5.29999L 12 13.7C 12 13.8657 11.8657 14 11.7 14L 4.30005 14C 4.13428 14 4 13.8657 4 13.7L 4 5.29999ZM 6.80005 2C 6.63428 2 6.5 2.13434 6.5 2.29999L 6.5 2.70001C 6.5 2.86566 6.63428 3 6.80005 3L 9.19995 3C 9.36572 3 9.5 2.86566 9.5 2.70001L 9.5 2.29999C 9.5 2.13434 9.36572 2 9.19995 2L 6.80005 2Z"></path>
                    <path id="path5_fill" fill-rule="evenodd"
                          d="M 0 0.3C 0 0.134315 0.134315 0 0.3 0L 1.7 0C 1.86569 0 2 0.134315 2 0.3L 2 4.7C 2 4.86569 1.86569 5 1.7 5L 0.3 5C 0.134315 5 0 4.86569 0 4.7L 0 0.3Z"></path>
                </defs>
            </svg>
            <span>{{ _x('Remove','tp admin page auto links btn remove') }}</span>
        </a>
        <a href="admin.php?page=travelpayouts_auto_replace_links&action=add" class="btn btn--color search-result__btn search-result--add">
            <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#plus-icon"></use>
            </svg>
            <span>{{ _x('Add link','tp admin page auto links btn add link') }}</span>
        </a>
    </div>
    <form action="#" method="post" class="search-result-form text-link text-link-form">
        <div class="result-table">
            <div class="result-table__item result-table__item-head separate-line">
                <div class="result-table__col">
                    <a href="#" class="result-table__choice"></a>
                    <a class="result-table__sort" href="#">{{ _x('Anchor','tp admin page auto links table td_1 label') }}</a>
                </div>
                <!-- /.result-table__col -->
                <div class="result-table__col">
                    <a href="#">{{ _x('Link','tp admin page auto links table td_2 label') }}</a>
                </div>
                <!-- /.result-table__col -->
            </div>
            <!-- /.result-table__item -->

            {% for replaced_link in replaced_links %}
                <input id="text-link_{{ replaced_link.id}}" type="checkbox" name="text-link_{{ replaced_link.id}}">
                <label for="text-link_{{ replaced_link.id}}">
                    <div class="result-table__item separate-line">
                        <div class="result-table__col">
                            <span class="result-table__title">{{ replaced_link.url}}</span>
                        </div>
                        <!-- /.result-table__col -->
                        <div class="result-table__col">
                            <span class="result-table__shortcode">{{ replaced_link.anchor }}</span>
                            <a href="admin.php?page=travelpayouts_auto_replace_links&action=edit&id={{ replaced_link.id}}" class="search-result-form__btn search-result-form__btn_link">
                                <svg>
                                    <use xlink:href="#edit-icon"/>
                                </svg>
                            </a>
                        </div>
                        <!-- /.result-table__col -->
                    </div>
                    <!-- /.result-table__item -->
                </label>

            {% endfor %}


        </div>
    </form>
{% endblock %}