{% extends _base %}

{% block content %}
    <p class="section-title">{{ _x('Adding links', 'tp admin page auto links add paragraph_3') }}</p>
    {{ form_start(form) }}

    <div class="shortcode-form__item separate-line">
        {{ form_row(form.url) }}
        {{ form_row(form.anchor) }}
        {{ form_row(form.onclick) }}
    </div>
    <div class="shortcode-form__item separate-line">
        {{ form_row(form.nofollow) }}
        {{ form_row(form.replace) }}
        {{ form_row(form.target_blank) }}
    </div>
    <div class="table-info__action">
        <button class="btn btn--color" type="submit"><span>{{ _x('Save changes','general_save_changes_button') }}</span></button>
    </div>
    {{ form_end(form) }}
{% endblock %}