{% block content %}
    {{ form_start(form) }}
    <div class="table-info__item">
        <div class="pagination-settings">
            <p class="table-info__title">{{ _x('Options','tp admin page auto links options title label') }}</p>
        </div>
        {{ form_row(form.replace_count) }}
        {{ form_row(form.insert_title) }}
        {{ form_row(form.insert_post) }}
    </div>


    <div class="table-info__item">
        {{ form_row(form.insert_exist) }}
        <button class="btn btn--color" type="submit"><span>{{ _x('Save changes','general_save_changes_button') }}</span></button>
    </div>
    {{ form_end(form) }}
{% endblock %}