{% extends _base %}

{% block content %}
    <p class="section-title">
        {{ _x('Auto-links','tp admin page auto links paragraph_1') }}</p>
    <div class="search-form__desc separate-line">
        <p>{{_x('Here you can setup auto-links. Define anchor and your referral link for that anchor.','tp admin page auto links paragraph_2')}}
            <a href="https://www.travelpayouts.com/tools/links">https://www.travelpayouts.com/tools/links</a><br> Анкор
            чувствителен к регистру символов.<br>
            Подробная инструкция доступна <a href="#">тут</a>.
        </p>
    </div>

    <div class="search-result">
        <p class="section-subtitle">{{ _x('List of links','tp admin page auto links paragraph_3') }}</p>
        {% include('/menu/auto-links/_grid.twig') %}

        <div class="table-info__item">
                <div class="shortcode-form__row text-link__file">
                    <p class="shortcode-form__field-title">{{ _x('Export links','tp admin page auto links btn export links') }}</p>
                    <input id="import-link" type="file" name="import_link">
                    <label for="import-link">{{_x('Save to my computer', 'tp admin page auto links btn export links')}}</label>
                </div>
                <div class="shortcode-form__row text-link__file text-link__file--export">
                    <p class="shortcode-form__field-title">{{_x('Import links', 'tp admin page auto links btn import links')}}</p>
                    <input id="export-link" type="file" name="export_link">
                    <label for="export-link">{{_x('Upload file with links', 'tp admin page auto links btn import links')}}</label>
                </div>
            </div>
            {% include('/menu/auto-links/form.twig') %}
    </div>



{% endblock %}