.tp-form-component {
  border: 1px solid rgba(125, 125, 125, .3);
  padding: 10px 20px;
  margin: 10px 0;
  &__debug {
    margin: 10px 0;
    background: rgba(0, 0, 0, 0.1);
    padding: 15px;
    overflow: auto;
  }

  .form-row__checkbox {
    > label {
      display: none !important;
    }
  }
}