{% block content %}
    <div class="breadcrumbs separate-line">
        <a href="./admin.php?page=travelpayouts">Travelpayouts</a>
        {% if _action %}
            <a href="./admin.php?page={{ _page_url }}">{{ breadcrumb_title(_page_url) }}</a>
            <a class="js_breadcrumbs_active"
               href="./admin.php?page={{ _page_url }}&action{{ _action }}">

                {{ breadcrumb_title(_page_url,_action) }}</a>
        {% else %}
            <a class="js_breadcrumbs_active" href="./admin.php?page={{ _page_url }}">{{ breadcrumb_title(_page_url) }}</a>
        {% endif %}
    </div>
{% endblock %}
