<div class="tp-footer">
    <hr>
    <p><?php echo __('A problem with the plugin? Have some suggestions or ideas? Contact us at','travelpayouts');?>
        <a href="mailto:wpplugin@travelpayouts.com">wpplugin@travelpayouts.com</a></p></div>


