<div class="travel" id="travelpayouts_admin">
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none; height: 0">
        <symbol id="drop_down_close" width="11" height="11" viewBox="0 0 11 11">
            <path fill-rule="evenodd"
                  d="M 5.71342 3.81838C 5.59627 3.93553 5.40632 3.93553 5.28916 3.81838L 1.68291 0.212132C 1.56576 0.0949747 1.37581 0.0949747 1.25865 0.212132L 0.212132 1.25865C 0.0949747 1.37581 0.0949747 1.56576 0.212132 1.68291L 3.81838 5.28916C 3.93553 5.40632 3.93553 5.59627 3.81838 5.71342L 0.212132 9.31967C 0.0949747 9.43682 0.0949747 9.62677 0.212132 9.74393L 1.25865 10.7904C 1.37581 10.9076 1.56576 10.9076 1.68291 10.7904L 5.28916 7.1842C 5.40632 7.06705 5.59627 7.06705 5.71342 7.1842L 9.31967 10.7904C 9.43682 10.9076 9.62677 10.9076 9.74393 10.7904L 10.7904 9.74393C 10.9076 9.62677 10.9076 9.43682 10.7904 9.31967L 7.1842 5.71342C 7.06705 5.59627 7.06705 5.40632 7.1842 5.28916L 10.7904 1.68291C 10.9076 1.56576 10.9076 1.37581 10.7904 1.25865L 9.74393 0.212132C 9.62677 0.0949747 9.43682 0.0949747 9.31967 0.212132L 5.71342 3.81838Z"/>
        </symbol>
        <symbol id="plus-icon" width="17" height="16" viewBox="0 0 491.86 491.86">
            <path d="M465.167,211.614H280.245V26.691c0-8.424-11.439-26.69-34.316-26.69s-34.316,18.267-34.316,26.69v184.924H26.69    C18.267,211.614,0,223.053,0,245.929s18.267,34.316,26.69,34.316h184.924v184.924c0,8.422,11.438,26.69,34.316,26.69    s34.316-18.268,34.316-26.69V280.245H465.17c8.422,0,26.69-11.438,26.69-34.316S473.59,211.614,465.167,211.614z"/>
        </symbol>
        <symbol id="edit-icon" width="16" height="16" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M 11.4551 0.0878906L 0.0878906 11.4551C 0.0317383 11.5114 0 11.5877 0 11.6672L 0 15.4852C 0 15.6509 0.134277 15.7852 0.300293 15.7852L 4.1123 15.7794C 4.19189 15.7793 4.26758 15.7477 4.32373 15.6917L 15.6978 4.33038C 15.8149 4.21344 15.8149 4.02344 15.6978 3.90613L 11.8794 0.0878906C 11.7622 -0.0292969 11.5723 -0.0292969 11.4551 0.0878906ZM 9.75781 5.03766L 10.748 6.02759C 10.8652 6.14471 10.8652 6.33472 10.748 6.45184L 3.50293 13.6967C 3.44678 13.7529 3.37061 13.7845 3.29102 13.7845L 2.30078 13.7845C 2.13525 13.7845 2.00098 13.6502 2.00098 13.4846L 2.00098 12.4946C 2.00098 12.415 2.03271 12.3387 2.08887 12.2825L 9.3335 5.03766C 9.45068 4.92047 9.64062 4.92047 9.75781 5.03766ZM 12.8696 3.90625L 11.8794 2.91632C 11.7622 2.79913 11.5723 2.79913 11.4551 2.91632L 11.1724 3.19916C 11.0552 3.31628 11.0552 3.50623 11.1724 3.62341L 12.1621 4.61334C 12.2793 4.73053 12.4692 4.73053 12.5864 4.61334L 12.8696 4.33051C 12.9863 4.21338 12.9863 4.02338 12.8696 3.90625Z"/>
        </symbol>
        <symbol id="back-arrow-icon" viewBox="0 0 492 492">
            <path d="M464.344,207.418l0.768,0.168H135.888l103.496-103.724c5.068-5.064,7.848-11.924,7.848-19.124    c0-7.2-2.78-14.012-7.848-19.088L223.28,49.538c-5.064-5.064-11.812-7.864-19.008-7.864c-7.2,0-13.952,2.78-19.016,7.844 L7.844,226.914C2.76,231.998-0.02,238.77,0,245.974c-0.02,7.244,2.76,14.02,7.844,19.096l177.412,177.412 c5.064,5.06,11.812,7.844,19.016,7.844c7.196,0,13.944-2.788,19.008-7.844l16.104-16.112c5.068-5.056,7.848-11.808,7.848-19.008       c0-7.196-2.78-13.592-7.848-18.652L134.72,284.406h329.992c14.828,0,27.288-12.78,27.288-27.6v-22.788 C492,219.198,479.172,207.418,464.344,207.418z"/>
        </symbol>
        <symbol id="copy-icon" width="16" height="16" viewBox="0 0 16 16">
            <path transform="translate(0 3)" fill-rule="evenodd"
                  d="M 0.300049 0C 0.134277 0 0 0.134338 0 0.299988L 0 12.7C 0 12.8657 0.134277 13 0.300049 13L 9.69995 13C 9.86572 13 10 12.8657 10 12.7L 10 0.299988C 10 0.134338 9.86572 0 9.69995 0L 0.300049 0ZM 2.30005 2C 2.13428 2 2 2.13434 2 2.29999L 2 10.7C 2 10.8657 2.13428 11 2.30005 11L 7.69995 11C 7.86572 11 8 10.8657 8 10.7L 8 2.29999C 8 2.13434 7.86572 2 7.69995 2L 2.30005 2Z"/>
            <path transform="translate(4 0)" fill-rule="evenodd"
                  d="M 9.7 13C 9.86569 13 10 12.8657 10 12.7L 10 0.3C 10 0.134315 9.86569 0 9.7 0L 0.3 0C 0.134315 0 0 0.134315 0 0.3L 0 1.7C 0 1.86569 0.134315 2 0.3 2L 7.7 2C 7.86569 2 8 2.13431 8 2.3L 8 10.7C 8 10.8657 7.86569 11 7.7 11L 7.3 11C 7.13431 11 7 11.1343 7 11.3L 7 12.7C 7 12.8657 7.13431 13 7.3 13L 9.7 13Z"/>
        </symbol>
        <symbol id="arrow-right-icon" width="7" height="11" viewBox="0 0 7 11">
            <path fill-rule="evenodd"
                  d="M 3.98207 5.28597C 4.10179 5.40354 4.10179 5.59646 3.98207 5.71403L 0.217926 9.41097C 0.0982092 9.52854 0.0982092 9.72146 0.217926 9.83903L 1.18979 10.7935C 1.30649 10.9082 1.49351 10.9082 1.61021 10.7935L 6.78207 5.71403C 6.90179 5.59646 6.90179 5.40354 6.78207 5.28597L 1.61021 0.206459C 1.49351 0.0918379 1.30649 0.0918379 1.18979 0.206459L 0.217926 1.16097C 0.0982092 1.27854 0.0982092 1.47146 0.217926 1.58903L 3.98207 5.28597Z"/>
        </symbol>
    </svg>


    <div class="container main-info travel__main_container">
        <div class="travel-notice">
            {% if _messages|length > 0 %}
                {% for type, messages in _messages %}
                    {% for message in messages %}
                        <div class="{{ type ? type : '' }} notice travel-notice__message">
                            {{ message|trans({}, domain|default('messages')) }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}</div>
        <!-- BEGIN sidebar  -->
        <div class="row">
            <div class="col-xs-4">
                {% include '/layouts/sidebar.twig' %}
                <!-- /.sidebar -->
            </div>
            <!-- END sidebar -->
            <!-- BEGIN main  -->
            <main class="col-md-8">

                <div class="main-content {% block _main_content_classes %}{% endblock %}">
                    <button class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    {% include '/layouts/breadcrumbs.twig' %}
                    <!-- /.breadcrumbs -->
                    <div class="main-content__inner">
                        {% block content %}
                        {% endblock %}
                    </div>
                    <!-- /.main-content__inner -->
                </div>
                <!-- /.search-form -->
            </main>
            <!-- END main -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
    <div class="body-overlay"></div>

    <div class="drop_down">
        <div class="container z-index drop_down__inner">
            <div class="logo">
                <img src="{{ _img_url }}logo.svg" alt="logo">
                <p class="logo__title">TravelPayouts</p>
            </div>
            <div class="drop_down__desc">
                <p>Почти готово!<br>Внесите данные вашего профиля в Travelpayouts и начните зарабатывать на продаже
                    туристических услуг.</p>
            </div>
            <div class="drop_down__action">
                <button class="btn"><span>Приступить к настройке</span></button>
            </div>
        </div>
        <!-- /.container -->
        <div class="drop_down__bg"></div>
        <div class="drop_down__bg-gradient"></div>
        <button class="drop_down__close">
            <svg>
                <use xlink:href="#drop_down_close"/>
            </svg>
        </button>
    </div>
    <!-- /.drop_down -->
</div>