{% block content %}
    <aside class="sidebar">
        <nav class="navigation" role="navigation">
            <button class="hamburger">
                <svg>
                    <use xlink:href="#back-arrow-icon"/>
                </svg>
            </button>
            <ul class="navigation__menu">
                {% for item in _menu_items %}
                    {% if item.actions is not empty and item.url == _page_url %}
                        {% set active_class = "js_menu_border" %}
                    {% elseif item.url == _page_url %}
                        {% set active_class = "js_menu_arrow js_menu_border" %}
                    {% else %}
                        {% set active_class = "" %}
                    {% endif %}
                    <li><a class="{{ active_class }}" href="admin.php?page={{ item.url }}">{{ item.title | raw }}</a>
                        {% if item.actions %}
                            {% if item.url == _page_url %}
                                {% set submenu_active_class = "js_menu_border" %}
                            {% else %}
                                {% set submenu_active_class = "" %}
                            {% endif %}
                            <ul class="navigation__submenu {{ submenu_active_class }}">
                                {% for action in item.actions %}
                                    {% if action.url == _action %}
                                        {% set submenu_item_class = "js_menu_arrow" %}
                                    {% else %}
                                        {% set submenu_item_class = "" %}
                                    {% endif %}
                                    <li>
                                        <a href="admin.php?page={{ item.url }}&action={{ action.url }}" class="{{ submenu_item_class }}">{{ action.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>


                        {% endif %}


                    </li>
                {% endfor %}
            </ul>
        </nav>
    </aside>
{% endblock %}
