.ui.checkbox,
.ui.box.checkbox,
.ui.radio.checkbox {
  display: flex;
  align-items: center;
  line-height: 1.2;
  input {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    visibility: hidden;
    opacity: 0;
    &:checked + label {
      &:before {
        background-color: $blue;
        border-color: $blue;
      }
      &:after {
        content: '';
        opacity: 1;
      }
    }
  }
  label {
    margin-bottom: 0;
    position: relative;
    padding-left: 0;
    font-size: 17px;
    color: #263239;
    cursor: pointer;
    text-transform: none;
    &:before {
      content: '';
      position: static;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      min-width: 27px;
      width: 27px;
      height: 27px;
      border: 1px solid $input-border-color;
      border-radius: 3px;
      background-color: #FFF;
      transition: 0.3s ease;
      transition-property: border-color, background-color, box-shadow;
      z-index: 1;
    }
    &:after {
      content: '';
      position: absolute;
      top: 6px;
      left: 4px;
      width: 18px;
      height: 14px;
      opacity: 0;
      background: transparent url(../images/check_mark.svg) 50% no-repeat;
      background-size: contain;
      transition: opacity 0.3s ease;
      z-index: 1;
    }
    &:hover,
    &:focus {
      .search-result-form__btn {
        visibility: visible;
        opacity: 1;
      }
      .result-table__title {
        color: $blue;
      }
      &:before {
        border-color: $blue;
      }
    }
    //&.table-info__subtitle {
    //  margin-top :20px;
    //}

    span {
      padding-top: 4px;
    }
  }
}

.ui.radio.checkbox {
  input:checked + label {
    &:before {
      box-shadow: inset 0 0 0 6px #02BBD7;
      background-color: transparent;
    }
  }
  label {
    &:after {
      display: none;
    }
    &:before {
      width: 26px;
      height: 26px;
      border-radius: 50%;
      border: 0;
      box-shadow: inset 0 0 0 1px $input-border-color;
    }
  }
}

.ui.radio.checkbox input:checked ~ .box:after,
.ui.radio.checkbox input:checked ~ label:after {
  background-color: transparent;
}

.ui.radio.checkbox .box:after,
.ui.radio.checkbox label:after {
  transform: scale(1);
}

.shortcode-form {
  .table-info__item:last-of-type {
    .ui.checkbox label {
      margin-bottom: 20px;
    }
  }
}

.period-price__head {
  .shortcode-form {
    &__row {
      @extend .apply-tables;
    }
  }
}

.period-price__body {
  .shortcode-form {
    &__row {
      display: inline-flex;
      @extend .apply-tables;
    }
  }
}

.ui.dropdown > .dropdown.icon:before,
i.icon.dropdown:before {
  content: "\e900";
  font-family: 'tpDropdown' !important;
  font-size: 7px;
}

.ui.selection.dropdown {
  border: 1px solid $input-border-color;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07);
  padding: 14px 15px;
  width: 100%;
  max-width: 387px;
  &:hover {
    border-color: $base-color;
  }
}

.ui.search.selection.dropdown > input.search {
  padding: 14px 15px;
}

.ui.dropdown:not(.button) > .default.text,
.ui.default.dropdown:not(.button) > .text {
  color: $input-border-color;
}

.ui {
  &.dropdown {
    > .text {
      padding-right: 20px;
    }
  }
}