.helper {
	position    :relative;
	margin-left :10px;
	display     :inline-block;
	align-self :center;
	width       :18px;
	height      :18px;
	&:hover {
		.helper__bg {
			fill :$blue;
		}
	}
	&__bg {
		transition :fill 0.3s ease;
		fill       :$input-border-color;
	}
}