.select {
  position: relative;
  &--border {
    .select{
      &__list {
        label {
          span {
            display: block;
            width: 90%;
            min-height: 2px;
            border-bottom-color: $input-border-color;
            border-bottom-width: 3px;
            transform: translateY(-8px);
            }
        }
      }
      &__title {
        span {
          display: block;
          width: 90%;
          min-height: 2px;
          border-bottom-color: $input-border-color;
          border-bottom-width: 3px;
          transform: translateY(-8px);
        }
      }
    }
  }
  &__title {
    position: relative;
    display: block;
    width: 100%;
    padding: 15px 30px 15px 15px;
    background: $white;
    border: 1px solid $input-border-color;
    border-radius: 4px;
    text-align: left;
    @include max-width(xxs) {
      padding-top: 12px;
      padding-bottom: 12px;
    }
    &:hover {
      border-color: $base-color;
      svg {
        fill: $base-color;
      }
    }
    &.js_select_show {
      svg {
        fill: $base-color;
        transform: translateY(-50%) rotate(270deg);
      }
    }
    svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(90deg);
      right: 15px;
      width: 7px;
      height: 11px;
      fill: #546E7B;
      transition: 0.3s ease;
      transition-property: fill, transform;
    }
  }
  &__list {
    display: none;
    position: absolute;
    z-index: 2;
    top: calc(100% - 3px);
    left: 0;
    right: 0;
    border: 1px solid $input-border-color;
    border-radius: 0 0 4px 4px;
    background-color: $white;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.16);
    label {
      display: block;
      padding: 6px 15px;
      cursor: pointer;
      transition: 0.3s ease;
      transition-property: color, background-color;
      &:not(:last-child) {
        border-bottom: 1px solid $input-border-color;
      }
      &:nth-child(odd) {
        background-color: rgba($input-border-color, 0.2);
      }
      &:hover {
        background-color: $base-color;
        color: $white;
      }
      input {
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        visibility: hidden;
      }
    }
  }
}
