.sort {
	&__subtitle {
		margin-bottom :17px;
	}
}
.sort_table {
	display          :flex;
	align-items      :flex-start;
	justify-content  :space-between;
	padding          :30px 30px 80px;
	border           :1px solid $input-border-color;
	border-radius    :4px;
	background-color :#fff;
	@include max-width(lg) {
		padding :30px 20px;
	}
	@include max-width(xs) {
		display :block;
	}
	&__col {
		position :relative;
		width    :292px;
		@include max-width(xs) {
			width :100%;
		}
		&:nth-child(odd) {
			padding-right :50px;
			@include max-width(lg) {
				padding-right :15px;
			}
			@include max-width(xs) {
				padding-right :0;
				margin-bottom :40px;
			}
			&:after {
				content         :'';
				position        :absolute;
				top             :50%;
				transform       :translateY(-50%);
				left            :100%;
				width           :30px;
				height          :54px;
				background      :url(../images/icon_arrows_pick.svg) 50% no-repeat;
				background-size :contain;
				@include max-width(lg) {
					width  :25px;
					height :35px;
					left   :auto;
					right  :-12px;
				}
				@include max-width(md) {
					right :-20px;
				}
				@include max-width(sm) {
					right :-12px;
				}
				@include max-width(xs) {
					top       :100%;
					right     :50%;
					transform :translateX(50%) rotate(90deg);
				}
			}
		}
		&:nth-child(even) {
			padding-left :50px;
			@include max-width(lg) {
				padding-left :15px;
			}
			@include max-width(xs) {
				padding-left :0;
			}
		}
	}
	&__list {
		min-height :160px;
		@include max-width(xs) {
			min-height :40px;
		}
		li {
			position         :relative;
			width            :100%;
			height           :40px;
			margin-bottom    :5px;
			padding-left     :15px;
			padding-right    :30px;
			line-height      :36px;
			letter-spacing   :0.2px;
			background-color :#eceff1;
			border           :1px solid #cfd8dc;
			border-radius    :4px;
			color            :#2c2c2c;
			cursor           :pointer;
			white-space      :nowrap;
			overflow         :hidden;
			&:before {
				content         :'';
				position        :absolute;
				top             :50%;
				right           :15px;
				transform       :translateY(-50%);
				width           :10px;
				height          :16px;
				background      :url(../images/icon_dots_grey.svg) 50% no-repeat;
				background-size :contain;
				z-index         :1;
			}
			&:after {
				position   :absolute;
				content    :'';
				top        :0;
				bottom     :0;
				right      :0;
				width      :60px;
				background :-moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(236, 239, 241, 1) 47%);
				background :-webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(236, 239, 241, 1) 47%);
				background :linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(236, 239, 241, 1) 47%);
			}
		}
	}
	#sort_table_select,
	#selected {
		li {
			background-color :$ultrabase-color;
			border           :1px solid $blue;
			color            :#fff;
			&:before {
				background-image :url(../images/icon_dots_light.svg);
			}
			&:after {
				background :-moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(78, 207, 227, 1) 47%);
				background :-webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(78, 207, 227, 1) 47%);
				background :linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(78, 207, 227, 1) 47%);
			}
			&.ui-state-highlight:after {
				background :#e0f7fb;
			}
		}
		.ui-state-highlight {
			opacity    :1;
			background :#e0f7fb;
			border     :1px dashed #80deec;
			font-size  :0;
			&:before {
				content :none;
			}
		}
	}
	.ui-state-highlight {
		opacity :0.4;
	}
}