.transfer {
  &__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  input {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    visibility: hidden;
    opacity: 0;
    &:checked + label {
      &:before {
        background-color: $blue;
        border-color: $blue;
      }
      &:after {
        opacity: 1;
      }
    }
  }
  label {
    position: relative;
    display: inline-flex;
    align-items: flex-start;
    cursor: pointer;
    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      min-width: 26px;
      width: 26px;
      height: 26px;
      border: 1px solid $input-border-color;
      border-radius: 3px;
      background-color: #FFF;
      transition: 0.3s ease;
      transition-property: border-color, background-color;
      z-index: 1;
    }
    &:after {
      content: '';
      position: absolute;
      top: 6px;
      left: 4px;
      width: 18px;
      height: 14px;
      opacity: 0;
      background: url(../images/check_mark.svg) 50% no-repeat;
      background-size: contain;
      transition: opacity 0.3s ease;
      z-index: 1;
    }
    &:hover,
    &:focus {
      .search-result-form__btn {
        visibility: visible;
        opacity: 1;
      }
      .result-table__title {
        color: $blue;
      }
      &:before {
        border-color: $blue;
      }
    }
    span {
      padding-top: 4px;
    }
  }
}