.breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 11px;
  line-height: 1.18;
  text-transform: uppercase;
  @include max-width(sm) {
    padding-left: 35px;
    padding-right: 15px;
  }
  a {
    display: inline-block;
    position: relative;
    margin-left: 14px;
    margin-right: 9px;
    padding: 12px 0;
    transition: color 0.3s ease;
    &:first-child {
      margin-left :5px;
    }
    &:not(:last-child) {
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: calc(100% + 9px);
        margin-top: -4px;
        height: 8px;
        width: 5px;
        background: url(../images/icon_arrow_right.svg) 50% no-repeat;
        background-size: contain;
      }
    }
    &:before {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $blue;
      transform: scale(0, 1);
      transform-origin: 0 100%;
      transition: transform 0.3s ease;
    }
    &:hover,
    &:focus,
    &.js_breadcrumbs_active {
      color: $blue;
      &:before {
        transform: scale(1, 1);
      }
    }
  }
}