.container {
  &--padding {
    position: relative;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
  }
}
.main-info{
  padding-top: 15px;
  transition: margin-top 0.5s ease;
  &--welcome {
    position: relative;
    background-color: #FFF;
    padding-top :0;
    padding-bottom: 86px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.03);
    &:before {
      content: '';
      position: absolute;
      bottom: 100%;
      left: 0;
      width: 100%;
      height: 260px;
      background-color: inherit;
    }
  }
}
.section-title {
  margin-bottom: 26px;
  font-size: 25px;
  line-height: 1.16;
  color: $dark-balzam;
  @include max-width(sm) {
    font-size: 23px;
  }
}

.section-subtitle {
  display: inline-flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 1.17;
  color: $dark-balzam;
}

.main-content,
.sidebar {
  border-radius: 4px;
  background-color: #FFF;
}

.main-content {
  position: relative;
  &__inner {
    margin-bottom: 50px;
    padding: 35px 40px;
    @include max-width(sm) {
      padding: 30px 15px;
    }
  }
}
.label-info {
  width: 150%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  padding-top: 2px;
  padding-bottom: 2px;
  transform: translate(-50%, -50%) rotate(-45deg);
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF; 
  background-color: #FF3147;
}


@media (min-width: 768px) {
  .container {
    max-width: 750px;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
} 
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
 }

}