.hamburger {
  display: none;
  position: absolute;
  top: 11.5px;
  left: 10px;
  z-index: 1;
  @include max-width(md) {
    display: block;
  }
  &:hover {
    span {
      background-color: $blue;
    }
    svg {
      fill: $blue;
    }
  }
  span {
    display: block;
    width: 25px;
    height: 3px;
    border-radius: 20px;
    background-color: $main;
    transition: color 0.3s ease;
    &:not(:last-child) {
      margin-bottom: 3px;
    }
  }
  svg {
    width: 25px;
    height: 25px;
    fill: $main;
    transition: fill 0.3s ease;
  }
}