
.header {
	&--welcome {
		width: 100%;
		padding: 40px 0 183px;
		font-size: 19px;
		border-radius: 8px 8px 0 0;
		text-align: center;
		letter-spacing: 0.4px;
		color: #fff;
		background: url(".././images/header-bg.png") 50% 100% no-repeat;
		background-size: cover;
		transition: margin-top 0.5s ease;
		@include max-width(sm) {
			font-size: 16px;
			padding: 20px 15px 126px;
		}
	}
}

//.auto-fold {
//	#wpcontent {
//		padding-right: 20px;
//
//		@media screen and (max-width: 782px) {
//			padding-left: 20px;
//		}
//	}
//}

.header-top {
	text-align: center;
	margin-bottom: 83px;
	@include max-width(sm) {
		margin-bottom: 20px;
	}

	&__btn {
		padding: 15px 52px;
		background-color: rgba(255, 255, 255, 0.1);
		border: 1px solid #fff;
		box-sizing: border-box;
		border-radius: 4px;
		font-size: 14px;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		color: #fff;
		transition: all 0.3s ease;

		&:focus,
		&:hover {
			background-color: rgba(255, 255, 255, 0.4);
		}
	}
}

.header-intro {
	width: 100%;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 54px;
	font-weight: 300;
	font-size: 19px;
	line-height: 1.4;
	letter-spacing: 0.0210526em;
	@include max-width(sm) {
		margin-bottom: 30px;
	}

	&__title {
		font-size: 39px;
		line-height: 1.18;
		margin-bottom: 11px;
		font-weight: 300;
		@include max-width(sm) {
			font-size: 26px;
		}
	}

	&__desc {
		font-size: 19px;
	}

	p {
		color: $white;
		font-weight: 300;
	}
}

.header-bottom {
	&__btn {
		padding: 17px 35px;
		box-shadow: none;
		color: #263239;
		transition: background-color .5s;
		&:focus,
		&:hover {
			color: #fff;
			background-color: #02bbd7;
			box-shadow: 0 10px 20px rgba(90,122,190,0.2);
			//color: #263239;
		}
	}

	&__link {
		display: inline-block;
		margin-top: 21px;
		line-height: 1;

		span {
			display: inline-block;
			position: relative;

			&:before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: #fff;
				transform: scale(1, 1);
				transition: transform 0.3s;
				transform-origin: 50% 50%;
			}
		}

		&:focus,
		&:hover {
			span:before {
				transform: scale(0, 1);
			}
		}
	}
}

.instruments {
	margin-top: -10px;

	.section-title {
		margin-bottom: 47px;
		width: 100%;
		text-align: center;
	}

	&__item {
		display: inline-block;
		vertical-align: top;
		width: 36%;
		@include max-width(sm) {
			display: block;
			width: 100%;
			margin-bottom: 30px;
		}

		&:nth-child(even) {
			margin-right: 2%;
			width: 49%;
			@include max-width(sm) {
				margin-right: 0;
				width: 100%;
			}
		}
	}

	&__img {
		max-width: 455px;
		width: 100%;
		margin-bottom: 29px;
		margin-left: auto;
	}

	&__list {
		transform: translateY(-5px);

		li {
			&:not(:last-child) {
				margin-bottom: 41px;
				@include max-width(sm) {
					margin-bottom: 15px;
				}
			}

			p {
				font-size: 15px;
				line-height: 1.4;
				letter-spacing: 0.0133333em;
				color: #717171;
			}
		}

		strong {
			display: inline-block;
			position: relative;
			margin-bottom: 12px;
			padding-left: 18px;
			font-size: 17px;
			font-weight: 400;
			color: #1d262b;

			&:before {
				content: '';
				position: absolute;
				top: 7px;
				left: 0;
				width: 8px;
				height: 8px;
				background-color: #4ecfe3;
				border-radius: 1.3px;
				transform: rotateZ(45deg);
			}
		}
	}

	&__btn {
		text-align: center;

		button {
			padding-left: 43px;
			padding-right: 43px;
			margin-bottom: 10px;
			background-color: #feb300 !important;

			&:hover {
				box-shadow: 0 10px 20px rgba(90, 122, 190, 0.2);
			}
		}
	}
}

.about-info {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 200px;
	padding-bottom: 62px;
	letter-spacing: 0.0176471em;
	transform: translateY(-10px);
	@include max-width(sm) {
		margin-top: 115px;
		display: block;
		text-align: center;
	}
	@include max-width(xxs) {
		margin-top: 54px;
	}

	&:before {
		content: '';
		position: absolute;
		bottom: 90%;
		left: -15px;
		right: -15px;
		padding-top: 21%;
		background: url("../images/about-info-bg.svg") 50% 0 no-repeat;
		background-size: cover;
		@include max-width(xxs) {
			bottom: 93%;
		}
		@include max-width(360px) {
			bottom: 95%;
			padding-top: 22%;
		}
	}

	&:after {
		content: '';
		position: absolute;
		top: 100%;
		left: -15px;
		right: -15px;
		height: 1px;
		background-color: rgba(#263239, 0.1);
	}

	&__img {
		width: 35%;
		@include max-width(sm) {
			width: 100%;
			margin-bottom: 15px;
		}

		img {
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__content {
		width: 100%;
		max-width: 575px;
		line-height: 1.48;
		color: #717171;
		@include min-width(lg) {
			margin-top: -24px;
			margin-right: 139px;
		}
		@include max-width(sm) {
			max-width: none;
			margin-right: 0;
		}

		.section-title {
			font-size: 25px;
			line-height: 1.1;
			margin-bottom: 28px;
		}

		p {
			margin-bottom: 24px;
			font-size: 17px;
			line-height: 1.48;
			letter-spacing: 0.0176471em;
		}
	}
}

.working-steps {
	padding-top: 79px;
	line-height: 1.46;
	font-size: 0;
	text-align: center;
	color: #717171;
	@include max-width(md) {
		text-align: left;
	}
	@include max-width(sm) {
		padding-top: 30px;
	}

	.section-title {
		margin-bottom: 35px;
		text-align: center;
		@include max-width(sm) {
			margin-bottom: 30px;
		}
	}

	&__action {
		font-size: 19px;
		text-align: center;

		.btn {
			padding-left: 63px;
			padding-right: 63px;
			//box-shadow: 0 0 0 rgba(0, 0, 0, 0.03), 0 8px 10px rgba(0, 0, 0, 0.15), inset 0 -2px 0 rgba(0, 0, 0, 0.1);

			&:active {
				//box-shadow: 0 0 0 rgba(0, 0, 0, 0.03), 0 4px 5px rgba(0, 0, 0, 0.15), inset 0 -2px 0 rgba(0, 0, 0, 0.1);
				box-shadow: 0 10px 20px rgba(90,122,190,0.2);
			}
			&:hover {
				box-shadow: 0 10px 20px rgba(90,122,190,0.2);
			}
		}

		.header-bottom__link {
			margin-top: 23px;
			color: $blue;

			span:before {
				background-color: $blue;
			}
		}
	}
}

.working-step {
	display: inline-block;
	vertical-align: text-top;
	width: 30%;
	font-size: 13px;
	margin-bottom: 39px;
	text-align: center;
	letter-spacing: 0.00769231em;
	@include max-width(md) {
		width: 47%;
		vertical-align: middle;
	}
	@include max-width(sm) {
		margin-bottom: 30px;
		width: 100%;
	}

	&:nth-of-type(3n + 2) {
		margin-left: 2%;
		margin-right: 2%;
		@include max-width(sm) {
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__icon {
		display: flex;
		align-items: flex-end;
		margin-bottom: 22px;
		height: 108px;

		&:nth-child(3) {
			transform: translateY(-10px);
		}
	}

	&__title {
		max-width: none;
		color: #263239;
		margin-bottom: 12px;
		letter-spacing: 0.00769231em;
	}

	p {
		width: 100%;
		max-width: 268px;
		margin-left: auto;
		margin-right: auto;
		line-height: 1.46;
		font-size: 13px;
		letter-spacing: 0.00769231em;
	}
}

p.working-step__title {
	font-size: 15px;
	line-height: 1.2;
}

.profile-info {
	position: relative;
	padding-bottom: 86px;
	margin-bottom: 86px;
	@include max-width(sm) {
		padding-bottom: 30px;
		margin-bottom: 30px;
	}

	&:after {
		content: '';
		position: absolute;
		top: 100%;
		left: -15px;
		right: -15px;
		height: 1px;
		background-color: rgba(#263239, 0.1);
	}

	&__inner {
		width: 100%;
		max-width: 900px;
		margin-left: auto;
		margin-right: auto;
	}

	&__item {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		@include max-width(sm) {
			display: block;
		}

		.table-info__select {
			width: auto;
		}

		.table-info__subtitle {
			min-height: 18px;
		}

		.btn {
			padding-left: 85px;
			padding-right: 85px;
			flex-shrink: 0;
		}

		&:not(:last-child) {
			margin-bottom: 20px;
		}

		input {
			width: 100%;
			padding: 15px;
			font-size: 15px;
			text-overflow: ellipsis;
			letter-spacing: 0.2px;
			border: 1px solid $input-border-color;
			-webkit-border-radius: 4px;
			border-radius: 4px;
			background: #fff;
			color: #2c2c2c;
		}
	}

	&__col {
		width: 47%;
		@include max-width(sm) {
			width: 100%;
			margin-bottom: 20px;
		}

		&:nth-child(even) {
			margin-right: 2%;
			@include max-width(sm) {
				margin-right: 0;
			}
		}
	}

	&__token-info {
		font-size: 14px;
		font-style: italic;
		margin-top: 5px;

		a {
			color: $blue;
		}
	}

	&__desc {
		width: 56%;
		@include max-width(sm) {
			width: 100%;
		}
	}

	&__action {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include max-width(sm) {
			display: block;
			text-align: center;

			.btn {
				margin-bottom: 20px;
			}
		}
	}
}

.travel .header-bottom__btn:focus,
.travel .header-bottom__btn:hover {
	background: #02bbd7;
	color: #263239;
	box-shadow: 0 10px 20px rgba(90,122,190,0.2);
}

#travelpayouts_admin {
	width: calc(100% - 20px);

	@media screen and (max-width: 782px) {
		width: calc(100% - 10px);
	}
}

.auto-fold #wpcontent {
	padding-right: 20px;

	@media screen and (max-width: 782px) {
		padding-left: 20px;
	}
}

