{% extends _base %}

{% block content %}
    {% if _action == 'add' %}
        <p class="section-title">{{ _x('Adding shortcode','tp_admin_page_add_search_forms_paragraph_3') }}</p>
    {% else %}
        <p class="section-title">{{ _x('Edit shortcode','tp_admin_page_add_search_forms_paragraph_3') }}</p>
    {% endif %}
    {% include('/menu/search-forms/form.twig') %}

{% endblock %}
