{% block content %}
    {{ form_start(form) }}

    <div class="shortcode-form__item separate-line">
        {{ form_row(form.title) }}
        {{ form_row(form.code_form) }}
    </div>

    <div class="shortcode-form__item separate-line">
        {{ form_row(form.from_city) }}
        {{ form_row(form.to_city) }}
        {{ form_row(form.hotel_city) }}
    </div>

    <div class="shortcode-form__item separate-line">
        <button class="btn btn--color" type="submit"><span>{{ _x('Save changes','general_save_changes_button') }}</span>
        </button>
    </div>
    {{ form_end(form) }}
    <!-- /.shortcode-form -->
    <div class="shortcode-result">
        <p class="section-subtitle">{{ _x('Shortcode','tp_admin_page_add_search_forms_field_search_shortcodes_label') }}</p>
        <div class="shortcode-result__info">
            <input class="shortcode-result__value" type="text" name="shortcode-result" value='[tp_search_shortcodes id="{{ id }}"]'>

            <button class="btn">
                <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#copy-icon"></use>
                </svg>
                <span>{{ _x('Copy','tp_admin_page_add_search_forms_field_search_shortcodes_copy') }}</span>
            </button>
        </div>
        <!-- /.shortcode-result__info -->
    </div>
    <!-- /.shortcode-result -->
{% endblock %}
