{% extends _base %}
{% block content %}
    <p class="section-title">Размещение поисковых форм</p>
    <div class="search-form__desc separate-line">
        <p>В этом разделе вы можете добавлять шорткоды для поисковых форм, настроенных в админке
            аккаунта Travelpayouts<br>
            <a href="https://www.travelpayouts.com/tools/forms">https://www.travelpayouts.com/tools/forms</a><br>
            Подробная инструкция доступна <a href="#">тут</a>.
        </p>
    </div>
    <!-- /.search-form__desc -->
    <div class="search-form__video separate-line">
        <div class="video">
            <a href="#" class="section-subtitle video__link">Видеоинструкция</a>
            <div class="video__box"></div>
            <!-- /.video__box -->
        </div>
        <!-- /.video -->
    </div>
    <!-- /.search-form__video -->
    {% include '/menu/search-forms/_grid.twig' %}
{% endblock %}