/*! nouislider - 11.1.0 - 2018-04-02 11:18:13 */
/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */

$tp-range-slider-height: 10px;
$tp-range-handler-height: 20px;
$tp-range-handler-width: 20px;
$tp-range-slider-border: #b0bec6;
$tp-range-slider-connect-bg: #2ebbd8;

.noUi-target {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  * {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  position: relative;
  direction: ltr;
}

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  z-index: 0;
}

/* Wrapper for all connect elements.
 */

.noUi-connect, .noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

/* Offset direction
 */

html:not([dir="rtl"]) .noUi-horizontal .noUi-origin {
  left: auto;
  right: 0;
}

/* Give origins 0 height/width so they don't interfere with clicking the
 * connect elements.
 */

.noUi-vertical .noUi-origin {
  width: 0;
}

.noUi-horizontal .noUi-origin {
  height: 0;
}

.noUi-handle {
  position: absolute;
}

.noUi-state-tap {
  .noUi-connect, .noUi-origin {
    -webkit-transition: transform 0.3s;
    transition: transform 0.3s;
  }
}

.noUi-state-drag * {
  cursor: inherit !important;
}

/* Slider size and handle placement;
 */

.noUi-horizontal {
  height: $tp-range-slider-height;
  .noUi-handle {
    width: $tp-range-handler-width;
    height: $tp-range-handler-height;
    left: -#{$tp-range-handler-width/2};
    top: -6px;
  }
}

.noUi-vertical {
  width: 18px;
  .noUi-handle {
    width: 28px;
    height: 34px;
    left: -6px;
    top: -17px;
  }
}

html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
  right: -#{$tp-range-handler-width/2};
  left: auto;
}

/* Styling;
 * Giving the connect element a border radius causes issues with using transform: scale
 */

.noUi-target {
  background: #FAFAFA;
  border-radius: 15px;
  border: 1px solid $tp-range-slider-border;
  box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
}

.noUi-connects {
  border-radius: 3px;
}

.noUi-connect {
  background: $tp-range-slider-connect-bg;
  border-radius: 15px;
}

/* Handles and cursors;
 */

.noUi-draggable {
  cursor: ew-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}

.noUi-handle {
  border: 1px solid $tp-range-slider-border;
  border-radius: 15px;
  background: #FFF;
  cursor: move;
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #696969;
  opacity: 0.85;
  transition: 0.5s;
  &:hover {
    opacity: 1;
  }

}

.noUi-active {
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #b9c8d0, 0 3px 6px -3px #696969;
  opacity: 1;
}

/* Handle stripes;
 */

.noUi-handle {
  //&:before {
  //  content: "";
  //  display: block;
  //  position: absolute;
  //  height: 14px;
  //  width: 1px;
  //  background: #E8E7E6;
  //  left: 14px;
  //  top: 6px;
  //}
  //&:after {
  //  content: "";
  //  display: block;
  //  position: absolute;
  //  height: 14px;
  //  width: 1px;
  //  background: #E8E7E6;
  //  left: 14px;
  //  top: 6px;
  //  left: 17px;
  //}
}

.noUi-vertical .noUi-handle {
  &:before {
    width: 14px;
    height: 1px;
    left: 6px;
    top: 14px;
  }
  &:after {
    width: 14px;
    height: 1px;
    left: 6px;
    top: 14px;
    top: 17px;
  }
}

/* Disabled state;
 */

[disabled] {
  .noUi-connect {
    background: #B8B8B8;
  }
  &.noUi-target, &.noUi-handle, .noUi-handle {
    cursor: not-allowed;
  }
}

/* Base;
 *
 */

.noUi-pips {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  position: absolute;
  color: #999;
}

/* Values;
 *
 */

.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}

.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}

/* Markings;
 *
 */

.noUi-marker {
  position: absolute;
  background: #CCC;
}

.noUi-marker-sub, .noUi-marker-large {
  background: #AAA;
}

/* Horizontal layout;
 *
 */

.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}

.noUi-value-horizontal {
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}

.noUi-rtl .noUi-value-horizontal {
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}

.noUi-marker-horizontal {
  &.noUi-marker {
    margin-left: -1px;
    width: 2px;
    height: 5px;
  }
  &.noUi-marker-sub {
    height: 10px;
  }
  &.noUi-marker-large {
    height: 15px;
  }
}

/* Vertical layout;
 *
 */

.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}

.noUi-value-vertical {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%, 0);
  padding-left: 25px;
}

.noUi-rtl .noUi-value-vertical {
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%);
}

.noUi-marker-vertical {
  &.noUi-marker {
    width: 5px;
    height: 2px;
    margin-top: -1px;
  }
  &.noUi-marker-sub {
    width: 10px;
  }
  &.noUi-marker-large {
    width: 15px;
  }
}

.noUi-tooltip {
  display: block;
  position: absolute;
  border-radius: 15px;
  background: #fff;
  color: #6f8998;
  padding: 2px 5px;
  text-align: center;
  white-space: nowrap;
}

.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}

.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}

.tp-range-slider {
  margin-top: 35px;
  padding-bottom: 10px;
  &:hover {
    .noUi-handle {
      opacity: 1;
    }
  }
  &__single {
    .noUi-target {
      background: $tp-range-slider-connect-bg;
      border-color: darken($tp-range-slider-connect-bg, 5);
      box-shadow: none;
    }
  }
}