{% block content %}
    <a href="#" class="tables-content__title">
        <span>{{ _x('Subscription Widget', 'Travelpayouts – Widgets Widget') }}</span>
        <svg>
            <use xlink:href="#arrow-right-icon"/>
        </svg>
    </a>
    <div class="table-info">
        <a class="table-info__close" href="#">
            <svg>
                <use xlink:href="#arrow-right-icon"/>
            </svg>
        </a>
        <div class="table-info__item">
            <p>{{ _x('Notification of changes in the price of the flights in the direction of the selected dates / months.','TP_Form_Airtickets_Price_Subscription') }}</p>
        </div>
        <!-- /.table-info__item -->
        <div class="table-info__item table-info__item--padding table-info__item_middle">
            <a class="table-info__preview-title dashed" href="#">{{ _x('Preview','wigdets preview') }}</a>
            <div class="preview-info">
                <div class="preview-info-map">
                    <form action="#" method="post" class="subscribe-form">
                        <p class="subscribe-form__title">
                            {{ _x('Do you want to fly cheap?','TP_Form_Airtickets_Price_Subscription') }}
                        </p>
                        <p>
                            {{ _x('It\'s simple: keep track of prices for your favorite destinations','TP_Form_Airtickets_Price_Subscription') }}
                        </p>
                        <div class="subscribe-form__item">
                            <input class="" type="email" name="email" placeholder="marina.makoeva@gmail.com">
                            <button type="submit" class="btn subscribe-form__btn">
                                <span> {{ _x('Subscribe for free','TP_Form_Airtickets_Price_Subscription') }}</span>
                            </button>
                        </div>
                        <!-- /.subscribe-form__item -->
                        <p class="subscribe-form__desc">
                            {{ _x('By clicking on "Subscribe", you agree to the rules','TP_Form_Airtickets_Price_Subscription') }}
                            <a href="#">{{ _x(' for processing personal data','TP_Form_Airtickets_Price_Subscription') }}</a>
                        </p>
                    </form>
                </div>
                <!-- /.preview-info-map -->
            </div>
            <!-- /.preview-info -->
        </div>
        <!-- /.table-info__item -->
        {% include('/menu/widgets/forms/airtickets_price_subscription.twig') %}
    </div>
    <!-- /.tables-info -->
{% endblock %}



