{% block content %}
    <a href="#" class="tables-content__title">
        <span>{{ _x('Popular Destinations Widget', 'Travelpayouts – Widgets Widget') }}</span>
        <svg>
            <use xlink:href="#arrow-right-icon"/>
        </svg>
    </a>
    <div class="table-info">
        <a class="table-info__close" href="#">
            <svg>
                <use xlink:href="#arrow-right-icon"/>
            </svg>
        </a>
        <div class="table-info__item">
            <p>{{ _x('Prices for flights to the city from the departure city of the user and other popular destinations.','TP_Form_Airtickets_Popular') }}</p>
        </div>
        <!-- /.table-info__item -->
        <div class="table-info__item table-info__item--padding table-info__item_middle">
            <a class="table-info__preview-title dashed" href="#">{{ _x('Preview','wigdets preview') }}</a>
            <div class="preview-info">
                <div class="preview-info-map">
                    <div class="hotel-card">
                        <img src="{{ _img_url }}hotel-widget.jpg" alt="hotel-widget">
                    </div>
                    <!-- /.hotel-card -->
                </div>
                <!-- /.preview-info-map -->
            </div>
            <!-- /.preview-info -->
        </div>
        <!-- /.table-info__item -->
        {% include('/menu/widgets/forms/airtickets_popular.twig') %}
    </div>
    <!-- /.tables-info -->
{% endblock %}
