{% block content %}
    <a href="#" class="tables-content__title">
        <span>{{ _x('Calendar Widget', 'Travelpayouts – Widgets Widget') }}</span>
        <svg>
            <use xlink:href="#arrow-right-icon"/>
        </svg>
    </a>
    <div class="table-info">
        <a class="table-info__close" href="#">
            <svg>
                <use xlink:href="#arrow-right-icon"/>
            </svg>
        </a>
        <div class="table-info__item">
            <p>{{ _x('Minimum prices for a flights in the chosen direction for a set of dates.','TP_Form_Airtickets_Low_Price_Calendar') }}</p>
        </div>
        <!-- /.table-info__item -->
        <div class="table-info__item table-info__item--padding table-info__item_middle">
            <a class="table-info__preview-title dashed" href="#">{{ _x('Preview','wigdets preview') }}</a>
            <div class="preview-info">
                <div class="preview-info-map">
                    <div class="custom-scroll-x">
                        <div class="low-price-calendar">
                            <img src="{{ _img_url }}calendar.jpg" alt="calendar">
                        </div>
                        <!-- /.special-offer -->
                    </div>
                    <!-- /.custom-scroll-x -->
                </div>
                <!-- /.preview-info-map -->
            </div>
            <!-- /.preview-info -->
        </div>
        <!-- /.table-info__item -->
        {% include('/menu/widgets/forms/airtickets_low_price_calendar.twig') %}
    </div>
    <!-- /.tables-info -->
{% endblock %}
