{% block content %}
    <a href="#" class="tables-content__title">
        <span>{{ _x('Best deals widget', 'Travelpayouts – Widgets Widget') }}</span>
        <svg>
            <use xlink:href="#arrow-right-icon"/>
        </svg>
    </a>
    <div class="table-info">
        <a class="table-info__close" href="#">
            <svg>
                <use xlink:href="#arrow-right-icon"/>
            </svg>
        </a>
        <div class="table-info__item">
            <p>{{ _x('Beautiful and convenient visualization of data about special offers of airlines.','TP_Form_Airtickets_offers') }}</p>
        </div>
        <!-- /.table-info__item -->
        <div class="table-info__item table-info__item--padding table-info__item_middle">
            <a class="table-info__preview-title dashed" href="#">{{ _x('Preview','wigdets preview') }}</a>
            <div class="preview-info">
                <div class="preview-info-map">
                    <div class="custom-scroll-x">
                        <div class="special-offer">
                            <img src="{{ _img_url }}special-offer.jpg" alt="hotel-widget">
                        </div>
                        <!-- /.special-offer -->
                    </div>
                    <!-- /.custom-scroll-x -->
                </div>
                <!-- /.preview-info-map -->
            </div>
            <!-- /.preview-info -->
        </div>
        <!-- /.table-info__item -->
        {% include('/menu/widgets/forms/airtickets_offers.twig') %}
    </div>
    <!-- /.tables-info -->
{% endblock %}
