{% block content %}
    <a href="#" class="tables-content__title">
        <span>{{ _x('Hotel widget','wigdets category label') }}</span>
        <svg>
            <use xlink:href="#arrow-right-icon"/>
        </svg>
    </a>
    <div class="table-info">
        <a class="table-info__close" href="#">
            <svg>
                <use xlink:href="#arrow-right-icon"/>
            </svg>
        </a>
        <div class="table-info__item">
            <p>{{ _x('Brief information about a specific hotel with the choice of dates of accommodation, the search for a price and the transition immediately to the reservation page (bypassing Hotellook).','Tp_Form_Hotels_Widget') }}</p>
       
        </div>
        <!-- /.table-info__item -->
        <div class="table-info__item table-info__item--padding table-info__item_middle">
            <a class="table-info__preview-title dashed" href="#">{{ _x('Preview','wigdets preview') }}</a>
            <div class="preview-info">
                <div class="preview-info-map">
                    <div class="hotel-card">
                        <img src="{{ _img_url }}hotels-widget.jpg" alt="hotels-widget">
                    </div>
                    <!-- /.hotel-card -->
                </div>
                <!-- /.preview-info-map -->
            </div>
            <!-- /.preview-info -->
        </div>
        <!-- /.table-info__item -->


        <!-- /.table-info__item -->
    </div>
    <!-- /.tables-info -->
{% endblock %}
