{% block content %}
    <a href="#" class="tables-content__title">
        <span>{{ _x('Hotels. Compilation by date','wigdets category label') }}</span>
        <svg>
            <use xlink:href="#arrow-right-icon"/>
        </svg>
    </a>
    <div class="table-info">
        <a class="table-info__close" href="#">
            <svg>
                <use xlink:href="#arrow-right-icon"/>
            </svg>
        </a>
        <div class="table-info__item">
            <p>{{ _x('An interactive map with a flights plan from the specified or automatically defined city of departure.','Tp_Form_Hotels_Collections_Location') }}
                {{ _x('Click anywhere on the map to redirect the user to','Tp_Form_Hotels_Collections_Location') }}
                <a class="dashed" href="http://map.aviasales.ru">map.aviasales.ru</a>.</p>
        </div>
        {% include('/menu/widgets/contents/widgets/hotels_location.twig') %}
        {% include('/menu/widgets/forms/hotels_collections_dates.twig') %}
    </div>
    <!-- /.tables-info -->
{% endblock %}
