{% block content %}
    <a href="#" class="tables-content__title">
        <span>{{ _x('Hotels. Hotels map','wigdets category label') }}</span>
        <svg>
            <use xlink:href="#arrow-right-icon"/>
        </svg>
    </a>
    <div class="table-info">
        <a class="table-info__close" href="#">
            <svg>
                <use xlink:href="#arrow-right-icon"/>
            </svg>
        </a>
        <div class="table-info__item">
            <p>{{ _x('A map with available hotels and approximate prices for them in the selected place.','Tp_Form_Hotels_Map') }}</p>
        </div>
        <!-- /.table-info__item -->
        <div class="table-info__item table-info__item--padding table-info__item_middle">
            <a class="table-info__preview-title dashed" href="#">{{ _x('Preview','wigdets preview') }}</a>
            <div class="preview-info">
                <div class="preview-info-map">
                    <img src="{{ _img_url }}map-2.jpg" alt="map">
                </div>
                <!-- /.preview-info-map -->
            </div>
            <!-- /.preview-info -->
        </div>
        <!-- /.table-info__item -->
        {% include('/menu/widgets/forms/hotels_map.twig') %}
    </div>
    <!-- /.tables-info -->
{% endblock %}
