{% block content %}
    <a href="#" class="tables-content__title">
        <span>{{ _x('Hotels. Compilation by location','wigdets category label') }}</span>
        <svg>
            <use xlink:href="#arrow-right-icon"/>
        </svg>
    </a>
    <div class="table-info">
        <a class="table-info__close" href="#">
            <svg>
                <use xlink:href="#arrow-right-icon"/>
            </svg>
        </a>
        <div class="table-info__item table-info__item--padding table-info__item_middle">
            <a class="table-info__preview-title dashed" href="#">{{ _x('Preview','wigdets preview') }}</a>
            <div class="preview-info">
                <div class="preview-info-map">
                    <img src="{{ _img_url }}map-1.jpg" alt="map">
                </div>
                <!-- /.preview-info-map -->
            </div>
            <!-- /.preview-info -->
        </div>
        <div class="table-info__item table-info__item--padding">
            <p>{{ _x('An interactive map with a flights plan from the specified or automatically defined city of departure.','Tp_Form_Hotels_Collections_Location') }}
                {{ _x('Click anywhere on the map to redirect the user to','Tp_Form_Hotels_Collections_Location') }}
                <a class="dashed" href="http://map.aviasales.ru">map.aviasales.ru</a>.</p>
        </div>
        <!-- /.table-info__item -->
        {% include('/menu/widgets/contents/widgets/hotels_location.twig') %}
        {% include('/menu/widgets/forms/hotels_collections_location.twig') %}
    </div>
    <!-- /.tables-info -->
{% endblock %}
