{% block content %}
    <a href="#" class="tables-content__title">
        <span>{{ _x('Hotels. Compilations','wigdets category label') }}</span>
        <svg>
            <use xlink:href="#arrow-right-icon"/>
        </svg>
    </a>
    <div class="table-info">
        <a class="table-info__close" href="#">
            <svg>
                <use xlink:href="#arrow-right-icon"/>
            </svg>
        </a>
        <div class="table-info__item">
            <p>{{ _x('Automatic or manually created hotel collections in the city.','TP_Form_Hotels_Collections') }}</p>
        </div>
        <!-- /.table-info__item -->
        <div class="table-info__item table-info__item--padding table-info__item_middle">
            <a class="table-info__preview-title dashed" href="#">{{ _x('Preview','wigdets preview') }}</a>
            <div class="preview-info">
                <div class="preview-info-map">
                    <div class="custom-scroll-y hotels-list">
                        <img src="{{ _img_url }}hotels.jpg" alt="hotel-widget">
                    </div>
                    <!-- /.hotel-card -->
                </div>
                <!-- /.preview-info-map -->
            </div>
            <!-- /.preview-info -->
        </div>
        <!-- /.table-info__item -->
        {% include('/menu/widgets/forms/hotels_collections.twig') %}
        <!-- /.table-info__item -->
    </div>
    <!-- /.tables-info -->
{% endblock %}
