<div class="TP-PopularRoutesWidgets">
    {% for destination in params.1.content %}
        <div class='TP-PopularRoutesWidget'>
            [{{ name }} destination={{ destination }} subid="{{ params.0.content}}"]
        </div>
    {% endfor %}
</div>