{% extends _base %}
{% block _main_content_classes %}
    tables
{% endblock %}
{% block content %}

    <div class="tables__head">
        <p class="section-title">Содержание встраиваемых таблиц</p>
        <div class="tables__nav">
            <ul>
                <li>
                    <a class="js_tables_active" href="#" data-tab="1">
                        {{ _x('Flight Tickets','tables content page tab title') }}
                    </a>
                </li>
                <li>
                    <a href="#" data-tab="2">
                        {{ _x('Hotels','tables content page tab title') }}
                    </a>
                </li>
                <li>
                    <a href="#" data-tab="3">
                        {{ _x('Railways schedule','tables content page tab title') }}
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.tables__nav -->
    </div>
    <!-- /.tables__head -->
    <div class="tables-content">
        <div class="tables-content__item js_tables_active" data-tab="1">
            {% include('/menu/tables/content/flight/contents/price-calendar-month.twig') %}
            {% include('/menu/tables/content/flight/contents/price-calendar-week.twig') %}
            {% include('/menu/tables/content/flight/contents/cheapest-flights.twig') %}
            {% include('/menu/tables/content/flight/contents/cheapest-ticket-each-day-month.twig') %}
            {% include('/menu/tables/content/flight/contents/cheapest-tickets-each-month.twig') %}
            {% include('/menu/tables/content/flight/contents/direct-flights-route.twig') %}
            {% include('/menu/tables/content/flight/contents/direct-flights.twig') %}
            {% include('/menu/tables/content/flight/contents/popular-routes-from-city.twig') %}
            {% include('/menu/tables/content/flight/contents/popular-destinations-airlines.twig') %}
            {% include('/menu/tables/content/flight/contents/our-site-search.twig') %}
            {% include('/menu/tables/content/flight/contents/from-our-site-search.twig') %}
            {% include('/menu/tables/content/flight/contents/in-our-city-fly.twig') %}
        </div>
        <!-- /.tables-content__item -->
        <div class="tables-content__item" data-tab="2">
            {% include('/menu/tables/content/hotel/contents/selections-discount.twig') %}
            {% include('/menu/tables/content/hotel/contents/selections-discount-date.twig') %}
        </div>
        <!-- /.tables-content__item -->
        <div class="tables-content__item" data-tab="3">
            <div class="train-tickets">
                <div class="js_agreement train-tickets__item train-tickets__item--agreement js_train_tickets_active">
                    <div class="agreement">
                        <div class="agreement__logo">
                            <img src="{{ _img_url }}logo-agreement.svg" alt="logo">
                        </div>
                        <!-- /.agreement__logo -->
                        <p class="section-title agreement__title">Какой-то заголовок</p>
                        <p>Что бы разместить таблицы с расписанием поездов, необходимо принять условия <a href="#">соглашения</a>
                            с компанией Tutu.ru</p>
                        <div class="agreement__action">
                            <button class="js_accept_agreement btn btn--color"><span>Принять условия</span></button>
                            <button class="btn"><span>Я уже это сделал</span></button>
                        </div>
                        <!-- /.agreement__actin -->
                    </div>
                    <!-- /.agreement -->
                </div>
                <!-- /.train-tickets__item -->
                <div class="js_train_info train-tickets__item">
                    {% include('/menu/tables/content/railway/contents/tutu.twig') %}
                </div>
                <!-- /.train-tickets__item -->
            </div>
            <!-- /.train-tickets -->
        </div>
        <!-- /.tables-content__item -->
    </div>
    <!-- /.table-content -->

{% endblock %}