{% extends _base %}
{#{% block _main_content_classes %}#}
    {#tables widgets#}
{#{% endblock %}#}
{% block content %}
    <p class="section-title">Темы оформления таблиц</p>
    <div class="search-form__desc separate-line">
        <p>В этом разделе вы можете добавлять шорткоды для поисковых форм, настроенных в админке аккаунта Travelpayouts.
        </p>
    </div>
    <div class="table-designs">
        <div class="table-designs__item">
            <form class="table-design-form" action="#" method="post">
                <p class="table-info__subtitle">
                    <span class="table-design__number">1.</span>&nbsp;
                    <span>Blooming lilac</span>
                </p>
                <div class="table-design">
                    <img src="{{ _img_url }}text-design-1.jpg" alt="table design">
                    <div class="table-design__action">
                        <button class="btn btn--color table-design-form__btn" type="submit"><span>Применить</span>
                        </button>
                        <a class="btn btn--bg" href="./admin.php?page=travelpayouts_tables&action=design_settings"><span>Настроить</span></a>
                    </div>
                    <!-- /.table-design__action -->
                </div>
                <!-- /.table-design -->
            </form>
            <!-- /.table-design-form -->
        </div>
        <!-- /.table-designs__item -->
        <div class="table-designs__item">
            <form class="table-design-form" action="#" method="post">
                <p class="table-info__subtitle">
                    <span class="table-design__number">2.</span>&nbsp;
                    <span>Mint Freshness</span>
                </p>
                <div class="table-design">
                    <img src="{{ _img_url }}text-design-2.jpg" alt="table design">
                    <div class="table-design__action">
                        <button class="btn btn--color table-design-form__btn" type="submit"><span>Применить</span>
                        </button>
                        <a class="btn btn--bg" href="./admin.php?page=travelpayouts_tables&action=design_settings"><span>Настроить</span></a>
                    </div>
                    <!-- /.table-design__action -->
                </div>
                <!-- /.table-design -->
            </form>
            <!-- /.table-design-form -->
        </div>
        <!-- /.table-designs__item -->
        <div class="table-designs__item">
            <form class="table-design-form" action="#" method="post">
                <p class="table-info__subtitle">
                    <span class="table-design__number">3.</span>&nbsp;
                    <span>Winter rowan</span>
                </p>
                <div class="table-design">
                    <img src="{{ _img_url }}text-design-1.jpg" alt="table design">
                    <div class="table-design__action">
                        <button class="btn btn--color table-design-form__btn" type="submit"><span>Применить</span>
                        </button>
                        <a class="btn btn--bg" href="./admin.php?page=travelpayouts_tables&action=design_settings"><span>Настроить</span></a>
                    </div>
                    <!-- /.table-design__action -->
                </div>
                <!-- /.table-design -->
            </form>
            <!-- /.table-design-form -->
        </div>
        <!-- /.table-designs__item -->
        <div class="table-designs__item">
            <form class="table-design-form" action="#" method="post">
                <p class="table-info__subtitle">
                    <span class="table-design__number">4.</span>&nbsp;
                    <span>The Arctic Ocean</span>
                </p>
                <div class="table-design">
                    <img src="{{ _img_url }}text-design-3.jpg" alt="table design">
                    <div class="table-design__action">
                        <button class="btn btn--color table-design-form__btn" type="submit"><span>Применить</span>
                        </button>
                        <a class="btn btn--bg" href="./admin.php?page=travelpayouts_tables&action=design_settings"><span>Настроить</span></a>
                    </div>
                    <!-- /.table-design__action -->
                </div>
                <!-- /.table-design -->
            </form>
            <!-- /.table-design-form -->
        </div>
        <!-- /.table-designs__item -->
        <div class="table-designs__item">
            <form class="table-design-form" action="#" method="post">
                <p class="table-info__subtitle">
                    <span class="table-design__number">5.</span>&nbsp;
                    <span>Spring grass</span>
                </p>
                <div class="table-design">
                    <img src="{{ _img_url }}text-design-5.jpg" alt="table design">
                    <div class="table-design__action">
                        <button class="btn btn--color table-design-form__btn" type="submit"><span>Применить</span>
                        </button>
                        <a class="btn btn--bg" href="./admin.php?page=travelpayouts_tables&action=design_settings"><span>Настроить</span></a>
                    </div>
                    <!-- /.table-design__action -->
                </div>
                <!-- /.table-design -->
            </form>
            <!-- /.table-design-form -->
        </div>
        <!-- /.table-designs__item -->
        <div class="table-designs__item">
            <form class="table-design-form" action="#" method="post">
                <p class="table-info__subtitle">
                    <span class="table-design__number">6.</span>&nbsp;
                    <span>Avalon plum</span>
                </p>
                <div class="table-design">
                    <img src="{{ _img_url }}text-design-6.jpg" alt="table design">
                    <div class="table-design__action">
                        <button class="btn btn--color table-design-form__btn" type="submit"><span>Применить</span>
                        </button>
                        <a class="btn btn--bg" href="./admin.php?page=travelpayouts_tables&action=design_settings"><span>Настроить</span></a>
                    </div>
                    <!-- /.table-design__action -->
                </div>
                <!-- /.table-design -->
            </form>
            <!-- /.table-design-form -->
        </div>
        <!-- /.table-designs__item -->
        <div class="table-designs__item">
            <form class="table-design-form" action="#" method="post">
                <p class="table-info__subtitle">
                    <span class="table-design__number">7.</span>&nbsp;
                    <span>Toucan</span>
                </p>
                <div class="table-design">
                    <img src="{{ _img_url }}text-design-7.jpg" alt="table design">
                    <div class="table-design__action">
                        <button class="btn btn--color table-design-form__btn" type="submit"><span>Применить</span>
                        </button>
                        <a class="btn btn--bg" href="./admin.php?page=travelpayouts_tables&action=design_settings"><span>Настроить</span></a>
                    </div>
                    <!-- /.table-design__action -->
                </div>
                <!-- /.table-design -->
            </form>
            <!-- /.table-design-form -->
        </div>
        <!-- /.table-designs__item -->
        <div class="table-designs__item">
            <form class="table-design-form" action="#" method="post">
                <p class="table-info__subtitle">
                    <span class="table-design__number">8.</span>&nbsp;
                    <span>Cat in the night</span>
                </p>
                <div class="table-design">
                    <img src="{{ _img_url }}text-design-8.jpg" alt="table design">
                    <div class="table-design__action">
                        <button class="btn btn--color table-design-form__btn" type="submit"><span>Применить</span>
                        </button>
                        <a class="btn btn--bg" href="./admin.php?page=travelpayouts_tables&action=design_settings"><span>Настроить</span></a>
                    </div>
                    <!-- /.table-design__action -->
                </div>
                <!-- /.table-design -->
            </form>
            <!-- /.table-design-form -->
        </div>
        <!-- /.table-designs__item -->
        <div class="table-designs__item">
            <form class="table-design-form" action="#" method="post">
                <p class="table-info__subtitle">
                    <span class="table-design__number">9.</span>&nbsp;
                    <span>Fiery Sunrise</span>
                </p>
                <div class="table-design">
                    <img src="{{ _img_url }}text-design-9.jpg" alt="table design">
                    <div class="table-design__action">
                        <button class="btn btn--color table-design-form__btn" type="submit"><span>Применить</span>
                        </button>
                        <a class="btn btn--bg" href="./admin.php?page=travelpayouts_tables&action=design_settings"><span>Настроить</span></a>
                    </div>
                    <!-- /.table-design__action -->
                </div>
                <!-- /.table-design -->
            </form>
            <!-- /.table-design-form -->
        </div>
        <!-- /.table-designs__item -->
        <div class="table-designs__item">
            <form class="table-design-form" action="#" method="post">
                <p class="table-info__subtitle">
                    <span class="table-design__number">10.</span>&nbsp;
                    <span>Customizable</span>
                </p>
                <div class="table-design">
                    <span class="label-info">Custom</span>
                    <img src="{{ _img_url }}text-design-10.jpg" alt="table design">
                    <div class="table-design__action">
                        <button class="btn btn--color table-design-form__btn" type="submit"><span>Применить</span>
                        </button>
                        <a class="btn btn--bg" href="table-design-customize.html"><span>Настроить</span></a>
                    </div>
                    <!-- /.table-design__action -->
                </div>
                <!-- /.table-design -->
            </form>
            <!-- /.table-design-form -->
        </div>
        <!-- /.table-designs__item -->
    </div>
    <!-- /.table-designs -->
{% endblock %}