{% extends _base %}

{% block content %}
    <p class="section-title">Настройка оформления темы Mint Freshness</p>
    <form action="#" method="post">
        <div class="table-info__item table-info__item--padding">
            <a class="table-info__preview-title dashed" href="#">Предварительный просмотр</a>
            <div class="preview-info">
                <p class="preview-info__title">Дешевые перелеты из Москвы</p>
                <div class="preview-info-table preview-info-table--black-bg">
                    <div class="preview-info-table__row preview-info-table__row--head">
                        <div class="preview-info-table__col">
                            <span>Куда</span>
                        </div>
                        <!-- /.preview-info-table__col -->
                        <div class="preview-info-table__col">
                            <span>Дата вылета</span>
                        </div>
                        <!-- /.preview-info-table__col -->
                        <div class="preview-info-table__col">
                            <span>Дата возвращения</span>
                        </div>
                        <!-- /.preview-info-table__col -->
                        <div class="preview-info-table__col">
                            <span>Найти билет</span>
                        </div>
                        <!-- /.preview-info-table__col -->
                    </div>
                    <!-- /.preview-info-table__row -->
                    <div class="preview-info-table__row">
                        <div class="preview-info-table__col">
                            <span>Киров</span>
                        </div>
                        <!-- /.preview-info-table__col -->
                        <div class="preview-info-table__col">
                            <span>05.09.2017</span>
                        </div>
                        <!-- /.preview-info-table__col -->
                        <div class="preview-info-table__col">
                            <span>13.09.2017</span>
                        </div>
                        <!-- /.preview-info-table__col -->
                        <div class="preview-info-table__col">
                            <a class="btn" href="#"><span>Билеты от 2 254 Р</span></a>
                        </div>
                        <!-- /.preview-info-table__col -->
                    </div>
                    <!-- /.preview-info-table__row -->
                    <div class="preview-info-table__row">
                        <div class="preview-info-table__col">
                            <span>Санкт-Петербург</span>
                        </div>
                        <!-- /.preview-info-table__col -->
                        <div class="preview-info-table__col">
                            <span>05.09.2017</span>
                        </div>
                        <!-- /.preview-info-table__col -->
                        <div class="preview-info-table__col">
                            <span>13.09.2017</span>
                        </div>
                        <!-- /.preview-info-table__col -->
                        <div class="preview-info-table__col">
                            <a class="btn" href="#"><span>Билеты от 2 254 Р</span></a>
                        </div>
                        <!-- /.preview-info-table__col -->
                    </div>
                    <!-- /.preview-info-table__row -->
                    <div class="preview-info-table__row">
                        <div class="preview-info-table__col">
                            <span>Нижний Новгород</span>
                        </div>
                        <!-- /.preview-info-table__col -->
                        <div class="preview-info-table__col">
                            <span>05.09.2017</span>
                        </div>
                        <!-- /.preview-info-table__col -->
                        <div class="preview-info-table__col">
                            <span>13.09.2017</span>
                        </div>
                        <!-- /.preview-info-table__col -->
                        <div class="preview-info-table__col">
                            <a class="btn" href="#"><span>Билеты от 2 254 Р</span></a>
                        </div>
                        <!-- /.preview-info-table__col -->
                    </div>
                    <!-- /.preview-info-table__row -->
                </div>
                <!-- /.preview-info-table -->
            </div>
            <!-- /.preview-info -->
        </div>
        <!-- /.table-info__item -->
        <div class="table-info__item">
            <p class="table-info__title">Заголовок таблицы</p>
            <div class="table-design-title">
                <div class="table-design-title__item table-design-title__item--margin">
                    <div class="table-design-title__col">
                        <p class="table-info__subtitle">Шрифт</p>
                        <div class="table-info__select">
                            <div class="select">
                                <button href="#" class="select__title">
                                    <span>Roboto</span>
                                    <svg>
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                             xlink:href="#arrow-right-icon"></use>
                                    </svg>
                                </button>
                                <div class="select__list">
                                    <label>OpenSans<input type="radio" name="table_design_title"
                                                          value="OpenSans"></label>
                                    <label>Modak<input type="radio" name="table_design_title" value="Modak"></label>
                                    <label>Roboto<input type="radio" name="table_design_title" value="Roboto"></label>
                                    <label>Nosifer<input type="radio" name="table_design_title" value="Nosifer"></label>
                                    <label>Lato<input type="radio" name="table_design_title" value="Lato"></label>
                                    <label>Mukta<input type="radio" name="table_design_title" value="Mukta"></label>
                                </div>
                                <!-- /.select__list -->
                            </div>
                            <!-- /.select -->
                        </div>
                        <!-- /.table-info__select -->
                    </div>
                    <!-- /.table-design-title__col -->
                    <div class="table-design-title__col">
                        <p class="table-info__subtitle">Размер шрифта</p>
                        <div class="table-info__select table-info__select--width98">
                            <div class="select">
                                <button href="#" class="select__title">
                                    <span>22</span>
                                    <svg>
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                             xlink:href="#arrow-right-icon"></use>
                                    </svg>
                                </button>
                                <div class="select__list">
                                    <label>14<input type="radio" name="table_design_title_size" value="14"></label>
                                    <label>16<input type="radio" name="table_design_title_size" value="16"></label>
                                    <label>18<input type="radio" name="table_design_title_size" value="18"></label>
                                    <label>20<input type="radio" name="table_design_title_size" value="20"></label>
                                    <label>22<input type="radio" name="table_design_title_size" value="22"></label>
                                    <label>24<input type="radio" name="table_design_title_size" value="24"></label>
                                </div>
                                <!-- /.select__list -->
                            </div>
                            <!-- /.select -->
                        </div>
                        <!-- /.table-info__select -->
                    </div>
                    <!-- /.table-design-title__col -->
                    <div class="table-design-title__col">
                        <div class="color-pallete-choose color-pallete-choose--display">
                            <div class="color-pallete-choose__item">
                                <p class="table-info__subtitle">Цвет шрифта</p>
                                <div class="color-pallete-choose__inner">
                                    <span class="color-pallete-choose__hex">#2C2C2C</span>
                                    <input class="color-pallete-choose__color color-pallete-choose__text-color"
                                           type="text" name="table_design_title_color" value="#2C2C2C"
                                           style="display: none;">
                                    <div class="sp-replacer sp-light">
                                        <div class="sp-preview">
                                            <div class="sp-preview-inner"
                                                 style="background-color: rgb(44, 44, 44);"></div>
                                        </div>
                                        <div class="sp-dd">▼</div>
                                    </div>
                                </div>
                                <!-- /.color-pallete-choose__inner -->
                            </div>
                            <!-- /.color-pallete-choose__item -->
                        </div>
                        <!-- /.color-pallete__choose -->
                    </div>
                    <!-- /.table-design-title__col -->
                </div>
                <!-- /.table-design-title__item -->
                <div class="table-design-title__item">
                    <p class="table-info__subtitle">Стили</p>
                    <div class="table-design-title__style">
                        <div class="table-design-title__style-item">
                            <input id="table_design_title_bold" type="radio" name="table_design_title_style"
                                   value="table_design_title_bold">
                            <label for="table_design_title_bold"><strong>B</strong></label>
                        </div>
                        <!-- /.table-design-title__style-item -->
                        <div class="table-design-title__style-item">
                            <input id="table_design_title_italic" type="radio" name="table_design_title_style"
                                   value="table_design_title_italic">
                            <label for="table_design_title_italic"><em>I</em></label>
                        </div>
                        <!-- /.table-design-title__style-item -->
                        <div class="table-design-title__style-item">
                            <input id="table_design_title_under" type="radio" name="table_design_title_style"
                                   value="table_design_title_under">
                            <label for="table_design_title_under">U</label>
                        </div>
                        <!-- /.table-design-title__style-item -->
                        <div class="table-design-title__style-item">
                            <input id="table_design_title_first_upper" type="radio" name="table_design_title_style"
                                   value="table_design_title_first_upper">
                            <label for="table_design_title_first_upper">Tt</label>
                        </div>
                        <!-- /.table-design-title__style-item -->
                        <div class="table-design-title__style-item">
                            <input id="table_design_title_upper" type="radio" name="table_design_title_style"
                                   value="table_design_title_upper">
                            <label for="table_design_title_upper">TT</label>
                        </div>
                        <!-- /.table-design-title__style-item -->
                    </div>
                    <!-- /.table-design-title__style -->
                </div>
                <!-- /.table-design-title__item -->
            </div>
            <!-- /.table-design-title -->
        </div>
        <!-- /.table-info__item -->
        <div class="table-info__item">
            <div class="apply-tables">
                <input id="show_anchor_info" type="checkbox" name="show_anchor_info">
                <label for="show_anchor_info"><span>Отображать данные гиперссылками</span></label>
            </div>
            <div class="table-info__action">
                <button class="btn btn--color"><span>Сохранить изменения</span></button>
                <button class="btn btn--bg"><span>Настройки по умолчанию</span></button>
            </div>
        </div>
        <!-- /.table-info__item -->
    </form>
{% endblock %}