{% extends _base %}
{% block _main_content_classes %}
    tables widgets
{% endblock %}
{% block content %}
    <div class="tables__head">
        <p class="section-title">
            {{ _x('Setting tables','tables settings page title') }}
        </p>
        <div class="tables__nav tables__nav--settings">
            <ul>
                <li>
                    <a href="#" class="js_tables_active" data-tab="1">
                        {{ _x('Basic','tables settings page tab title') }}
                    </a>
                </li>
                <li>
                    <a href="#" data-tab="2">
                        {{ _x('Flight Tickets','tables settings page tab title') }}
                    </a>
                </li>
                <li>
                    <a href="#" data-tab="3">
                        {{ _x('Hotels','tables settings page tab title') }}
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.tables__nav -->
    </div>
    <!-- /.tables__head -->
    <div class="tables-content">
        <div class="tables-content__item " data-tab="1">
            {% include('/menu/tables/settings/basic.twig') %}
            <!-- /.tables-info -->
        </div>
        <!-- /.tables-content__item -->
        <div class="tables-content__item" data-tab="2">
            {% include('/menu/tables/settings/flight.twig') %}
        </div>
        <!-- /.tables-content__item -->
        <div class="tables-content__item js_tables_active" data-tab="3">
            {% include('/menu/tables/settings/hotel.twig') %}
        </div>
        <!-- /.tables-content__item -->
    </div>
    <!-- /.table-content -->
{% endblock %}