{% extends _base %}
{% block _main_content_classes %}
    tables widgets
{% endblock %}
{% block content %}
    <div class="tables__head">
        <p class="section-title">{{ _x('Widgets','wigdets title') }}</p>
        <div class="tables__nav">
            <ul>
                <li><a class="js_tables_active" href="#">{{ _x('Airtickets','wigdets category') }}</a></li>
                <li><a href="#">{{ _x('Hotels','wigdets category') }}</a></li>
            </ul>
        </div>
        <!-- /.tables__nav -->
    </div>
    <!-- /.tables__head -->
    <div class="tables-content">
        <div class="tables-content__item js_tables_active">
            {% include('/menu/widgets/contents/airtickets_price_map.twig') %}
            {% include('/menu/widgets/contents/airtickets_low_price_calendar.twig') %}
            {% include('/menu/widgets/contents/airtickets_price_subscription.twig') %}
            {% include('/menu/widgets/contents/airtickets_popular.twig') %}
            {% include('/menu/widgets/contents/airtickets_offers.twig') %}
        </div>
        <!-- /.tables-content__item -->
        <div class="tables-content__item">
            {% include('/menu/widgets/contents/hotels_map.twig') %}
            {% include('/menu/widgets/contents/hotels_widget.twig') %}
            {% include('/menu/widgets/contents/hotels_collections.twig') %}
            {% include('/menu/widgets/contents/hotels_collections_location.twig') %}
            {% include('/menu/widgets/contents/hotels_collections_dates.twig') %}
        </div>
        <!-- /.tables-content__item -->
    </div>
    <!-- /.table-content -->
{% endblock %}