.tp-radio {
  $tp-radio: &;
  &-group {
    #{$tp-radio} {
      margin: 0 0 10px 0;
      &:last-child {
        margin: 0;
      }
    }
    &--inline {
      #{$tp-radio} {
        display: inline-block;
        margin: 0 10px 10px 0;
      }
    }
  }
}