.tp-input {
  $tp-input: &;

  &--disabled {
    #{$tp-input} {
      &-input {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
  }

  &--prepend, &--append, &--both {
    display: flex;

    #{$tp-input} {
      &-input {
        display: inline-block;
        max-width: 100%;
        width: inherit;
        flex: 1 0 auto;
        flex-wrap: nowrap;
      }
    }
  }

  &--both {
    #{$tp-input} {
      &-input {
        border-radius: 0;
      }
    }
  }

  &--append {
    #{$tp-input} {
      &-input {
        border-radius: $input-border-radius 0 0 $input-border-radius;
      }
    }
  }

  &--prepend {
    #{$tp-input} {
      &-input {
        border-radius: 0 $input-border-radius $input-border-radius 0;

      }
    }
  }

  &__prepend, &__append {
    display: inline-block;
    font-size: 15px;
    padding: 13px 15px;
    border: 1px solid $input-border-color;
    background: lighten($input-border-color, 20);
  }

  &__prepend {
    border-radius: $input-border-radius 0 0 $input-border-radius;
    border-width: 1px 0 1px 1px;
  }

  &__append {
    border-radius: 0 $input-border-radius $input-border-radius 0;
    border-width: 1px 1px 1px 0;
  }
}

.has-error {
  .tp-input {
    &__prepend, &__append {
      border-color: $color-danger;
      background: lighten($color-danger, 40);
    }
  }
}