<div class="tp-input"
     class-tp-input--both="append && prepend"
     class-tp-input--append="append && !prepend"
     class-tp-input--prepend="prepend && !append"
     class-tp-input--disabled="disabled">
    {{#if prepend}}
    <div class="tp-input__prepend">{{prepend}}</div>
    {{/if}}
    <input class="tp-input-input"
           type="{{type}}"
           value="{{value}}"
           placeholder="{{placeholder}}">
    {{#if append}}
    <div class="tp-input__append">{{append}}</div>
    {{/if}}
</div>