.tp-shortcode-form {
  background: #ffffff;
  border-color: #d0d0d0;
  border-style: solid;
  border-width: 0 0 1px 0;
  margin: 0;
  padding: 20px 0;
  &:last-child {
    border-width: 0;
    padding-bottom: 0;
  }
  &:first-child {
    padding-top: 0;
  }
}