{% block content %}
    <a href="#" class="tables-content__title" title="Вчера в 21:03">
        <span>{{ _x('Flights from origin to destination, One Way (next month)','tables content flights') }}</span>
        <svg>
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right-icon"></use>
        </svg>
    </a>
    <div class="table-info">
        <a class="table-info__close" href="#">
            <svg>
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-right-icon"></use>
            </svg>
        </a>
        <div class="table-info__item">
            <p>Интерактивная карта со схемой рейсов из указанного или автоматически определенного города вылета.
                Клик в любом месте карты перенаправит пользователя на <a class="dashed" href="map.aviasales.ru">map.aviasales.ru</a>.
            </p>
        </div>
        <!-- /.table-info__item -->
        <div class="table-info__item table-info__item--padding">
            <a class="table-info__preview-title dashed" href="#">Предварительный просмотр</a>
            <div class="preview-info">
                <p class="preview-info__title">Дешевые перелеты из Москвы</p>
                <div class="preview-info-table">
                    <div class="preview-info-table__row preview-info-table__row--head">
                        <div class="preview-info-table__col">
                            <span>Куда</span>
                        </div>
                        <!-- /.preview-info-table__col -->
                        <div class="preview-info-table__col">
                            <span>Дата вылета</span>
                        </div>
                        <!-- /.preview-info-table__col -->
                        <div class="preview-info-table__col">
                            <span>Дата возвращения</span>
                        </div>
                        <!-- /.preview-info-table__col -->
                        <div class="preview-info-table__col">
                            <span>Найти билет</span>
                        </div>
                        <!-- /.preview-info-table__col -->
                    </div>
                    <!-- /.preview-info-table__row -->
                    <div class="preview-info-table__row">
                        <div class="preview-info-table__col">
                            <span>Киров</span>
                        </div>
                        <!-- /.preview-info-table__col -->
                        <div class="preview-info-table__col">
                            <span>05.09.2017</span>
                        </div>
                        <!-- /.preview-info-table__col -->
                        <div class="preview-info-table__col">
                            <span>13.09.2017</span>
                        </div>
                        <!-- /.preview-info-table__col -->
                        <div class="preview-info-table__col">
                            <a class="btn" href="#"><span>Билеты от 2 254 Р</span></a>
                        </div>
                        <!-- /.preview-info-table__col -->
                    </div>
                    <!-- /.preview-info-table__row -->
                    <div class="preview-info-table__row">
                        <div class="preview-info-table__col">
                            <span>Санкт-Петербург</span>
                        </div>
                        <!-- /.preview-info-table__col -->
                        <div class="preview-info-table__col">
                            <span>05.09.2017</span>
                        </div>
                        <!-- /.preview-info-table__col -->
                        <div class="preview-info-table__col">
                            <span>13.09.2017</span>
                        </div>
                        <!-- /.preview-info-table__col -->
                        <div class="preview-info-table__col">
                            <a class="btn" href="#"><span>Билеты от 2 254 Р</span></a>
                        </div>
                        <!-- /.preview-info-table__col -->
                    </div>
                    <!-- /.preview-info-table__row -->
                    <div class="preview-info-table__row">
                        <div class="preview-info-table__col">
                            <span>Нижний Новгород</span>
                        </div>
                        <!-- /.preview-info-table__col -->
                        <div class="preview-info-table__col">
                            <span>05.09.2017</span>
                        </div>
                        <!-- /.preview-info-table__col -->
                        <div class="preview-info-table__col">
                            <span>13.09.2017</span>
                        </div>
                        <!-- /.preview-info-table__col -->
                        <div class="preview-info-table__col">
                            <a class="btn" href="#"><span>Билеты от 2 254 Р</span></a>
                        </div>
                        <!-- /.preview-info-table__col -->
                    </div>
                    <!-- /.preview-info-table__row -->
                </div>
                <!-- /.preview-info-table -->
            </div>
            <!-- /.preview-info -->
        </div>
        <!-- /.table-info__item -->
        {% include('/menu/tables/content/flight/forms/price-calendar-month.twig') %}

        <div class="table-info__item">
            <p class="table-info__title">Текст заголовка таблицы</p>
            <form action="#" method="post" class="table-content-form">
                <input class="w100" type="text" name="table_title"
                       value="Цены на авиабилеты в одну сторону из %{origin} в %{destination}, на ближайшее">
                <div class="table-info__item">
                    <p class="table-info__subtitle">Тег заголовка</p>
                    <div class="table-info__select">
                        <div class="select">
                            <button href="#" class="select__title">
                                <span>H3</span>
                                <svg>
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                         xlink:href="#arrow-right-icon"></use>
                                </svg>
                            </button>
                            <div class="select__list">
                                <label>H1<input type="radio" name="tag_select" value="h1"></label>
                                <label>H2<input type="radio" name="tag_select" value="h2"></label>
                                <label>H3<input type="radio" name="tag_select" value="h3"></label>
                                <label>H4<input type="radio" name="tag_select" value="h4"></label>
                                <label>H5<input type="radio" name="tag_select" value="h5"></label>
                                <label>H6<input type="radio" name="tag_select" value="h6"></label>
                            </div>
                            <!-- /.select__list -->
                        </div>
                        <!-- /.select -->
                    </div>
                    <!-- /.table-info__select -->
                </div>
                <!-- /.table-info__item -->
                <div class="table-info__item">
                    <div class="sort">
                        <p class="table-info__title">Колонки таблицы</p>
                        <p class="sort__subtitle">Мы предлагаем готовую комбинацию для такой таблицы, но ты
                            можешь отредактировать количество столбцов и порядок их расположения.</p>
                        <div class="sort_table">
                            <div class="sort_table__col">
                                <p class="table-info__subtitle">Не выбранные</p>
                                <ul id="sort_table_not_select" class="sort_table__list ui-sortable">
                                    <li class="ui-sortable-handle">Стоимость</li>
                                    <li class="ui-sortable-handle">Класс перелета</li>
                                    <li class="ui-sortable-handle">Расстояние</li>
                                </ul>
                            </div>
                            <!-- /.sort_table__col -->
                            <div class="sort_table__col">
                                <p class="table-info__subtitle">Выбранные</p>
                                <ul id="sort_table_select" class="sort_table__list ui-sortable">
                                    <li class="ui-sortable-handle">Дата вылета</li>
                                    <li class="ui-sortable-handle">Пересадки</li>
                                    <li class="ui-sortable-handle">Кнопка</li>
                                </ul>
                            </div>
                            <!-- /.sort_table__col -->
                        </div>
                        <!-- /.sort_table -->
                    </div>
                    <!-- /.sort -->
                </div>
                <!-- /.table-info__item -->
                <div class="table-info__item">
                    <div class="transfer">
                        <p class="table-info__title">Настройки пагинации</p>
                        <div class="transfer__item">
                            <input id="transfer_1" type="checkbox" name="transfer_all_flights">
                            <label for="transfer_1"><span>Все рейсы</span></label>
                        </div>
                        <!-- /.transfer__item -->
                        <div class="transfer__item">
                            <input id="transfer_2" type="checkbox" name="without_transfer">
                            <label for="transfer_2"><span>Без пересадок</span></label>
                        </div>
                        <!-- /.transfer__item -->
                        <div class="transfer__item">
                            <input id="transfer_3" type="checkbox" name="one_transfer">
                            <label for="transfer_3"><span>1 пересадка</span></label>
                        </div>
                        <!-- /.transfer__item -->
                        <div class="transfer__item">
                            <input id="transfer_4" type="checkbox" name="two_transfers">
                            <label for="transfer_4"><span>2 пересадки</span></label>
                        </div>
                        <!-- /.transfer__item -->
                    </div>
                    <!-- /.transfer -->
                </div>
                <!-- /.table-info__item -->
                <div class="table-info__item">
                    <p class="table-info__title">
                        <span>Текст кнопки</span>
                        <a href="#" class="helper helper--position" title="Текст кнопки">
                            <svg width="18" height="18" viewBox="0 0 18 18">
                                <path class="helper__bg" fill-rule="evenodd"
                                      d="M 9 18C 13.9706 18 18 13.9706 18 9C 18 4.02944 13.9706 0 9 0C 4.02944 0 0 4.02944 0 9C 0 13.9706 4.02944 18 9 18Z"></path>
                                <path fill="#FFFFFF" transform="translate(7 4)" fill-rule="evenodd"
                                      d="M 1 4.5C 1 4.22386 0.776143 4 0.5 4C 0.223858 4 0 3.77614 0 3.5C 0 3.22386 0.223857 3 0.499999 3L 2.5 3C 2.77614 3 3 3.22386 3 3.5L 3 8.5C 3 8.77614 3.22386 9 3.5 9C 3.77614 9 4 9.22386 4 9.5C 4 9.77614 3.77614 10 3.5 10L 0.499999 10C 0.223857 10 0 9.77614 0 9.5C 0 9.22386 0.223858 9 0.5 9C 0.776143 9 1 8.77614 1 8.5L 1 4.5ZM 1 0.5C 1 0.223858 1.22386 0 1.5 0L 2.5 0C 2.77614 0 3 0.223858 3 0.5L 3 1.5C 3 1.77614 2.77614 2 2.5 2L 1.5 2C 1.22386 2 1 1.77614 1 1.5L 1 0.5Z"></path>
                            </svg>
                        </a>
                    </p>
                    <input class="w65" type="text" name="button_title" value="Билеты от %{price}">
                </div>
                <!-- /.table-info__item -->
                <div class="table-info__item">
                    <p class="table-info__title">Тег заголовка</p>
                    <div class="table-info__select table-info__select--width">
                        <div class="select">
                            <button href="#" class="select__title">
                                <span>Дата вылета</span>
                                <svg>
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                         xlink:href="#arrow-right-icon"></use>
                                </svg>
                            </button>
                            <div class="select__list">
                                <label>Дата вылета<input type="radio" name="column_sorting" value="Дата вылета"></label>
                                <label>Дата возвращения<input type="radio" name="column_sorting"
                                                              value="Дата возвращения"></label>
                                <label>Пересадки<input type="radio" name="column_sorting"
                                                       value="Пересадки"></label>
                                <label>Номер рейса<input type="radio" name="column_sorting" value="Номер рейса"></label>
                                <label>Рейс<input type="radio" name="column_sorting" value="Рейс"></label>
                                <label>Стоимость<input type="radio" name="column_sorting"
                                                       value="Стоимость"></label>
                            </div>
                            <!-- /.select__list -->
                        </div>
                        <!-- /.select -->
                    </div>
                    <!-- /.table-info__select -->
                </div>
                <!-- /.table-info__item -->
                <div class="table-info__item">
                    <div class="pagination-settings">
                        <p class="table-info__title">Настройки пагинации</p>
                        <input id="pagination_1" type="checkbox" class="pagination-on" name="pagination-toggle">
                        <label for="pagination_1"><span>Использовать пагинацию</span></label>
                        <p class="section-subtitle">Кол-во результатов на странице</p>
                        <div class="pagination-qty">
                            <input type="number" name="pagination-qty" value="10" disabled="">
                            <div class="pagination-qty__action">
                                <button class="pagination-qty-plus" disabled="">+</button>
                                <button class="pagination-qty-minus" disabled="">–</button>
                            </div>
                        </div>
                        <!-- /.pagination-qty -->
                    </div>
                    <!-- /.pagination-settings -->
                </div>
                <!-- /.table-info__item -->
                <div class="table-info__item">
                    <p class="table-info__title">
                        <span>Дополнительный маркер</span>
                        <a href="#" class="helper helper--position" title="Дополнительный маркер">
                            <svg width="18" height="18" viewBox="0 0 18 18">
                                <path class="helper__bg" fill-rule="evenodd"
                                      d="M 9 18C 13.9706 18 18 13.9706 18 9C 18 4.02944 13.9706 0 9 0C 4.02944 0 0 4.02944 0 9C 0 13.9706 4.02944 18 9 18Z"></path>
                                <path fill="#FFFFFF" transform="translate(7 4)" fill-rule="evenodd"
                                      d="M 1 4.5C 1 4.22386 0.776143 4 0.5 4C 0.223858 4 0 3.77614 0 3.5C 0 3.22386 0.223857 3 0.499999 3L 2.5 3C 2.77614 3 3 3.22386 3 3.5L 3 8.5C 3 8.77614 3.22386 9 3.5 9C 3.77614 9 4 9.22386 4 9.5C 4 9.77614 3.77614 10 3.5 10L 0.499999 10C 0.223857 10 0 9.77614 0 9.5C 0 9.22386 0.223858 9 0.5 9C 0.776143 9 1 8.77614 1 8.5L 1 4.5ZM 1 0.5C 1 0.223858 1.22386 0 1.5 0L 2.5 0C 2.77614 0 3 0.223858 3 0.5L 3 1.5C 3 1.77614 2.77614 2 2.5 2L 1.5 2C 1.22386 2 1 1.77614 1 1.5L 1 0.5Z"></path>
                            </svg>
                        </a>
                    </p>
                    <input class="w65" type="text" name="extra_marker" value="calMonth">
                </div>
                <!-- /.table-info__item -->
                <div class="table-info__item">
                    <div class="apply-tables">
                        <input id="apply-tables_15" type="checkbox" name="apply-tables-toggle">
                        <label for="apply-tables_15"><span>Применить ко всем таблицам</span></label>
                    </div>
                    <div class="table-info__action">
                        <button class="btn btn--color"><span>Сохранить изменения</span></button>
                        <button class="btn"><span>Настройки по умолчанию</span></button>
                    </div>
                </div>
                <!-- /.table-info__item -->
            </form>
            <!-- /.table-content-form -->
        </div>
        <!-- /.table-info__item -->
    </div>
{% endblock %}