.tp-checkbox {
  &--checked {
    label.tp-checkbox-label {
      &:before {
        background-color: $blue !important;
        border-color: $blue !important;
      }
      &:after {
        content: '';
        opacity: 1 !important;
      }
    }
  }
}