<div class="tp-checkbox ui checkbox"
     class-tp-checkbox--checked="value"
     class-disabled="disabled"
     on-click="@.toggleValue()"
>
    <!--<input type="checkbox" name="{{name}}" value="{{value}}">-->
    <label class="tp-checkbox-label">{{label}}</label>
</div>
