{% block content %}

    <div class="table-info__item">
        {{ form_start(form_tutu) }}

            {{ form_row(form_tutu.title) }}
            {{ form_row(form_tutu.title_tag) }}
            {{ form_row(form_tutu.extra_table_marker) }}
            {{ form_row(form_tutu.sort_column) }}
            {{ form_row(form_tutu.table_columns) }}
            {{ form_row(form_tutu.button_title) }}
            {{ form_row(form_tutu.paginate) }}
            {{ form_row(form_tutu.paginate_rows_per_page) }}

            <!-- /.table-info__item -->
            <div class="table-info__item">
                <div class="apply-tables">
                    <input id="apply-tables_15" type="checkbox" name="apply-tables-toggle">
                    <label for="apply-tables_15"><span>Применить ко всем таблицам</span></label>
                </div>
                <div class="table-info__action">
                    <button class="btn btn--color" type="submit">
                        <span>{{ _x('Save changes','general_save_changes_button') }}</span>
                    </button>
                    <button class="btn">
                                <span>
                                    {{ _x('Set default','general_default_button') }}
                                </span>
                    </button>
                </div>
            </div>
            <!-- /.table-info__item -->

        {{ form_end(form_tutu) }}
    </div>
{% endblock %}