<div class="table-info__item table-info__item--padding  table-info__item_middle">
    <a class="table-info__preview-title dashed" href="#">{{ _x('Preview','wigdets preview') }}</a>
    <div class="preview-info">
        <p class="preview-info__title">{{ _x('Cheap flights from Moscow','tp_widgets_hotel preview') }}
        </p>
        <div class="preview-info-table">
            <div class="preview-info-table__row preview-info-table__row--head">
                <div class="preview-info-table__col">
                    <span>{{ _x('Destination','tp_widgets_hotel preview') }}</span>
                </div>
                <!-- /.preview-info-table__col -->
                <div class="preview-info-table__col">
                    <span>
                                {{ _x('Departure date','tp_widgets_hotel preview') }}
                    </span>
                </div>
                <!-- /.preview-info-table__col -->
                <div class="preview-info-table__col">
                    <span>{{ _x('Return date','tp_widgets_hotel preview') }}</span>
                </div>
                <!-- /.preview-info-table__col -->
                <div class="preview-info-table__col">
                    <span>{{ _x('Find tickets','tp_widgets_hotel preview') }}</span>
                </div>
                <!-- /.preview-info-table__col -->
            </div>
            <!-- /.preview-info-table__row -->
            <div class="preview-info-table__row">
                <div class="preview-info-table__col">
                    <span>{{ _x('Kirov','tp_widgets_hotel preview') }}</span>
                </div>
                <!-- /.preview-info-table__col -->
                <div class="preview-info-table__col">
                    <span>05.09.2017</span>
                </div>
                <!-- /.preview-info-table__col -->
                <div class="preview-info-table__col">
                    <span>13.09.2017</span>
                </div>
                <!-- /.preview-info-table__col -->
                <div class="preview-info-table__col">
                    <a class="btn" href="#"><span> {{ _x('Tickets from 2 254 rub.','tp_widgets_hotel preview') }}</span></a>
                </div>
                <!-- /.preview-info-table__col -->
            </div>
            <!-- /.preview-info-table__row -->
            <div class="preview-info-table__row">
                <div class="preview-info-table__col">
                    <span>{{ _x('St. Petersburg','tp_widgets_hotel preview') }}</span>
                </div>
                <!-- /.preview-info-table__col -->
                <div class="preview-info-table__col">
                    <span>05.09.2017</span>
                </div>
                <!-- /.preview-info-table__col -->
                <div class="preview-info-table__col">
                    <span>13.09.2017</span>
                </div>
                <!-- /.preview-info-table__col -->
                <div class="preview-info-table__col">
                    <a class="btn" href="#"><span> {{ _x('Tickets from 2 254 rub.','tp_widgets_hotel preview') }}</span></a>
                </div>
                <!-- /.preview-info-table__col -->
            </div>
            <!-- /.preview-info-table__row -->
            <div class="preview-info-table__row">
                <div class="preview-info-table__col">
                    <span>{{ _x('Nizhny Novgorod','tp_widgets_hotel preview') }}</span>
                </div>
                <!-- /.preview-info-table__col -->
                <div class="preview-info-table__col">
                    <span>05.09.2017</span>
                </div>
                <!-- /.preview-info-table__col -->
                <div class="preview-info-table__col">
                    <span>13.09.2017</span>
                </div>
                <!-- /.preview-info-table__col -->
                <div class="preview-info-table__col">
                    <a class="btn" href="#"><span> {{ _x('Tickets from 2 254 rub.','tp_widgets_hotel preview') }}</span></a>
                </div>
                <!-- /.preview-info-table__col -->
            </div>
            <!-- /.preview-info-table__row -->
        </div>
        <!-- /.preview-info-table -->
    </div>
    <!-- /.preview-info -->
</div>
