//---GLOBAL---

$main: #455A65;

$blue: #02BBD7;

$ultrabase-color: #4ECFE3;

$base-color: #41C2D2;

$white: #fff;

$black: #000;

$light-balzam: #026065;

$dark-balzam: #263239;

$travel-table-border-color: #eaeaea;



