@charset "UTF-8";

@font-face {
  font-family: "IntroRegular";
  src: url("../fonts/IntroRegular/IntroRegular.eot");
  src: url("../fonts/IntroRegular/IntroRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/IntroRegular/IntroRegular.woff") format("woff"), url("../fonts/IntroRegular/IntroRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


/* -----------------------------------------
 DEVICE LIST
 ----------------------------------------- */

/* -----------------------------------------
 GLOBAL
 ----------------------------------------- */

body {
  background: #f6f7f7;
}

.travel {
  .TPHotelStar {
    color: #fdb931;
  }
  .TP-old-price-and, .TP-old-price-and-new-price {
    width: 100%;
  }
  .travel-table-wrap {
    position: relative;
    margin-top: 80px;
    &.is-load {
      &:before, &:after {
        content: none;
      }
      .travel-table {
        pointer-events: auto;
      }
    }
  }
  .travel-table {
    font-size: 13px;
    font-family: Arial, sans-serif;
    margin-bottom: 30px;
    /*pointer-events: none;*/
  }
  .travel-table-head {
    color: #fff;
  }
  .travel-table-head__col {
    &.is-active {
      &:before {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
      }
      &:after {
        opacity: 1;
        -webkit-transform: translate(0);
        -ms-transform: translate(0);
        transform: translate(0);
      }
    }
    &.sort_desc:after {
      -webkit-transform: translate(0) rotateX(180deg);
      transform: translate(0) rotateX(180deg);
    }
    span {
      position: relative;
      z-index: 2;
      text-transform: uppercase;
      font-family: "RobotoRegular";
    }
    height: 51px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 0 8px;
    border-bottom: 1px solid #eaeaea;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
  }
  .travel-table-body__col {
    height: 51px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 0 8px;
    border-bottom: 1px solid #eaeaea;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
  }
  .travel-table-head__col:first-child, .travel-table-body__col:first-child {
    border-top: 1px solid #eaeaea;
  }
  .travel-table-head__col span, .travel-table-body__col span {
    /*display: block;*/
    /*width: 100%;*/
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
  }
  .travel-table-body {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-width: 180px;
    color: #787878;
    position: relative;
    overflow: hidden;
  }
  .travel-table-body__col {
    position: relative;
    z-index: 3;
    border-right: 1px solid #eaeaea;
    &:last-child {
      padding: 8px;
    }
    a {
      position: relative;
      display: block;
      padding: 8px 4px;
      width: 100%;
      z-index: 2;
      min-width: 130px;
      font-family: "RobotoBold";
      text-transform: uppercase;
      color: #fff;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      -webkit-transition: 0.3s ease;
      transition: 0.3s ease;
      text-decoration: none;
      box-shadow: none;

      &:hover {
        opacity: 0.8;
      }
    }
    img {
      max-height: 30px;
      height: auto;
      max-width: 100%;
      width: auto;
    }
  }
  .table-color-pink-yellow {
    .travel-table-body:after {
      background-color: rgba(254, 178, 14, 0.3);
    }
    .travel-table-body__col a {
      background-color: #feb20e;
    }
  }
  .table-red-button {
    .travel-table-body:after {
      background-color: rgba(231, 78, 52, 0.2);
    }
    .travel-table-body__col a {
      background-color: #e74e34;
      &:hover {
        background-color: #e7343485;
      }
    }
  }
  .table-blue-button {
    .travel-table-body:after {
      background-color: rgba(61, 175, 255, 0.2);
    }
    .travel-table-body__col a {
      background-color: #3dafff;
      &:hover {
        background-color: #46c7ff;
      }
    }
  }
  .table-light-green-button {
    .travel-table-body:after {
      background-color: rgba(160, 204, 40, 0.2);
    }
    .travel-table-body__col a {
      background-color: #a0cc28;
      &:hover {
        background-color: #81cc29;
      }
    }
  }
  .table-purple-button {
    .travel-table-body:after {
      background-color: rgba(255, 96, 85, 0.2);
    }
    .travel-table-body__col a {
      background-color: #ff6055;
      &:hover {
        background-color: rgba(234, 158, 0, 0.7);
      }
    }
  }
  .table-yellow-button .travel-table__row .travel-table-body__col--img, .table-dark-column .travel-table-body:hover .travel-table-body__col.travel-table-body__col--img, .table-plum-column .travel-table-body:hover .travel-table-body__col.travel-table-body__col--img {
    background-color: rgba(255, 255, 255, 0.25);
  }
  .table-yellow-button {
    .travel-table-body:after {
      /*background-color: rgba(255, 96, 85, 0);*/
      background-color: rgba(255, 96, 85, 0.3);
    }
    .travel-table-body__col a {
      background-color: #feb20e;
      &:hover {
        background-color: rgba(234, 158, 0, 0.7);
      }
    }
    .travel-table-head__col, .travel-table-body__col {
      border-color: #332f35 !important;
    }
  }
  .table-black-theme-yellow-button {
    .travel-table__row .travel-table-body__col--img {
      background-color: rgba(255, 255, 255, 0.25);
    }
    .travel-table-body {
      &:after {
        background-color: rgba(159, 130, 173, 0.3);
      }
      &:before {
        border-color: rgba(159, 130, 173, 0.1);
      }
    }
    .travel-table-body__col {
      color: #fff;
      a {
        background-color: transparent;
        border: 2px solid #ef643b;
        -webkit-border-radius: 20px;
        border-radius: 20px;
        &:hover {
          background-image: linear-gradient(left, #f17d1b 0%, #ed4a5e 100%);
          background-image: -webkit-linear-gradient(left, #f17d1b 0%, #ed4a5e 100%);
          background-image: -webkit-gradient(linear, left top, right top, from(#f17d1b), to(#ed4a5e));
          background-image: linear-gradient(to right, #f17d1b 0%, #ed4a5e 100%);
          -webkit-box-shadow: none;
          box-shadow: none;
        }
      }
    }
    .travel-table-head__col, .travel-table-body__col {
      border-color: #332f35 !important;
    }
  }
  .table-plum-column {
    .travel-table__row {
      &:nth-child(even) .travel-table-body:before, &:nth-child(odd) .travel-table-body:before {
        background-color: #fff;
      }
    }
    .travel-table-head__col {
      &:last-child {
        background-color: transparent;
        color: #fff;
      }
      &:first-child {
        border-top: 1px solid;
        border-left: 1px solid;
      }
    }
    .travel-table-body {
      &:after {
        background-color: rgba(159, 130, 173, 0);
      }
      &:before {
        content: none;
      }
    }
    .travel-table-body__col {
      &:not(:last-child) {
        color: #787878;
        background-color: #fff;
      }
      &:last-child {
        background-color: transparent;
      }
      a {
        background-color: transparent;
        border: 2px solid #fff;
        -webkit-border-radius: 20px;
        border-radius: 20px;
      }
    }
    .travel-table-head__col, .travel-table-body__col {
      border-bottom: 1px solid;
      border-color: #eaeaea !important;
    }
    .travel-table-head__col:first-child, .travel-table-body__col:first-child {
      border-bottom: 1px solid;
    }
  }
  .table-dark-column {
    &.travel-table {
      background-color: #262626;
    }
    .travel-table__row {
      &:nth-child(even) .travel-table-body:before, &:nth-child(odd) .travel-table-body:before {
        background-color: #fff;
      }
    }
    .travel-table-head__col:first-child {
      border-top: 1px solid;
      border-left: 1px solid;
    }
    .travel-table-body {
      &:after {
        background-color: rgba(159, 130, 173, 0);
      }
      &:before {
        content: none;
      }
    }
    .travel-table-body__col {
      &:not(:last-child) {
        color: #787878;
        background-color: #fff;
      }
      a {
        background-color: transparent;
        border: 2px solid #f1d604;
        -webkit-border-radius: 20px;
        border-radius: 20px;
        &:hover {
          background-color: #f1d604;
          color: #262626;
          -webkit-box-shadow: none;
          box-shadow: none;
        }
      }
    }
    .travel-table-head__col, .travel-table-body__col {
      border-bottom: 1px solid;
      border-color: #eaeaea !important;
    }
    .travel-table-head__col:first-child, .travel-table-body__col:first-child {
      border-bottom: 1px solid;
    }
  }
  .table-mint-button {
    .travel-table-body {
      &:after {
        background-color: rgba(88, 211, 214, 0.2);
      }
      &:before {
        border-color: transparent;
      }
    }
    .travel-table-body__col a {
      background-color: #58d3d6;
      &:hover {
        background-color: #58d3e0;
      }
    }
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0.7);
    transform: translate(-50%, -50%) scale(0.7);
  }

  50% {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) scale(0.7);
    transform: translate(-50%, -50%) scale(0.7);
  }
}


@keyframes pulse {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0.7);
    transform: translate(-50%, -50%) scale(0.7);
  }

  50% {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) scale(0.7);
    transform: translate(-50%, -50%) scale(0.7);
  }
}


@media screen and (min-width: 600px) {
  /*@media screen and (min-width: 769px) {*/
  .travel {
    .travel-table__row {
      &:not(:first-of-type) .travel-table-head {
        display: none;
      }
      &:nth-child(odd):last-of-type {
        border-bottom: 1px solid #eaeaea;
      }
    }
    .travel-table-head__col {
      padding: 10px 20px 10px 10px;
      &:after {
        content: "";
        position: absolute;
        right: 3px;
        top: 50%;
        display: block;
        width: 13px;
        height: 13px;
        line-height: 13px;
        text-align: center;
        margin-top: -6px;
        background-image: url(../images/arrow_down_white.svg.png);
        background-repeat: no-repeat;
        background-position: center;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        line-height: 1;
        opacity: 0;
        -webkit-transition: 0.3s linear;
        transition: 0.3s linear;
        -webkit-transition-property: opacity, -webkit-transform;
        transition-property: opacity, -webkit-transform;
        transition-property: opacity, transform;
        transition-property: opacity, transform, -webkit-transform;
      }
    }
  }
  .arrow_grey .travel-table-head__col:after {
    background-image: url(../images/arrow_down_grey.png);
  }
  body[dir='rtl'] .travel {
    .travel-table-head__col:after {
      right: auto;
      left: 8px;
    }
    .travel-table-body__col.travel-table-body__col--normal {
      direction: initial;
      text-align: right;
    }
  }
  .travel {
    .travel-table-head, .travel-table-body {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
    }
    .travel-table-head__col, .travel-table-body__col {
      height: auto;
      width: 16.5%;
      border-bottom: none;
    }
    .travel-table-head__col:last-child, .travel-table-body__col:last-child {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
    }
    .travel-table-head__col:not(:last-child), .travel-table-body__col:not(:last-child) {
      border-right: 1px solid #eaeaea;
    }
    .travel-table-head__col:nth-last-child(n + 2):first-child, .travel-table-body__col:nth-last-child(n + 2):first-child {
      width: 50%;
      ~ div {
        width: 50%;
      }
    }
    .travel-table-head__col:nth-last-child(n + 3):first-child, .travel-table-body__col:nth-last-child(n + 3):first-child {
      width: 25%;
      ~ div {
        width: 25%;
      }
    }
    .travel-table-head__col:nth-last-child(n + 4):first-child, .travel-table-body__col:nth-last-child(n + 4):first-child {
      width: 20%;
      ~ div {
        width: 20%;
      }
    }
    .travel-table-head__col:nth-last-child(n + 5):first-child, .travel-table-body__col:nth-last-child(n + 5):first-child {
      width: 16.5%;
      ~ div {
        width: 16.5%;
      }
    }
    .travel-table-head__col:nth-last-child(n + 6):first-child, .travel-table-body__col:nth-last-child(n + 6):first-child {
      width: 16.5%;
      /*width: 15%;*/
      ~ div {
        width: 16.5%;
        /*width: 15%;*/
      }
    }
    .travel-table-head__col:first-child {
      border-top: none;
    }
    .travel-table--purpur_red .travel-table-head__col:first-child {
      border-top: 1px solid #eaeaea;
  }
    .travel-table-body__col {
      &:first-child {
        border-top: none;
        border-left: 1px solid #eaeaea;
      }
      padding: 6px 18px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      &:last-child {
        padding: 7px 18px;
        border-right: 1px solid #eaeaea;
      }
      a {
        padding: 8px 12px;
      }
    }
    .table-plum-column {
      .travel-table-body:hover .travel-table-body__col {
        background-color: transparent;
        color: #fff;
      }
      .travel-table-body__col a:hover {
        background-color: #fff;
        color: #15234e;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
    .table-dark-column .travel-table-body:hover .travel-table-body__col {
      background-color: transparent;
      color: #fff;
    }
  }
}

@media screen and (max-width: 425px) {
  /*@media screen and (max-width: 768px) {*/
  .travel {
    .travel-table-body {
      border-bottom: none;
    }

    .travel-table-wrap:after {
      height: 100%;
      width: -webkit-calc(100% - 110px);
      width: calc(100% - 110px);
    }
    .travel-table__row {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 15px;
      &:nth-child(even) .travel-table-body:before, &:nth-child(odd) .travel-table-body:before {
        background-color: transparent;
      }
    }
    .travel-table-head__col {
      width: 90px;

    }
    .table-yellow-button {
      .travel-table-head__col, .travel-table-body__col {
        border-color: #eaeaea !important;
      }
    }
    .table-black-theme-yellow-button {
      .travel-table-body__col {
        color: #787878;
        a {
          background-image: -webkit-linear-gradient(left, #f17d1b 0%, #ed4a5e 100%);
          background-image: -webkit-gradient(linear, left top, right top, from(#f17d1b), to(#ed4a5e));
          background-image: linear-gradient(to right, #f17d1b 0%, #ed4a5e 100%);
          -webkit-box-shadow: none;
          box-shadow: none;
        }
      }
      .travel-table-head__col, .travel-table-body__col {
        border-color: #eaeaea !important;
      }
    }
    .table-plum-column {
      &.travel-table {
        background: transparent;
      }
      .travel-table__row {
        background-image: -webkit-gradient(linear, left bottom, left top, from(#f60f3d), to(#1d234e));
        background-image: -webkit-linear-gradient(bottom, #f60f3d 0%, #1d234e 100%);
        background-image: linear-gradient(to top, #f60f3d 0%, #1d234e 100%);
      }
      .travel-table-body__col {
        &:not(:last-child) {
          background-color: #fff;
          color: #262626;
        }
        &:last-child {
          background-color: #fff;
        }
        a {
          background-image: -webkit-gradient(linear, left top, right top, from(#f60f3d), to(#1d234e));
          background-image: -webkit-linear-gradient(left, #f60f3d 0%, #1d234e 100%);
          background-image: linear-gradient(to right, #f60f3d 0%, #1d234e 100%);
          color: #fff;
        }
      }
      .travel-table-head__col, .travel-table-body__col {
        border-right: 1px solid;
      }
    }
    .table-dark-column {
      &.travel-table {
        background: transparent;
      }
      .travel-table-head__col {
        border-top: none;
        border-left: 1px solid;
      }
      .travel-table-body__col a {
        background-color: #f1d604;
        color: #262626;
      }
      .travel-table-head__col, .travel-table-body__col {
        border-right: 1px solid;
      }
    }
  }
  /*      .travel .table-plum-column .travel-table-head__col {
          border-top: none;
          border-left: 1px solid;
          background-color: transparent;
          color: #fff;
          }*/
}

.pagination {
  padding: 0;
  margin: 10px 0;
  list-style: none;
  display: inline-block;
  &:after {
    content: "";
    clear: both;
  }
  li {
    border: solid 1px #ededed;
    float: left;
    background: #ffffff;
    &.active {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        border: solid 1px transparent;
      }
    }
    a {
      display: inline-block;
      padding: 11px 0;
      width: 40px;
      text-align: center;
    }
  }
}

li {
  &.pagination_prew a, &.pagination_next a {
    width: 40px;
    height: 40px;
  }
}

.pagination_arrow svg {
  fill: #000;
}

.pagination li.pagination_next svg {
  transform: rotate(180deg);
}

.pagination--distance li {
  &:not(:last-child) {
    margin-right: 10px;
  }
  border-radius: 3px;
}

.pagination--dark_bg li.pagination_arrow svg {
  fill: #fff;
}

li {
  &.pagination_prew {
    border-radius: 3px 0 0 3px;
  }
  &.pagination_next {
    border-radius: 0 3px 3px 0;
  }
}

.pagination--radius li {
  &.pagination_prew {
    border-radius: 20px 0px 0 20px;
  }
  &.pagination_next {
    border-radius: 0px 20px 20px 0px;
  }
}

.pagination {
  li a {
    cursor: pointer;
  }
  &.pagination--transparent li {
    background-color: transparent;
    border: none;
  }
}

.pagination--arrow_dark {
  li.pagination_arrow {
    background-color: #28242a;
    border: #28242a;
  }
  svg {
    fill: #fff;
  }
}

.pagination.pagination--transparent {
  a {
    color: #28242a;
    border-bottom: solid 2px transparent;
    width: 34px;
  }
  .pagination_arrow a {
    width: 40px;
    border-bottom: none;
  }
}

.pagination--circle {
  li {
    -webkit-border-radius: 30px;
    border-radius: 30px;
    text-align: center;
  }
  position: relative;
  &:before {
    content: "";
    height: 8px;
    /*width: 100%;*/
    position: absolute;
    top: 50%;
    left: 5px;
    right: 5px;
    background: #28242a;
    z-index: -1;
    transform: translateY(-50%);
  }
  .pagination_arrow a {
    width: 50px;
  }
}

.pagination--dark_bg.pagination--border_b li {
  border-bottom: solid 2px #232431;
}

.pagination--white_bg.pagination--border_b li {
  border-bottom: solid 2px #d9d9d9;
}

/*pagination--yelow*/

.pagination--yelow li {
  &:hover {
    border-color: #fcf7d1;
    background-color: #fcf7d1;
  }
  &.active {
    border-color: #f1d600;
    &:before {
      border-color: #f1d600;
    }
  }
}

/**/
/*pagination--yelow_dark*/

.pagination--yelow_dark li {
  &:hover {
    border-color: #faf0a3;
    background-color: #faf0a3;
  }
  &.active {
    border-color: #222222;
    background-color: #222222;
    a {
      color: #fff;
    }
  }
}

/**/

/*pagination--red*/

.pagination--red li {
  &:hover {
    color: #f60f3d;
  }
  &.active {
    border-color: #f60f3d;
    &:before {
      border-color: #f60f3d;
    }
  }
  &.pagination_arrow a:hover svg {
    fill: #f60f3d;
  }
}

/**/
/*pagination--red_dark*/

.pagination--red_dark li {
  &:hover {
    color: #f60f3d;
  }
  &.active {
    border-color: #f60f3d;
    background-color: #f60f3d;
    a {
      color: #fff;
    }
  }
  &.pagination_arrow a:hover svg {
    fill: #f60f3d;
  }
}

/**/
/*pagination--purpur*/

.pagination--dark_bg.pagination--purpur {
  li {
    background-color: #28242a;
    border: none;
    a {
      color: #fff;
    }
    &:hover a {
      color: #9f82ad;
    }
  }
  &.pagination--transparent li:hover a {
    border-color: #9f82ad;
    color: #28242a;
  }
}

.pagination--transparent.pagination--purpur li:hover a {
  border-color: #9f82ad;
  color: #28242a;
}

.pagination--dark_bg.pagination--purpur li.active, .pagination--transparent.pagination--purpur li.active {
  border-color: #9f82ad;
  background-color: #9f82ad;
}

.pagination--dark_bg.pagination--purpur.pagination--transparent li.active a, .pagination--transparent.pagination--purpur li.active a {
  color: #fff;
}

.pagination--dark_bg.pagination--purpur li {
  &.active a {
    color: #fff;
  }
  &.pagination_arrow a:hover svg {
    fill: #9f82ad;
  }
}

.pagination--transparent.pagination--purpur li.pagination_arrow a:hover svg {
  fill: #9f82ad;
}

/**/
/*pagination--dark_yellow*/

.pagination--dark_yellow {
  li {
    background-color: #28242a;
    border: none;
    a {
      color: #fff;
    }
    &:hover a {
      color: #292a3a;
    }
  }
  &.pagination--transparent li {
    &:hover {
      a {
        border-color: #f4bb25;
        color: #28242a;
      }
      background: none;
    }
    &.active:hover {
      border-color: #f4bb25;
      background-color: #f4bb25;
    }
    &.pagination_arrow:hover {
      border-color: #28242a;
      background-color: #28242a;
    }
  }
  li {
    &:hover {
      border-color: #a7a9c7;
      background-color: #a7a9c7;
    }
    &.active {
      border-color: #f4bb25;
      background-color: #f4bb25;
    }
  }
  &.pagination--transparent li.active a {
    color: #fff;
  }
  li {
    &.active a {
      color: #fff;
    }
    &.pagination_arrow a:hover svg {
      fill: #292a3a;
    }
  }
  &.pagination--transparent li.pagination_arrow:hover svg {
    fill: #f4bb25;
  }
}

.pagination--dark_bg.pagination--border_b li {
  &:hover {
    border-bottom: solid 2px #8e90a9;
  }
  &.active {
    border-bottom: solid 2px #d09f1f;
  }
}

/**/
/*pagination--white_purpur*/

.pagination--purpur.pagination--white_bg li {
  &:hover {
    background-color: #f4f4f4;
  }
  &.active {
    border-color: #a987cc;
    background-color: #a987cc;
    a {
      color: #fff;
    }
  }
}

/**/
/*pagination--green*/

.pagination--green.pagination--white_bg li {
  &:hover {
    background-color: #f4f4f4;
  }
  &.active {
    border-color: #a0cc28;
    background-color: #a0cc28;
  }
}

.pagination.pagination--white_bg li.active a {
  color: #fff;
}

.pagination--white_bg.pagination--transparent li {
  &.pagination_arrow {
    background-color: #fff;
    border: solid 1px #dfe2ed;
  }
  a {
    color: #687087;
    color: #687087;
    svg {
      fill: #687087;
    }
  }
}

/**/
/*pagination--GULES*/

.pagination--gules {
  li {
    &:hover {
      background-color: #f4f4f4;
      a {
        color: #e74e34;
      }
      svg {
        fill: #e74e34;
      }
    }
    &.active {
      border-color: #e74e34;
      background-color: #e74e34;
      a {
        color: #fff;
      }
    }
  }
  &.pagination--transparent li.pagination_arrow {
    background-color: #fff;
    border: solid 1px #dfe2ed;
  }
}

.pagination--white_bg.pagination--transparent {
  li a {
    color: #687087;
  }
  &.pagination--gules li {
    &:hover a {
      color: #e74e34;
    }
    &.active:hover a {
      color: #fff;
    }
  }
  li a svg {
    fill: #687087;
  }
  &.pagination--gules li:hover a svg {
    fill: #e74e34;
  }
}

.pagination--gules.pagination--border_b li.active {
  border-bottom-color: #cf462f;
}

/**/
/*pagination--BLUE*/

.pagination--blue {
  li {
    &:hover {
      background-color: #f4f4f4;
      a {
        color: #63bfff;
      }
      svg {
        fill: #63bfff;
      }
    }
    &.active {
      border-color: #63bfff;
      background-color: #63bfff;
      a {
        color: #fff;
      }
    }
  }
  &.pagination--border_b li.active {
    border-bottom-color: #54a3d9;
  }
}

/**/
/*pagination--AQUAMARINE*/

.pagination--aquamarine {
  li {
    &:hover {
      background-color: #f4f4f4;
      a {
        color: #5ad3d7;
      }
      svg {
        fill: #5ad3d7;
      }
    }
    &.active {
      border-color: #5ad3d7;
      background-color: #5ad3d7;
      a {
        color: #fff;
      }
    }
  }
  &.pagination--border_b li.active {
    border-bottom-color: #51bdc1;
  }
}

/**/

.travel-table {
  text-align: center;
}

.travel-table-head__col {
  position: relative;
}

.travel-table-body {
  border-bottom: solid 1px #ededed;
  background: #fff;
  font-family: "RobotoRegular";
  font-size: 13px;
  position: relative;
}

/* TABLE DEFAULT*/

.travel-table--default {
  .travel-table-head {
    background: #1DB1DB;
  }
  span {
    &::selection, &::-moz-selection {
      background: #1DB1DB;
      color: #fff;
    }
  }
  .travel-table-body__col a {
    border-bottom: 1px solid #ce6408 !important;
    background: #FEB20E !important;
  }
  .travel-table-body {
    color: #6c7a87;
    &:hover:before {
      content: "";
      background: #1db1db17;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

/**/

/* TABLE AQUAMARINE*/

.travel-table--aquamarine {
  .travel-table-head {
    background-image: linear-gradient( 90deg, rgb(63,74,84) 0%, rgb(29,42,56) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(63,74,84) 0%, rgb(29,42,56) 100%);
    background-image: -moz-linear-gradient(90deg, rgb(63, 74, 84) 0%, rgb(29, 42, 56) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(63, 74, 84) 0%, rgb(29, 42, 56) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(63, 74, 84) 0%, rgb(29, 42, 56) 100%);
  }
  span {
    &::selection, &::-moz-selection {
      background: #3dc0c4;
      color: #fff;
    }
  }
  .travel-table-body__col a {
    border-bottom: solid 2px #34a3a7;
    background-color: #3dc0c4;
  }
  .travel-table-body {
    color: #6c7a87;
    &:hover:before {
      content: "";
      background: #d8f1f3;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

/**/
/* TABLE GULES*/

.travel-table--gules {

  .travel-table-head__col:last-child {
    margin-top: 0;
  }
  .travel-table__row:last-child .travel-table-body__col:last-child {
    overflow: hidden;
  }
  .travel-table__row .travel-table-body__col:last-child {
    box-shadow: none;
  }

  .travel-table-head {
    background-image: linear-gradient( 90deg, rgb(89,60,55) 0%, rgb(54,48,47) 100%);
    background-image: -moz-linear-gradient(90deg, rgb(89, 60, 55) 0%, rgb(54, 48, 47) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(89, 60, 55) 0%, rgb(54, 48, 47) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(89, 60, 55) 0%, rgb(54, 48, 47) 100%);
  }
  span {
    &::selection, &::-moz-selection {
      background: #e74e34;
      color: #fff;
    }
  }
  .travel-table-body__col a {
    border-bottom: solid 2px #c5422c;
    background-color: #e74e34;
  }
  .travel-table-body {
    color: #6c7a87;
    &:hover:before {
      content: "";
      background: #f2eeed;
      border: solid 1px #e74e34;
      position: absolute;
      top: 0;
      left: 1px;
      right: 1px;
      bottom: 0px;
    }
  }
}

/**/
/* TABLE BLUE*/

.travel-table--blue {

  .travel-table-head__col:last-child {
    margin-top: 0;
  }
  .travel-table__row:last-child .travel-table-body__col:last-child {
    overflow: hidden;
  }
  .travel-table__row .travel-table-body__col:last-child {
    box-shadow: none;
  }

  .travel-table-head {
    background-image: linear-gradient(90deg, rgb(63, 65, 84) 0%, rgb(41, 42, 58) 100%);
    background-image: -moz-linear-gradient(90deg, rgb(63, 65, 84) 0%, rgb(41, 42, 58) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(63, 65, 84) 0%, rgb(41, 42, 58) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(63, 65, 84) 0%, rgb(41, 42, 58) 100%);
  }
  span {
    &::selection, &::-moz-selection {
      background: #3dafff;
      color: #fff;
    }
  }
  .travel-table-body__col a {
    border-bottom: solid 2px #3495d9;
    background-color: #3dafff;
  }
  .travel-table-body {
    color: #6c7a87;
    &:hover {
      &:before {
        content: "";
        border: solid 1px #3dafff;
        position: absolute;
        top: 0;
        left: 1px;
        right: 1px;
        bottom: 0px;
      }
      color: #3dafff;
    }
  }
  .travel-table__row {
    &:nth-child(odd) .travel-table-body {
      background-color: #f5f5f5;
    }
    &:nth-child(even) .travel-table-body {
      background-color: #fff;
    }
  }
}

/**/
/* TABLE GREEN*/

.travel-table--green {

  .travel-table-head__col:after {
    background-image: url(../images/arrow_down_grey.png);
  }

  .travel-table-head__col:last-child {
    margin-top: 0;
  }
  .travel-table__row:last-child .travel-table-body__col:last-child {
    overflow: hidden;
  }
  .travel-table__row .travel-table-body__col:last-child {
    box-shadow: none;
  }

  .travel-table-head {
    background-color: rgb(223, 226, 237);
    color: #687087;
  }
  span {
    &::selection, &::-moz-selection {
      background: #a0cc28;
      color: #fff;
    }
  }
  .travel-table-body__col a {
    border-bottom: solid 2px #a0cc28;
    background-color: #a0cc28;
  }
  .travel-table-body {
    color: #687087;
    &:hover:before {
      content: "";
      border: solid 1px #a0cc28;
      background: #fcfff4;
      position: absolute;
      top: 0;
      left: 0px;
      right: 0px;
      bottom: 0px;
    }
  }
  .travel-table__row {
    &:nth-child(odd) .travel-table-body {
      background-color: #f5f6f9;
    }
    &:nth-child(even) .travel-table-body {
      background-color: #fff;
    }
  }
}

/**/
/* TABLE PURPUR*/

.travel-table--purpur {

  .travel-table-head__col:last-child {
    margin-top: 0;
  }
  .travel-table__row:last-child .travel-table-body__col:last-child {
    overflow: hidden;
  }
  .travel-table__row .travel-table-body__col:last-child {
    box-shadow: none;
  }

  .travel-table-head {
    background-color: rgb(67, 43, 92);
    color: #fff;
  }
  span {
    &::selection, &::-moz-selection {
      background: #ecd9ff;
      color: #432b5c;
    }
  }
  .travel-table-body__col a {
    border-bottom: solid 2px #ff6055;
    background-color: #ff6055;
  }
  .travel-table-body {
    color: #7a6c87;
    background: #f4f4f4;
    &:hover:before {
      content: "";
      border: solid 1px #ff6055;
      background: #fff;
      position: absolute;
      top: 0;
      left: 1px;
      right: 1px;
      bottom: 0px;
    }
  }
}

/**/
/* TABLE DARK YELLOW*/

.travel-table--dark_yellow {

  .travel-table-head__col:after {
    background-image: url(../images/arrow_down_grey.png);
  }

  .travel-table-head__col:last-child {
    margin-top: 0;
  }
  .travel-table__row:last-child .travel-table-body__col:last-child {
    overflow: hidden;
  }
  .travel-table__row .travel-table-body__col:last-child {
    box-shadow: none;
  }

  .travel-table-head {
    background-image: linear-gradient(90deg, rgb(63, 65, 84) 0%, rgb(41, 42, 58) 100%);
    background-image: -moz-linear-gradient(90deg, rgb(63, 65, 84) 0%, rgb(41, 42, 58) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(63, 65, 84) 0%, rgb(41, 42, 58) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(63, 65, 84) 0%, rgb(41, 42, 58) 100%);
    color: #a7a9c7;
  }
  span {
    &::selection, &::-moz-selection {
      background: #a7a9c7;
      color: #292a3a;
    }
  }
  .travel-table-body__col a {
    border-bottom: solid 2px #d09f1f;
    background-color: #f4bb25;
  }
  .travel-table-body {
    color: #fff;
  }
  .travel-table__row {
    &:nth-child(odd) .travel-table-body {
      background-color: #292a3a;
    }
    &:nth-child(even) .travel-table-body {
      background-color: #3f4154;
    }
  }
}

/**/
/* TABLE DARK PURPUR DARK*/

.travel-table--purpur_dark {

  .travel-table-head__col:after {
    background-image: url(../images/arrow_down_grey.png);
  }

  .travel-table-head__col:last-child {
    margin-top: 0;
  }
  .travel-table__row:last-child .travel-table-body__col:last-child {
    overflow: hidden;
  }
  .travel-table__row .travel-table-body__col:last-child {
    box-shadow: none;
  }

  .travel-table-head {
    background-color: rgb(34, 31, 35);
    color: #b5abba;
  }
  span {
    &::selection, &::-moz-selection {
      background: #9f82ad;
      color: #fff;
    }
  }
  .travel-table-body__col a {
    -webkit-border-radius: 30px;
    border-radius: 30px;
    color: #fff;
    border: solid 2px transparent;
    &:hover {
      opacity: 1;
    }
    &:before {
      content: "";
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      z-index: -1;
      border-radius: 30px;
      background-image: linear-gradient(0deg, rgb(241, 125, 27) 0%, rgb(237, 74, 94) 100%);
      background-image: -moz-linear-gradient(0deg, rgb(241, 125, 27) 0%, rgb(237, 74, 94) 100%);
      background-image: -webkit-linear-gradient(0deg, rgb(241, 125, 27) 0%, rgb(237, 74, 94) 100%);
      background-image: -ms-linear-gradient(0deg, rgb(241, 125, 27) 0%, rgb(237, 74, 94) 100%);
    }
    &:after {
      content: "";
      position: absolute;
      top: 2px;
      bottom: 2px;
      left: 2px;
      right: 2px;
      z-index: -1;
      border-radius: 30px;
      opacity: 1;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -ms-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
    }
    &:hover:after {
      opacity: 0;
    }
  }
  .travel-table-body {
    color: #fff;
    &:hover {
      border-bottom: solid 1px #9f82ad;
      border-top: solid 1px #9f82ad;
      margin-top: -1px;
      &:before {
        content: "";
        border: solid 2px #9f82ad;
        /*background: #312b35;*/
        position: absolute;
        top: 0;
        left: 1px;
        right: 1px;
        bottom: 0px;
      }
    }
  }
  .travel-table__row {
    &:nth-child(odd) .travel-table-body {
      background-color: #312b35;
    }
    &:nth-child(even) .travel-table-body {
      background-color: #28242a;
    }
    &:nth-child(odd) .travel-table-body a:after {
      background: #312b35;
    }
    &:nth-child(even) .travel-table-body a:after {
      background: #28242a;
    }
  }
}

/**/
/* TABLE DARK PURPUR RED*/

.travel-table--purpur_red {

  .travel-table-head__col {
    border-top: 1px solid #eaeaea;
  }
  .travel-table-body__col:first-child,
  .travel-table-head__col:first-child {
    border-left: 1px solid #eaeaea;
  }

  .travel-table-head__col:after {
    background-image: url(../images/arrow_down_grey.png);
  }
  .travel-table-head__col span {
    font-family: "RobotoBold";
  }
  .travel-table-head {
    /*background-color: #fff;*/
    color: #15234e;
  }
  span {
    &::selection, &::-moz-selection {
      background: #9f82ad;
      color: #fff;
    }
  }
  .travel-table-body__col a {
    -webkit-border-radius: 30px;
    border-radius: 30px;
    color: #fff;
    border: solid 2px #fff;

    &:hover {
      opacity: 1;
      /*background: transparent;*/
      background: #fff;
      color: #15234e;
    }
  }
  .travel-table-body {
    color: #343434;
    background: transparent;
  }
}

/**/
/* TABLE DARK YELLOW DARK*/

.travel-table--yellow_dark {
  background: #FFF;

  .travel-table-head__col:after {
    background-image: url(../images/arrow_down_grey.png);
  }
  .travel-table-head__col span {
    font-family: "RobotoBold";
  }
  .travel-table-head {
    background-color: #f1d600;
    color: #15234e;
  }
  span {
    &::selection, &::-moz-selection {
      background: #fcf7d1;
      /*color: #fff;*/
    }
  }
  .travel-table-body__col a {
    -webkit-border-radius: 30px;
    border-radius: 30px;
    color: #fff;
    border: solid 2px #f1d600;
    &:hover {
      opacity: 1;
      /*background: transparent;*/
      background: #f1d600;
      color: #15234e;
    }
  }
  .travel-table-body {
    color: #343434;
    background: transparent;
  }
}

/**/

@media screen and (min-width: 600px) {
  .travel-table--purpur_red {
    content: "";
    background-image: linear-gradient(-2deg, rgb(246,15,61) 0%, rgb(29,35,78) 89%);
    background-image: -moz-linear-gradient(-2deg, rgb(246,15,61) 0%, rgb(29,35,78) 89%);
    background-image: -webkit-linear-gradient(-2deg, rgb(246,15,61) 0%, rgb(29,35,78) 89%);
    background-image: -ms-linear-gradient(-2deg, rgb(246,15,61) 0%, rgb(29,35,78) 89%);


    .travel-table-body:hover .travel-table-body__col:before {
      content: "";
      background: #0000001c;
      position: absolute;
      top: 0;
      left: -1px;
      right: -1px;
      bottom: 0px;
      z-index: -1;
    }
    .travel-table-body__col:not(:last-child) {
      background: #fff;
    }
    .travel-table-head__col {
      &:not(:last-child) {
        background: #fff;
      }
      &:last-child {
        color: #fff;
        position: relative;
        margin-top: -10px;
      }
    }
    .travel-table__row .travel-table-head__col:last-child {
      box-shadow: 0 0 10px 10px #000;
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
      z-index: 4;
      border: none;
    }
    .travel-table-head__col:last-child:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 10px;
      width: 100%;
      background: rgb(29, 35, 78);
    }
    .travel-table__row {
      &:last-child .travel-table-body {
        overflow: visible;
      }
      .travel-table-body__col:last-child {
        box-shadow: 0 0 10px 10px #000;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
        z-index: 4;
        border: none;
      }
    }
  }
}

@media screen and (min-width: 769px) {

  .travel-table--yellow_dark .travel-table-body:hover:before {
    content: "";
    /*background: #ffffff;*/
    border: solid 2px #fefbe5;
    position: absolute;
    top: 0;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
  }
  .travel-table--purpur_red .travel-table__row:last-child .travel-table-body__col:last-child {
    overflow: visible;

    &:after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      height: 10px;
      width: 100%;
      background: rgb(246, 15, 61);
    }
  }

  .travel-table--yellow_dark {
    .travel-table-body:hover .travel-table-body__col:last-child:before {
      content: "";
      border-top: solid 2px #d2cca1;
      border-bottom: solid 2px #d2cca1;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
    .travel-table-head__col:not(:last-child) {
      background: transparent;
    }
    .travel-table__row .travel-table-head__col:last-child {
      box-shadow: 0 0 10px 10px #000;
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
      z-index: 4;
      border: none;
    }
    .travel-table-head__col:last-child {
      color: #fff;
      position: relative;
      margin-top: -10px;
      background: #222222;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 10px;
        width: 100%;
        background: #222222;
      }
    }
    .travel-table__row {
      &:last-child .travel-table-body {
        margin-bottom: 10px;
        overflow: visible;
      }
      .travel-table-body__col:last-child {
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
        background: #222222;
        z-index: 4;
        border: none;
      }
      &:last-child .travel-table-body__col:last-child {
        overflow: visible;
        &:after {
          content: "";
          position: absolute;
          bottom: -10px;
          left: 0;
          height: 10px;
          width: 100%;
          background: #222222;
        }
      }
    }

  }
}

.container_pagination {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.container_pagination_left, .container_pagination_right {
  max-width: 50%;
}
.narrow-table .travel-table-body__col a {
  min-width: 100% !important;
}
.travel .travel-table-body__col .price {
  margin-right: 3px;
}

.tp_cheapest_flights.narrow-table [data-table__col="0"],
.tp_cheapest_flights.narrow-table [data-table__col="1"],
.tp_cheapest_flights_shortcodes.narrow-table [data-table__col="0"],
.tp_cheapest_flights_shortcodes.narrow-table [data-table__col="1"],
.tp_cheapest_flights.narrow-table [data-table__col="6"],
.tp_cheapest_flights.narrow-table [data-table__col="7"],
.tp_cheapest_flights_shortcodes.narrow-table [data-table__col="6"],
.tp_cheapest_flights_shortcodes.narrow-table [data-table__col="7"],
.tp_cheapest_ticket_each_day_month.narrow-table [data-table__col="0"],
.tp_cheapest_ticket_each_day_month.narrow-table [data-table__col="1"],
.tp_cheapest_ticket_each_day_month_shortcodes.narrow-table [data-table__col="0"],
.tp_cheapest_ticket_each_day_month_shortcodes.narrow-table [data-table__col="1"],
.tp_cheapest_ticket_each_day_month.narrow-table [data-table__col="6"],
.tp_cheapest_ticket_each_day_month.narrow-table [data-table__col="7"],
.tp_cheapest_ticket_each_day_month_shortcodes.narrow-table [data-table__col="6"],
.tp_cheapest_ticket_each_day_month_shortcodes.narrow-table [data-table__col="7"],
.tp_cheapest_tickets_each_month.narrow-table [data-table__col="0"],
.tp_cheapest_tickets_each_month.narrow-table [data-table__col="1"],
.tp_cheapest_tickets_each_month_shortcodes.narrow-table [data-table__col="0"],
.tp_cheapest_tickets_each_month_shortcodes.narrow-table [data-table__col="1"],
.tp_cheapest_tickets_each_month.narrow-table [data-table__col="6"],
.tp_cheapest_tickets_each_month.narrow-table [data-table__col="7"],
.tp_cheapest_tickets_each_month_shortcodes.narrow-table [data-table__col="6"],
.tp_cheapest_tickets_each_month_shortcodes.narrow-table [data-table__col="7"],
.tp_direct_flights_shortcodes.narrow-table [data-table__col="5"],
.tp_direct_flights_shortcodes.narrow-table [data-table__col="6"],
.tp_direct_flights.narrow-table [data-table__col="5"],
.tp_direct_flights.narrow-table [data-table__col="6"],
.tp_direct_flights_shortcodes.narrow-table [data-table__col="0"],
.tp_direct_flights_shortcodes.narrow-table [data-table__col="1"],
.tp_direct_flights.narrow-table [data-table__col="0"],
.tp_direct_flights.narrow-table [data-table__col="1"],
.tp_direct_flights_route_shortcodes.narrow-table [data-table__col="5"],
.tp_direct_flights_route_shortcodes.narrow-table [data-table__col="6"],
.tp_direct_flights_route.narrow-table [data-table__col="5"],
.tp_direct_flights_route.narrow-table [data-table__col="6"] {
  display: none;
}

.tp_price_calendar_month_shortcodes.narrow-table [data-table__col="4"],
.tp_price_calendar_month.narrow-table [data-table__col="4"] {
  display: none;
}



@media screen and (max-width: 1400px) {
  .tp_cheapest_flights.narrow-table [data-table__col="5"],
  .tp_cheapest_flights_shortcodes.narrow-table [data-table__col="5"],
  .tp_cheapest_flights_shortcodes.narrow-table.narrow-table [data-table__col="2"],
  .tp_cheapest_ticket_each_day_month_shortcodes.narrow-table [data-table__col="2"],
  .tp_cheapest_tickets_each_month_shortcodes.narrow-table [data-table__col="3"],
  .tp_cheapest_tickets_each_month.narrow-table [data-table__col="3"],
  .tp_cheapest_ticket_each_day_month.narrow-table [data-table__col="5"],
  .tp_cheapest_ticket_each_day_month_shortcodes.narrow-table [data-table__col="5"] {
    display: none;
  }
  .tp_price_calendar_month_shortcodes.narrow-table [data-table__col="3"],
  .tp_price_calendar_month.narrow-table [data-table__col="3"] {
    display: none;
  }
  .tp_price_calendar_week_shortcodes.narrow-table [data-table__col="4"],
  .tp_price_calendar_week.narrow-table [data-table__col="4"],
  .tp_price_calendar_week_shortcodes.narrow-table [data-table__col="3"],
  .tp_price_calendar_week.narrow-table [data-table__col="3"],
  .tp_price_calendar_week_shortcodes.narrow-table [data-table__col="1"],
  .tp_price_calendar_week.narrow-table [data-table__col="1"] {
    display: none;
  }
}
@media screen and (max-width: 1400px) and (min-width: 768px) {
  .travel .travel-table-head__col:nth-last-child(n + 6):first-child ~ div,
  .travel .travel-table-body__col:nth-last-child(n + 6):first-child ~ div {
    width: 16.5% !important;
  }
}
@media screen and (max-width: 769px) {
  .travel-table--purpur_red {
    .travel-table-head__col {
      border-right: 1px solid #eaeaea;
      border-top: none;

      &:first-child {
        border-top: 1px solid #eaeaea;
        border-right: none;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .tp_direct_flights_shortcodes.narrow-table [data-table__col="7"] {
    display: none;
  }
  .travel .travel-table--yellow_dark a {
    color: rgb(52, 52, 52);
  }
}
@media screen and (max-width: 992px) {
  .tp_direct_flights_route_shortcodes.narrow-table [data-table__col="2"] {
    display: none;
  }
  .tp_price_calendar_month_shortcodes.narrow-table [data-table__col="2"],
  .tp_price_calendar_month.narrow-table [data-table__col="2"] {
    display: none;
  }
}
@media screen and (max-width: 768px) and (min-width: 600px) {
  .container_pagination_left,
  .container_pagination_right {
    max-width: 100%;
  }

  .travel .travel-table-head__col:nth-child(3),
  .travel .travel-table-body__col:nth-child(3),
  .travel .travel-table-head__col:nth-child(4),
  .travel .travel-table-body__col:nth-child(4) {
    display: none;
  }

  .travel .travel-table-head__col:nth-last-child(n + 6):first-child,
  .travel .travel-table-body__col:nth-last-child(n + 6):first-child {
    width: 25%;
  }

  .travel .travel-table-head__col:nth-last-child(n + 6):first-child ~ div,
  .travel .travel-table-body__col:nth-last-child(n + 6):first-child ~ div {
    width: 25%;
  }
}


.travel-table-wrap [data-col-label="Find Ticket"] {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  padding: 7px !important;
}
.travel-table-wrap [data-col-label="Find Ticket"] a {
  min-width: initial;
}

@media screen and (max-width: 992px) {
  .tp_cheapest_flights [data-table__col="6"],
  .tp_cheapest_flights [data-table__col="7"],
  .tp_cheapest_ticket_each_day_month [data-table__col="6"],
  .tp_cheapest_ticket_each_day_month [data-table__col="7"],
  .tp_cheapest_tickets_each_month [data-table__col="6"],
  .tp_cheapest_tickets_each_month [data-table__col="7"],
  .tp_direct_flights_route [data-table__col="5"],
  .tp_direct_flights_route [data-table__col="6"],
  .tp_direct_flights [data-table__col="5"],
  .tp_direct_flights [data-table__col="6"],
  .tp_direct_flights [data-table__col="1"] {
    display: none;
  }
}
@media screen and (min-width: 425px) {

  //.narrow-table .travel-table-head__col {
  //  padding: 10px 18px 10px 5px !important;
  //}

  .travel-table--purpur_red .travel-table-body__col, .travel-table--purpur_red .travel-table-head__col {
    border-left: 1px solid #eaeaea;
  }
}

@media screen and (max-width: 599px) {
  .travel .travel-table--purpur_red {
    a {
      color: rgb(52, 52, 52);
      border-color: #15234e;
    }
  }
}