.TpDateRangePicker{
  &__content{
    position: relative;
  }
  &__picker{
    position: absolute;
    z-index: 1000;
    left: 50%;
    top: calc(100% + 70px);
    opacity: 0;
    z-index: -20;
    transform: translateX(-50%);
    transition: all 0.25s;
    &_visible{
      opacity: 1;
      z-index: 999999999;
    }
  }
}



.dr-cals {
  display: flex;
  justify-content: space-between;
  background: white;
  box-shadow: 8px 8px 32px -16px rgba(0, 0, 0, 0.5);
  //padding-top: 6px;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  &:before {
    content: ' ';
    //height: 6px;
    //position: absolute;
    //top: 0;
    //left: 0;
    //right: 0;
    //background: #3B99FC;
    //background: linear-gradient(-90deg, #3B99FC 0%, #8AEFC8 100%);
  }
  .dp-edge-day {
    visibility: hidden;
  }
  .dp-cal-footer {
    display: none;
  }
  .dp {
    border: 0;
  }
  .dp-permanent {
    max-width: 280px;
  }
  .dp-selected, .dp-current {
    &:focus {
      background: transparent;
      color: inherit;
      border-radius: 0;
    }
    background: transparent;
    color: inherit;
    border-radius: 0;
  }
}

.dr-cal-end .dp {
  border-left: 8px solid #F5F5F5;
}

.dr-cal-start .dp-next, .dr-cal-end .dp-prev {
  visibility: hidden;
}

.dr-cals {
  .dp-current:hover {
    background: #75BCFC;
    color: white;
    border-radius: 0;
  }
  .dr-in-range {
    &:hover, &:focus {
      background: #75BCFC;
      color: white;
      border-radius: 0;
    }
    background: #75BCFC;
    color: white;
    border-radius: 0;
  }
  .dr-selected {
    &:hover, &:focus {
      background: #3B99FC;
      color: white;
      border-radius: 0;
    }
    background: #3B99FC;
    color: white;
    border-radius: 0;
  }
}

@media (max-width: 616px), (max-height: 480px) {
  .dr-cal-end {
    display: none;
  }
  .dr-cal-start .dp-next {
    visibility: visible;
  }
}