.wp-media-buttons{
  .tp-post-button{
    position: relative;
    text-shadow: 0 1px #fff;
    &__loading{
      &:before{
        content: '-';
        font-size: 1px;
        color: transparent;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 1px;
        background-color: rgba(0, 0, 0, 0.15);
        animation-name: tp_post_button_animation;
        animation-duration: 0.9s;
        animation-fill-mode: both;
        z-index: 0;
      }
    }
  }
  .button {
    display: inline-flex;
    align-items: center;
    box-shadow: none !important;
  }
}
.wp-core-ui .button, .wp-core-ui .button-secondary  {
  color: #000 !important;
}

.wp-core-ui {
  #publish {
    color: #ffffff !important;
  }
}

@keyframes tp_post_button_animation {
  0% { width: 0 }
  30% { width: 30% }
  50% { width: 50% }
  100% { width: 98% }
}