{% block content %}

    <div class="table-info__item">
        {{ form_start(form_selections_discount_date) }}

        {{ form_row(form_selections_discount_date.title) }}
        {{ form_row(form_selections_discount_date.title_tag) }}
        {{ form_row(form_selections_discount_date.extra_table_marker) }}
        {{ form_row(form_selections_discount_date.sort_column) }}
        {{ form_row(form_selections_discount_date.table_columns) }}
        {{ form_row(form_selections_discount_date.button_title) }}
        {{ form_row(form_selections_discount_date.paginate) }}
        {{ form_row(form_selections_discount_date.paginate_rows_per_page) }}
        {{ form_row(form_selections_discount_date.link_without_dates) }}



        <!-- /.table-info__item -->
        <div class="table-info__item">
            <div class="apply-tables">
                <input id="apply-tables_20" type="checkbox" name="apply-tables-toggle">
                <label for="apply-tables_20"><span>Применить ко всем таблицам</span></label>
            </div>
            <div class="table-info__action">
                <button class="btn btn--color" type="submit">
                    <span>{{ _x('Save changes','general_save_changes_button') }}</span>
                </button>
                <button class="btn">
                            <span>
                                {{ _x('Set default','general_default_button') }}
                            </span>
                </button>
            </div>
        </div>
        <!-- /.table-info__item -->

        {{ form_end(form_selections_discount_date) }}
    </div>
{% endblock %}