.tp-repeated {
  &__button {
    padding: 5px 16px !important;
    font-size: 16px !important;
    margin: 0 0 0 5px;
    &--primary {

    }
    &--danger{
      background: $color-danger !important;
    }
  }
  &__toolbar {
    margin-bottom: 15px;
    text-align: right;
  }
}

.travel-modal__subitem {
  .tp-repeated {
    &__toolbar {
      margin-bottom: 5px;
    }
  }
}