{{#each value as item:i}}
{{>content}}
<div class="tp-repeated__toolbar">
    {{#if @this.showAdd(i)}}
    <button type="button"
            class="btn btn--color travel-modal__btn tp-repeated__button tp-repeated__button--primary"
            on-click="@this.addItem()">
        {{addbuttontitle}}
    </button>
    {{/if}}
    {{#if @this.showRemove(i)}}
    <button type="button"
            class="btn btn--color travel-modal__btn tp-repeated__button tp-repeated__button--danger"
            on-click="@this.removeItem(@key)"
    >{{removebuttontitle}}
    </button>
    {{/if}}
</div>
{{/each}}

{{#unless value}}
<tp-form-row>
    <button type="button"
            class="btn btn--color travel-modal__btn tp-repeated__button tp-repeated__button--primary"
            on-click="@this.addItem()">
        {{addbuttontitle}}
    </button>
</tp-form-row>
{{/unless}}