{% block content %}
    {{ form_start(form) }}

    <div class="shortcode-form__item separate-line">
        <div class="table-info__desc">
            <p>{{ _x('Select hosts where your users will be redirected','tp_admin_page_settings_tab_localization_field_host_tip') }}</p>
        </div>
        <p class="table-info__title">{{ _x('Hosts',
                'tp_admin_page_settings_tab_localization_field_host_label') }}</p>
        {{ form_row(form.tickets_source_airlines) }}
        {{ form_row(form.tickets_source_hotels) }}
    </div>
    <div class="shortcode-form__item separate-line">
        <p class="table-info__title">{{ _x('Localization',
                'tp_admin_page_settings_tab_localization') }}</p>
        {{ form_row(form.localization_lang) }}
        {{ form_row(form.localization_currency) }}
        {{ form_row(form.localization_currency_position) }}
    </div>
    <div class="shortcode-form__item separate-line">
        {{ form_row(form.script_position) }}
    </div>
    <div class="shortcode-form__item separate-line">
        <p class="table-info__title">Размещение таблиц вне постовых страниц</p>
        <div class="table-info__desc">
            <p>Для оптимизации работы вашего сайта скрипты плагина по умолчанию вызываются только если шорткоды
                вставлены в постах или страницах. Активируйте эту опцию, если вы хотите размещать шорткоды в других
                местах (например, сайдбар).</p>
        </div>
        {{ form_row(form.always_require_scripts) }}
    </div>

    <div class="shortcode-form__item separate-line">
        <p class="table-info__title">
            {{ _x('Settings management','tp_admin_page_settings_manage_settings_title') }}
        </p>
        <div class="shortcode-form__row text-link__file">
            <p class="shortcode-form__field-title">
                {{ _x('Export settings','tp_admin_page_settings_export_settings_title') }}
            </p>
            <input id="import-settings-link" type="file" name="import-settings_link">
            <label for="import-settings-link">
                {{ _x('Save configuration file','tp_admin_page_settings_export_settings_button_title') }}
            </label>
        </div>
        <div class="shortcode-form__row text-link__file text-link__file--export">
            <p class="shortcode-form__field-title">
                {{ _x('Import settings','tp_admin_page_settings_import_settings_title') }}
            </p>
            <input id="export-settings-link" type="file" name="export-settings_link">
            <label for="export-settings-link">
                {{ _x('Import file with configuration','tp_admin_page_settings_import_settings_button_title') }}
            </label>
        </div>
    </div>
    {% include('/_form/_form_footer.twig') %}
    <!-- /.table-info__action -->

    {{ form_end(form) }}
{% endblock %}