{% extends _base %}

{% block content %}
    <p class="section-title">
        {{ _x('Common settings for all tools','tp_admin_page_settings_common_settings_label') }}
    </p>
    {% include('/menu/settings/form.twig') %}
{% endblock %}