{% block content %}
    <form action="#" method="post" class="shortcode-form">
        <p class="table-info__title">Хосты</p>
        <div class="shortcode-form__item separate-line">
            <div class="table-info__desc">
                <p>Выберите на каком домене будет открываться поиск у ваших пользователей.</p>
            </div>
            <div class="shortcode-form__row">
                <p class="table-info__subtitle">Авиабилеты</p>
                <div class="table-info__select table-info__select--width">
                    <div class="select">
                        <button href="#" class="select__title">
                            <span>aviasales.ru</span>
                            <svg>
                                <use xlink:href="#arrow-right-icon"></use>
                            </svg>
                        </button>
                        <div class="select__list">
                            <label>hotellook.ru<input type="radio" name="settings-hotels" value="hotellook.ru"></label>
                            <label>Дата возвращения<input type="radio" name="settings-hotels" value="Дата возвращения"></label>
                            <label>Пересадки<input type="radio" name="settings-hotels" value="Пересадки"></label>
                            <label>Номер рейса<input type="radio" name="settings-hotels" value="Номер рейса"></label>
                            <label>Рейс<input type="radio" name="settings-hotels" value="Рейс"></label>
                            <label>Стоимость<input type="radio" name="settings-hotels" value="Стоимость"></label>
                        </div>
                        <!-- /.select__list -->
                    </div>
                    <!-- /.select -->
                </div>
                <!-- /.table-info__select -->
            </div>
            <!-- /.shortcode-form__row -->
            <div class="shortcode-form__row">
                <p class="table-info__subtitle">Отели</p>
                <div class="table-info__select table-info__select--width">
                    <div class="select">
                        <button href="#" class="select__title">
                            <span>hotellook.ru</span>
                            <svg>
                                <use xlink:href="#arrow-right-icon"></use>
                            </svg>
                        </button>
                        <div class="select__list">
                            <label>aviasales.ru<input type="radio" name="settings-flights" value="aviasales.ru"></label>
                            <label>Дата возвращения<input type="radio" name="settings-flights" value="Дата возвращения"></label>
                            <label>Пересадки<input type="radio" name="settings-flights" value="Пересадки"></label>
                            <label>Номер рейса<input type="radio" name="settings-flights" value="Номер рейса"></label>
                            <label>Рейс<input type="radio" name="settings-flights" value="Рейс"></label>
                            <label>Стоимость<input type="radio" name="settings-flights" value="Стоимость"></label>
                        </div>
                        <!-- /.select__list -->
                    </div>
                    <!-- /.select -->
                </div>
                <!-- /.table-info__select -->
            </div>
            <!-- /.shortcode-form__row -->
        </div>
        <!-- /.shortcode-form__item  -->
        <div class="shortcode-form__item separate-line">
            <p class="table-info__title">Локализация</p>
            <div class="shortcode-form__row">
                <p class="table-info__subtitle">Язык таблиц и виджетов</p>
                <div class="table-info__select table-info__select--width">
                    <div class="select">
                        <button href="#" class="select__title">
                            <span>Русский</span>
                            <svg>
                                <use xlink:href="#arrow-right-icon"></use>
                            </svg>
                        </button>
                        <div class="select__list">
                            <label>Русский<input type="radio" name="settings-language" value="Русский"></label>
                            <label>Английский<input type="radio" name="settings-language" value="Английский"></label>
                            <label>Румынский<input type="radio" name="settings-language" value="Румынский"></label>
                            <label>Немецкий<input type="radio" name="settings-language" value="Немецкий"></label>
                            <label>Итальянский<input type="radio" name="settings-language" value="Итальянский"></label>
                        </div>
                        <!-- /.select__list -->
                    </div>
                    <!-- /.select -->
                </div>
                <!-- /.table-info__select -->
            </div>
            <!-- /.shortcode-form__row -->
            <div class="shortcode-form__row">
                <p class="table-info__subtitle">Валюта</p>
                <div class="table-info__select table-info__select--width">
                    <div class="select">
                        <button href="#" class="select__title">
                            <span>RUB</span>
                            <svg>
                                <use xlink:href="#arrow-right-icon"></use>
                            </svg>
                        </button>
                        <div class="select__list">
                            <label>RUB<input type="radio" name="settings-currency" value="rub"></label>
                            <label>USA<input type="radio" name="settings-currency" value="usa"></label>
                        </div>
                        <!-- /.select__list -->
                    </div>
                    <!-- /.select -->
                </div>
                <!-- /.table-info__select -->
            </div>
            <!-- /.shortcode-form__row -->
            <div class="shortcode-form__row">
                <p class="table-info__subtitle">Отображение валюты</p>
                <div class="table-info__select table-info__select--width">
                    <div class="select">
                        <button href="#" class="select__title">
                            <span>После цены</span>
                            <svg>
                                <use xlink:href="#arrow-right-icon"></use>
                            </svg>
                        </button>
                        <div class="select__list">
                            <label>После цены<input type="radio" name="settings-language" value="После цены"></label>
                            <label>До цены<input type="radio" name="settings-language" value="До цены"></label>
                        </div>
                        <!-- /.select__list -->
                    </div>
                    <!-- /.select -->
                </div>
                <!-- /.table-info__select -->
            </div>
            <!-- /.shortcode-form__row -->
        </div>
        <!-- /.shortcode-form__item  -->
        <div class="shortcode-form__item separate-line">
            <p class="table-info__title">Размещение скриптов плагина внутри тега</p>
            <div class="shortcode-form__row">
                <div class="table-info__select table-info__select--width">
                    <div class="select">
                        <button href="#" class="select__title">
                            <span><<span>head</span>></span>
                            <svg>
                                <use xlink:href="#arrow-right-icon"></use>
                            </svg>
                        </button>
                        <div class="select__list">
                            <label><<span>head</span>><input type="radio" name="settings-tag" value="<head>"></label>
                            <label><<span>div</span>><input type="radio" name="settings-tag" value="<div>"></label>
                        </div>
                        <!-- /.select__list -->
                    </div>
                    <!-- /.select -->
                </div>
                <!-- /.table-info__select -->
            </div>
            <!-- /.shortcode-form__row -->
        </div>
        <!-- /.shortcode-form__item  -->
        <div class="shortcode-form__item separate-line">
            <p class="table-info__title">Размещение таблиц вне постовых страниц</p>
            <div class="table-info__desc">
                <p>Для оптимизации работы вашего сайта скрипты плагина по умолчанию вызываются только если шорткоды вставлены в постах или страницах. Активируйте эту опцию, если вы хотите размещать шорткоды в других местах (например, сайдбар).</p>
            </div>
            <div class="apply-tables">
                <input id="all-pages-run-scripts" type="checkbox" name="all-pages-run-scripts">
                <label for="all-pages-run-scripts"><span>Вызывать скрипты на всех страницах</span></label>
            </div>
            <!-- /.apply-tables -->
        </div>
        <!-- /.table-info__item  -->
        <div class="shortcode-form__item separate-line">
            <p class="table-info__title">Управление настройками</p>
            <div class="shortcode-form__row text-link__file">
                <p class="shortcode-form__field-title">Импорт ссылок</p>
                <input id="import-settings-link" type="file" name="import-settings_link">
                <label for="import-settings-link">Сохранить к себе на компьютер</label>
            </div>
            <div class="shortcode-form__row text-link__file text-link__file--export">
                <p class="shortcode-form__field-title">Экспорт ссылок</p>
                <input id="export-settings-link" type="file" name="export-settings_link">
                <label for="export-settings-link">Загрузить файл со ссылками</label>
            </div>
        </div>
        <!-- /.table-info__item  -->
        <div class="table-info__action">
            <button class="btn btn--color" type="submit"><span>Сохранить изменения</span></button>
            <button class="btn" type="reset"><span>Настройки по умолчанию</span></button>
        </div>
        <!-- /.table-info__action -->
    </form>
{% endblock %}