/* -----------------------------------------
 ASIDE
----------------------------------------- */
.sidebar {
  @include max-width(md) {
    width: 320px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    border-radius: 0;
    overflow-y: auto;
    z-index: 10000;
    transform: translateX(-100%);
    transition: transform 0.3s;
    .js_sidebar_active & {
      transform: translateX(0);
    }
  }
}

.navigation {
  .hamburger {
    left: auto;
    right: 15px;
  }
  &__menu {
    & > li {
      position: relative;
      font-size: 21px;
      line-height: 1.1;
      margin-bottom: 0;
      &:not(:last-child) {
        border-bottom: 1px solid rgba($dark-balzam, 0.1);
      }
      & > a {
        padding: 32px 61px 32px 30px;
        text-decoration: none;
        &.js_menu_border:before {
          transform: scale(1, 1);
        }
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 4px;
          height: 100%;
          transform: scale(1, 0);
          transform-origin: 100% 0;
          background-color: $blue;
          transition: transform 0.3s ease;
        }
        &:after {
          right: 30px;
        }
        &:hover,
        &.js_menu_arrow {
          background-color: rgba($light-balzam, 0.04);
        }
      }
    }
    a {
      display: block;
      position: relative;
      transition: 0.3s ease;
      transition-property: color, background-color;
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        width: 7px;
        height: 11px;
        transform: translate(-10px, -50%);
        opacity: 0;
        transition: 0.2s linear;
        transition-property: transform, opacity;
        background: url(../images/icon_menu_arrow_right_blue.svg) 50% no-repeat;
        background-size: contain;
      }
      &.js_menu_arrow {
        color: $blue;
        &:after {
          opacity: 1;
          transform: translate(0, -50%);
        }
      }
      &:hover {
        color: $blue;
      }
    }
  }
  &__submenu {
    background-color: rgba($light-balzam, 0.04);
    max-height: 0;
    overflow: hidden;
    will-change: max-height;
    transition: max-height 1s linear;
    &.js_menu_border {
      max-height: 500px;
    }
    & > li {
      font-size: 19px;
      &:not(:last-child) {
        & > a {
          border-bottom: 1px solid rgba($dark-balzam, 0.1);
        }
      }
      & > a {
        margin-left: 30px;
        margin-right: 30px;
        padding: 18px 18px 18px 35px;
        &:after {
          right: 0;
        }
      }
    }
  }
}
