@import 'variables';

%tp_default {
  font: 400 15px/1.3 'Roboto', 'Helvetica', sans-serif;
  width: 100%;
  height: auto;
  background-color: #f1f1f1;
  color: $main;
  @include max-width(sm) {
    font-size: 14px;
  }
  &--welcome {
    padding-bottom: 86px;
    @include max-width(sm) {
      padding-bottom: 30px;
    }
  }
  h1, h2, h3, h4, h5, h6, p, ul, ol, input {
    margin: 0;
    padding: 0;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  button {
    border: 0;
    outline: 0;
    background-color: transparent;
    cursor: pointer;
  }
  ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  input,
  textarea {
    border: 0;
    transition: 0.3s ease;
    transition-property: border-color, box-shadow;
  }

  input,
  textarea,
  button {
    outline: none !important;
  }

  label {
    font-size: 15px;
    letter-spacing: 0.0133333em;
    color: #2c2c2c;
  }

  input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
  }

  a {
    position: relative;
    color: inherit;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: inherit;
    }
    &:focus {
      box-shadow: none;
    }
  }

  em {
    font-size: 13px;
    color: #717171;
  }
  p {
    font-size: 15px;
    letter-spacing: 0.0133333em;
    color: #717171;
  }

  .z-index {
    position: relative;
    z-index: 1;
  }

  .btn {
    display: inline-flex;
    align-items: center;
    position: relative;
    padding: 14px 26px;
    border-radius: 4px;
    background-color: #fff;
    font-size: 19px;
    color: $blue;
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.06);
    overflow: hidden;
    transition: 0.3s ease;
    transition-property: box-shadow, transform;
    @include max-width(sm) {
      padding: 10px;
      font-size: 16px;
    }
    &.disabled,
    &[disabled] {
      opacity: 0.5;
      pointer-events: none;
      &:hover {
        #path4_fill,
        #path5_fill {
          fill: #546e7b;
        }
        &:before {
          content: none;
        }
      }
      svg {
        fill-opacity: 0.5;
      }
    }
    &--color {
      color: $white ;
      background-color: $blue ;
      &.btn:before {
        background-color: rgba($black, 0.1) !important;
      }
    }
    &--bg {
      background: rgba(236, 239, 241, 0.5) !important;
      border: 1px solid #cfd8dc !important;
      box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.03) !important;
      color: $black;
    }
    &:before {
      content: '';
      position: absolute;
      top: -171px;
      left: -64px;
      width: 400px;
      height: 400px;
      border-radius: 50%;
      transform: rotateZ(-107deg);
      transform-origin: 50% 100%;
      background-color: $blue;
      transition: transform 0.5s;
    }
    span {
      position: relative;
      z-index: 1;
      transition: color 0.5s;

    }
    svg {
      position: relative;
      z-index: 1;
      width: 16px;
      height: 16px;
      fill: #fff;
      margin-right: 10px;
      transition: fill 0.5s;
    }
    &:hover,
    &:focus {
      //&:before {
      //  transform: rotateZ(10deg);
      //}
      //span {
      //  color: #fff;
      //}
    }
    &:active {
      transform: translateY(3px);
      box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.06);
    }
  }

  .separate-line {
    border-bottom: 1px solid rgba($dark-balzam, 0.1);
  }

  .w100 {
    width: 100%;
  }
  .w65 {
    width: 100%;
    max-width: 387px;
    @include max-width(sm) {
      max-width: none;
    }
  }
  .w57 {
    width: 57%;
    @include max-width(sm) {
      width: 100%;
    }
  }

  .dashed {
    border-bottom: 1px dashed $dark-balzam;
    transition: 0.3s ease;
    transition-property: color, border-bottom;
    &:hover {
      color: $ultrabase-color;
      border-bottom-color: transparent;
    }
  }

  $error_color: #e8394c;

  .error-field {
    width: 100%;
    max-width: 387px;
    position: relative;
    .error-info {
      display: block;
      position: absolute;
      bottom: -11px;
      right: 10px;
      visibility: hidden;
      opacity: 0;
      font-size: 11px;
      letter-spacing: 0.2px;
      color: $error_color;
      background-color: #fff;
      padding: 5px 5px 5px 20px;
      transition: opacity 0.3s ease;
      &:before {
        content: '';
        position: absolute;
        top: 5px;
        left: 0;
        width: 15px;
        height: 13px;
        background: url(../images/danger-icon.svg) 50% no-repeat;
        background-size: contain;
      }
    }
  }
  .error-field.is-error {
    input, textarea, .selection.dropdown {
      border: 1px solid $error_color !important;
      &:hover, &:focus {
        border: 1px solid darken($error_color, 15) !important;
      }
    }
    .error-info {
      visibility: visible;
      opacity: 1;
    }
  }

  > * {
    outline: none !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
  }
}

