/* -----------------------------------------
 DROP DOWN Message
----------------------------------------- */
.drop_down {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  line-height: 1.2;
  transform: translateY(-150%);
  transition: transform 0.5s ease;
  z-index: 999;
  
  &.drop_down_shown {
    transform: translateY(0);
  }
  &__bg-gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 60%;
    left: 0;
    background: linear-gradient(4.54deg, #F37E50 5.7%, #EB5591 67.54%, #DA4E92 118.93%, #DA4E92 118.93%, #C54694 146.7%);
  }
  &__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 40%;
    background-color: #EF627D;
    z-index: 1;
    &:after {
      content: '';
      position: absolute;
      top: 100%;
      top: 0;
      height: 500px;
      width: 200px;
      background-color: #EF627D;
      transform: rotateZ(60deg);
      transform-origin: 0 0;
    }
  }
  &__inner {
    padding: 10px 40px 20px 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #FFF;
    z-index: 2;
    @include max-width(sm) {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  &__desc {
    margin-right: auto;
    width: 100%;
    max-width: 430px;
    line-height: 1.2;
    @include max-width(sm) {
      max-width: none;
      padding-top: 20px;
    }
    p {
      line-height: 1.2;
    }
  }
  &__action {
    padding-top: 10px;
    @include max-width(md) {
      padding-top: 20px;
      width: 100%;
      text-align: center;
    }
  }
  &__close {
    position: absolute;
    right: 20px;
    top: 15px;
    width: 11px;
    height: 11px;
    z-index: 3;
    &:hover {
      svg {
        fill: $blue;
      }
    }
    svg {
      fill: #fff;
      width: 100%;
      height: 100%;
      transition: fill 0.3s ease;
    }
  }
  p {
    color: #fff;
  }
}

.logo {
  width: 105px;
  margin-right: 26px;
  &__title {
    font-size: 13px;
    font-weight: 900;
    opacity: 0.5;
    text-align: center;
  }
}

#wpcontent {
  padding-right: 20px !important;

  @media screen and (max-width: 782px) {
    padding-right: 10px !important;
  }
}

@media only screen and (max-width: 960px) {
  .drop_down {
    margin-left: 36px;
  }

}

@media screen and (max-width: 782px) {
    input[type=checkbox]:checked:before {
      margin: -1.5px 0 0 -3px !important;
    }
    
  .drop_down {
    margin-top: 46px;
    margin-left: 0;
    img {
      width: 30px;
    }

  }
  //.auto-fold #wpcontent {
  //  padding-right: 10px;
  //}
}

.folded {
  .travel {
    .drop_down {
      margin-left: 36px;
    }
  }
}
