/* -----------------------------------------
 DROP DOWN Message
----------------------------------------- */
&__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  background: linear-gradient(4.54deg, #F37E50 5.7%, #EB5591 67.54%, #DA4E92 118.93%, #DA4E92 118.93%, #C54694 146.7%);
  color: #FFF;
  font-size: 18px;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid #fff;
}

&__content {
  background: none;
  color: #2c2c2c;
  padding: 15px 20px;
  .ui.selection.dropdown {
    max-width: 100%;
  }
}

&__item {
  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 0;
  }
}

&__label {
  margin-bottom: 10px;
  display: block;
  color: $label-color;
}

input {
  width: 100%;
  padding: 13px 15px;
  font-size: 15px;
  text-overflow: ellipsis;
  letter-spacing: 0.2px;
  border: 1px solid $input-border-color;
  border-radius: $input-border-radius;
  background-color: #FFFFFF;
  color: #2c2c2c;
  transition: border-color 0.3s ease;
  &:hover,
  &:focus {
    border-color: $base-color;
  }
}

input[type='number'] {
  padding: 15px;
}

&__close {
  display: block;
  font-size: 30px;
  line-height: 22px;
  color: #fff;
  cursor: pointer;
  margin: -3px 5px 0 0;
  background: transparent;
  border-width: 0;
  &:hover {
    color: darken(#fff, 15);
  }
}

.apply-tables {
  margin-bottom: 10px;
}

&__action {
  $modal-action-bg: #f1f1f1;
  text-align: right;
  padding: 15px;
  background: $modal-action-bg;
  border-radius: 0 0 4px 4px;
  border-top: 1px solid darken($modal-action-bg, 12);
  margin: 0 -20px -20px -20px;
}

&__btn {
  padding: 5px 16px;
  font-size: 16px;
  color: #2c2c2c;
  margin-left: 10px;
}

&__row {
  &:before, &:after {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }

  &_label {
    margin-bottom: 5px;
    font-size: 13px;
    display: block;
    color: lighten($label-color, 5);
  }
}

.mCSB_inside > .mCSB_container {
  margin-right: 0;
}

#select_shortcodes {
  width: 100% !important;
}

.select2-container {
  width: 100% !important;
}

.select2-container--default .select2-selection--single {
  height: 37px;
  border: 1px solid $input-border-color;
  &:hover {
    border-color: $base-color;
  }
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 38px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 36px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: 0;
  &:before {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    transform: rotate(90deg);
    right: 1px;
    margin-top: -3px;
    width: 7px;
    height: 11px;
    background: url(../images/icon_menu_arrow_right.svg) 50% no-repeat;
    background-size: contain;
    z-index: 1;
    transition: transform 0.3s ease;
  }
}

.select2-container--open .select2-selection--single .select2-selection__arrow b {
  &:before {
    transform: rotate(270deg);
  }
}

#tr_currency {
  .select2-container {
    width: 85px !important;
  }
}

#tr_transplant {
  .select2-container {
    width: 78% !important;
    @include max-width(xxs) {
      width: 100% !important;
    }
  }
}

#td_select_shortcodes {
  .select2-container {
    width: 95% !important;
  }
}

.modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  min-height: 100%;
  display: flex;
  padding-top: 4vh;
  padding-bottom: 4vh;
  z-index: 999;
  background-color: rgba(#000, 0);
  visibility: hidden;
  transition: background-color 0.4s ease;
  transition-property: background-color, visibility;
  overflow-x: hidden;
  @include min-width(sm) {
    width: calc(100% + 17px);
  }
  &.js-modal-active {
    overflow-y: scroll;
    visibility: visible;
    background-color: rgba(#000, 0.6);
  }
}

.modal {
  position: relative;
  padding: 50px 20px;
  width: 100%;
  max-width: 650px;
  margin: auto;
  background-color: #FFF;
  opacity: 0;
  visibility: hidden;
  transform: scale(2);
  transition: 0.4s ease;
  transition-property: opacity, transform, visibility;
  .js-modal-active & {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
}
