@import 'variables';
@import 'mixins';

// added ... if string is longer than field
input::-moz-placeholder {
	text-overflow :ellipsis;
}
textarea:-ms-input-placeholder {
	text-overflow :ellipsis;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color          :$input-border-color;
	opacity        :1;
	font-size      :15px;
	letter-spacing :0.0133333em;
	transition     :color 0.3s ease-in-out;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
	color          :$input-border-color;
	opacity        :1;
	font-size      :15px;
	letter-spacing :0.0133333em;
	transition     :color 0.3s ease-in-out;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color          :$input-border-color;
	opacity        :1;
	font-size      :15px;
	letter-spacing :0.0133333em;
	transition     :color 0.3s ease-in-out;
}

//Remove placeholder on field focus
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
	color :transparent;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
	color :transparent;
}
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
	color :transparent;
}
input:focus,
textarea:focus,
button:focus,
a:focus {
	outline :none;
}
input:focus,
textarea:focus {
	border-color :$blue;
}
@mixin placer($color) {
	&::-webkit-input-placeholder {
		font-size      :15px;
		opacity        :1;
		letter-spacing :0.0133333em;
		color          :$color;
		@include max-width(xxs) {
			font-size :13px;
		}
	}
	&:-moz-placeholder {
		font-size      :15px;
		opacity        :1;
		letter-spacing :0.0133333em;
		color          :$color;
		@include max-width(xxs) {
			font-size :13px;
		}
	}
	&::-moz-placeholder {
		font-size      :15px;
		opacity        :1;
		letter-spacing :0.0133333em;
		color          :$color;
		@include max-width(xxs) {
			font-size :13px;
		}
	}
	&:-ms-input-placeholder {
		font-size      :15px;
		opacity        :1;
		letter-spacing :0.0133333em;
		color          :$color;
		@include max-width(xxs) {
			font-size :13px;
		}
	}
}
