/* -----------------------------------------
 TABLES
----------------------------------------- */
@import 'placeholder';

.tables {
  .main-content__inner {
    padding-left: 0;
    padding-right: 0;
  }
  &__head {
    padding-left: 40px;
    padding-right: 40px;
    @include max-width(sm) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  &__nav {
    margin-bottom: 30px;
    ul {
      display: inline-flex;
      align-items: center;
      flex-wrap: wrap;
      border: 1px solid #ccd2db;
      border-radius: 3px;
      letter-spacing: 0.2px;
      color: #2c2c2c;
      li {
        margin-bottom: 0;
        &:not(:last-child) {
          border-right: 1px solid #ccd2db;
        }
        a {
          display: block;
          padding: 9px 21px;
          letter-spacing: 0.0133333em;
          color: #2c2c2c;
          transition: background-color 0.3s ease;
          @include max-width(xxs) {
            padding-left: 6.98px;
            padding-right: 6.98px;
          }
          &:hover {
            background-color: rgba(#ECEFF1, 0.5);
          }
          &.js_tables_active {
            background-color: rgba($blue, 0.2);
          }
        }
      }
    }
  }
}

.tables-content {
  &__title {
    position: relative;
    display: block;
    font-size: 19px;
    color: $dark-balzam;
    line-height: 1.1;
    padding: 27px 60px 27px 40px;
    border-top: 1px solid rgba($dark-balzam, 0.1);
    transition: 0.3s ease;
    transition-property: color, background-color;
    text-decoration: none;
    &.js_tables_active {
      background-color: rgba($light-balzam, 0.04);
      &:last-of-type {
        border-bottom: 0;
      }
      svg {
        transform: translateY(-50%) rotate(270deg);
        fill: $blue;
      }
    }
    @include max-width(sm) {
      font-size: 16px;
      padding-left: 15px;
      padding-right: 30px;
    }
    @include max-width(xxs) {
      font-size: 14px;
      padding-top: 15px;
      padding-bottom: 15px;
    }
    &:hover {
      color: $blue;
      svg {
        fill: $blue;
      }
    }
    &:last-of-type {
      border-bottom: 1px solid rgba($dark-balzam, 0.1);
    }
    &--two-rows {
      padding-top: 17px;
      padding-bottom: 17px;
      span {
        display: inline-block;
        max-width: 450px;
      }
    }
    svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(90deg);
      right: 40px;
      width: 7px;
      height: 11px;
      fill: #546e7b;
      transition: transform 0.3s ease;
      @include max-width(sm) {
        right: 18px;
      }
    }
  }
  &__item {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 1s ease;
    &.js_tables_active {
      max-height: initial;
      opacity: 1;
      overflow: visible;
    }
  }
}

.table-info {
  position: relative;
  display: none;
  padding-left: 40px;
  padding-right: 40px;
  background: rgba($light-balzam, 0.04);
  @include max-width(sm) {
    padding-left: 10px;
    padding-right: 10px;
  }
  & > .table-info__item {
    &:first-of-type {
      border-top: 1px solid rgba($dark-balzam, 0.1);
    }
    &:last-of-type {
      border: 0;
      &.table-info__item_middle {
        border-bottom: 1px solid rgba($dark-balzam, 0.1);
      }
    }
  }
  &--settings {
    display: block;
    background-color: $white;
    border-top: 0;
    & > .table-info__item {
      &:first-of-type {
        // padding-top: 0;
        border-top: 0;
      }
    }
  }
  &__close {
    display: block;
    position: absolute;
    z-index: 1;
    right: 40px;
    bottom: 70px;
    width: 7px;
    height: 11px;
    @include max-width(xs) {
      right: 15px;
      bottom: 30px;
    }
    svg {
      width: 100%;
      height: 100%;
      fill: $blue;
      transform: rotate(-90deg);
    }
  }
  &__item {
    position: relative;
    padding: 25px 0;
    border-bottom: 1px solid rgba($dark-balzam, 0.1);
    & + .shortcode-form__row {
      margin-top: 20px;
    }
    @include max-width(xxs) {
      font-size: 13px;
    }
    &--padding {
      //padding-bottom: 10px;
    }
    &--border {
      border-bottom: none;
    }
    textarea {
      background: $white;
      border: 1px solid $input-border-color;
      border-radius: 4px;
      min-height: 80px;
      padding: 14px 15px;
      resize: vertical;
      letter-spacing: 0.0133333em;
    }
    input {
      letter-spacing: 0.0133333em;
      @include placer(#000);
      &:checked + label {
        &:before {
          background-color: $blue;
          border-color: $blue;
        }
        &:after {
          opacity: 1;
        }
      }
    }
  }
  &__title {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 17px;
    line-height: 1.176;
    color: $dark-balzam;
  }
  &__subtitle {
    display: flex;
    align-items: flex-end;
    margin-bottom: 7px;
    font-size: 11px;
    text-transform: uppercase;
    color: $label-color;

    &.active {
      &:before {
        background-color: #02BBD7 !important;
        border: 1px solid #02BBD7 !important;
      }
    }
    &:after {
      opacity: 1 !important;
    }
  }
  &__preview-title {
    display: inline-block;
    margin-bottom: 17px;
    font-size: 17px;
    color: $dark-balzam;
    &.js_preview-info_show {
      border: 0;
      //color  :$ultrabase-color;
    }
  }
  &__select {
    width: 180px;
    &--width {
      width: 100%;
      max-width: 387px;
      @include max-width(sm) {
        max-width: none;
      }
    }
    &--width98 {
      width: 98px;
    }
  }
  &__action {
    .btn {
      @include max-width(lg) {
        padding-left: 15px;
        padding-right: 15px;
      }
      @include max-width(xs) {
        display: block;
        margin-left: auto;
        margin-right: auto;
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
      &:hover {
        span {
          color: $white;
        }
      }
      &:last-child {
        &:hover {
          span {
            color: #263239 !important;
          }
        }
      }
      span {
        color: $dark-balzam;
      }
      &--color {
        margin-right: 26px;

        &:hover {
          box-shadow: 0 10px 20px rgba(90,122,190,.2);
        }
        span {
          color: $white;
        }
      }
    }
  }
  &__desc {
    margin-bottom: 15px;
  }
  input {
    padding: 14px 15px;
    font-size: 15px;
    text-overflow: ellipsis;
    letter-spacing: 0.2px;
    border: 1px solid $input-border-color !important;
    border-radius: 4px;
    background: $white;
    color: #2c2c2c;
    &:hover,
    &:focus {
      border-color: $blue !important;
      box-shadow: 0 0 0 3px rgba($blue, 0.3) !important;
    }
    &[disabled] {
      &:hover,
      &:focus {
        border-color: $input-border-color;
        box-shadow: none;
      }
    }
    @include max-width(xxs) {
      font-size: 13px;
    }
  }
  textarea {
    &:hover,
    &:focus {
      border-color: $blue;
      box-shadow: 0 0 0 3px rgba($blue, 0.3);
    }
  }
  [name="table_title"] {
    margin-bottom: 37px;
    @include max-width(sm) {
      margin-bottom: 10px;
    }
  }
  [name="button_title"] {
    margin-bottom: 20px;
  }
}

.table-content-form {
  & > .table-info__item {
    &:last-of-type {
      border: 0;
    }
    &:first-of-type {
      padding-top: 0;
    }
    &--padding-top {
      &:first-of-type {
        padding-top: 25px;
      }
    }
  }
}

.preview-info {
  display: none;
  padding: 30px;
  border: 1px solid $input-border-color;
  border-radius: 4px;
  background-image: url(../images/bg-pattern.png);
  @include max-width(xs) {
    padding: 10px;
  }
  &__title {
    margin-bottom: 15px;
    font-size: 23px;
    color: #1b2736;
    @include max-width(xs) {
      font-size: 16px;
    }
  }
}

.preview-info-map {
  border: 1px solid #CFD8DC;
  border-radius: 2px;
}

.preview-info-table {
  border: 1px solid #ededed;
  overflow-y: auto;
  &--black-bg {
    .preview-info-table {
      &__row {
        &:first-of-type {
          background: linear-gradient(0deg, #404a55 0%, #1b2736 100%);
        }
      }
      &__col {
        a {
          background-color: #3cc0c5 !important;
        }
        .btn:before {
          background-color: #feb300;
        }
      }
    }
  }
  &__row {
    display: flex;
    min-width: 534px;
    font-size: 13px;
    color: #2c2c2c;
    &:nth-of-type(odd) {
      background-color: #f5f9fa;
    }
    &:nth-of-type(even) {
      background-color: $white;
    }
    &:first-of-type {
      background-color: #00b0e2;
    }
    &:not(:last-of-type) {
      border-bottom: 1px solid #ededed;
    }
    &--head {
      color: $white;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 1.1;
      .preview-info-table__col {
        &:not(:last-of-type) {
          border-right: 0;
        }
      }
    }
  }
  &__col {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 6px 12px;
    @include max-width(xs) {
      padding-left: 6px;
      padding-right: 6px;
    }
    &:first-of-type {
      width: 155px;
    }
    &:nth-of-type(2) {
      width: 105px;
    }
    &:nth-of-type(3) {
      width: 113px;
    }
    &:last-of-type {
      flex-grow: 1;
    }
    &:not(:last-of-type) {
      border-right: 1px solid #ededed;
    }
    a {
      display: inline-block;
      padding: 8px 10px;
      font-size: 13px;
      font-weight: bold;
      text-transform: uppercase;
      border: 0;
      border-radius: 3px;
      box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.15);
      background-color: #feb300 !important;
      color: $white;
      &:hover {
        color: $white;
      }
    }
  }
}

.pagination-settings {
  .pagination-on,
  .pagination-off {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    visibility: hidden;
    opacity: 0;
    &:checked + label {
      &:before {
        //background-color: $blue;
        border-color: $blue;
      }
      &:after {
        opacity: 1;
      }
    }
  }
  input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    height: 0;
  }
  label {
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    cursor: pointer;
    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      min-width: 26px;
      width: 26px;
      height: 26px;
      border: 1px solid $input-border-color;
      border-radius: 3px;
      background-color: $white;
      transition: 0.3s ease;
      transition-property: border-color, background-color;
      z-index: 1;
    }
    &:after {
      content: '';
      position: absolute;
      top: 6px;
      left: 4px;
      width: 18px;
      height: 14px;
      opacity: 0;
      background: url(../images/check_mark.svg) 50% no-repeat;
      background-size: contain;
      transition: opacity 0.3s ease;
      z-index: 1;
    }
    &:hover,
    &:focus {
      .search-result-form__btn {
        visibility: visible;
        opacity: 1;
      }
      .result-table__title {
        color: $blue;
      }
      &:before {
        border-color: $blue;
      }
    }
    span {
      padding-top: 4px;
    }
  }
  &__item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    @include max-width(365px) {
      display: block;
    }
    &:not(:first-of-type) {
      margin-left: 30px;
      @include max-width(365px) {
        margin-left: auto;
        margin-top: 40px;
      }
      &:before {
        content: '';
        position: absolute;
        top: 54%;
        left: -25px;
        color: #cfd8dc;
        width: 16px;
        height: 16px;
        background: url(../images/new-close.svg) no-repeat;
        background-size: cover;
        opacity: 0.35;

        @include max-width(365px) {
          top: -35px;
          left: 40px;
        }
      }
    }
  }
}

.pagination-qty {
  position: relative;
  width: 98px;
  input {
    position: relative;
    visibility: visible;
    opacity: 1;
    height: inherit;
    width: 100%;
    padding: 12px 15px;
    font-size: 15px;
    text-overflow: ellipsis;
    letter-spacing: 0.2px;
    border: 1px solid $input-border-color;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: $white;
    color: #2c2c2c;
    &[disabled] {
      opacity: 0.3;
    }
  }
  &__action {
    position: absolute;
    top: 1px;
    bottom: 1px;
    right: 1px;
    width: 35px;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    border-radius: 0 4px 4px 0;
    color: $dark-balzam;
    background-color: $white;
    overflow: hidden;
    button {
      display: block;
      width: 100%;
      height: 50%;
      text-align: center;
      line-height: 23px;
      border-left: 1px solid $input-border-color;
      transition: 0.3s ease;
      transition-property: color, background-color;

      &:first-child {
        border-bottom: 1px solid $input-border-color;
      }
      &:hover {
        background-color: #eceff1;
      }
      &[disabled] {
        opacity: 0.3;
        pointer-events: none;
        &:hover {
          background-color: $white;
          color: rgba($dark-balzam, 0.5);
        }
      }
    }
  }
  &__desc {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 120%;
    font-size: 13px;
    font-style: italic;
    color: #717171;

  }
}

.train-tickets {
  &__item {
    display: none;
    &.js_train_tickets_active {
      display: block;
    }
    &--agreement {
      padding-left: 54px;
      padding-right: 54px;
      padding-bottom: 100px;
      @include max-width(sm) {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    .table-info {
      border-top: 0;
      &__item {
        &:first-of-type {
          border-top: 1px solid rgba($dark-balzam, 0.1);
        }
      }
    }
  }
}

.agreement {
  text-align: center;
  letter-spacing: 0.2px;
  color: $black;
  &__logo {
    width: 140px;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  &__action {
    margin-top: 25px;
    .btn {
      width: 47%;
      justify-content: center;
      background-color: rgba(236, 239, 241, 0.5);
      border: 1px solid #cfd8dc;
      text-align: center;
      box-shadow: none;
      @include max-width(xs) {
        width: 100%;
        &:not(:last-child) {
          margin-bottom: 20px;
        }

      }
      &:hover {
        span {
          color: $white;
        }
      }
      span {
        color: $dark-balzam;
      }
      &--color {
        background-color: $blue;
        margin-right: 26px;
        @include max-width(xs) {
          margin-right: 0;
        }
        span {
          color: $white;
        }
      }
    }
  }
  a {
    color: $blue;
    &:hover {
      text-decoration: underline;
    }
  }
}

.table-settings-info {
  &__item {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    margin-top: 20px;
    @include max-width(1260px) {
      display: block;
      width: 100%;
    }
    &:nth-child(odd) {
      margin-right: 22px;
      @include max-width(1350px) {
        margin-right: 20px;
      }
      @include max-width(1260px) {
        margin-right: auto;
      }
    }
    input {
      width: 100%;
    }
    label {
      position: relative;
      span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
        padding-left: 5px;
        background-color: $white;
      }
    }
  }
}

.table-settings-form {
  &__item {
    margin-top: 20px;
  }
  .table-info__item {
    &:last-child {
      border-bottom: 0;
    }
    &:first-of-type {
      padding-top: 0;
    }
  }
}

.select-radio {
  &--inline {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .select-radio__item {
      margin-bottom: 10px;
      &:not(:last-child) {
        margin-right: 26px;
      }
    }
  }
  &--margin {
    margin-top: 15px;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    span {
      display: inline-block;
      vertical-align: middle;
    }
  }
  input {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    visibility: hidden;
    opacity: 0;
    &:checked {
      & + label {
        &:before {
          box-shadow: inset 0 0 0 6px $blue;
          background-color: transparent;
        }
      }
    }
  }
  &__label {
    position: relative;
    display: flex;
    cursor: pointer;
    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      width: 26px;
      height: 26px;
      box-shadow: inset 0 0 0 1px $input-border-color;
      border-radius: 50%;
      background-color: $white;
      transition: 0.3s ease;
      transition-property: box-shadow;
      z-index: 1;
    }
    &:hover,
    &:focus {
      &:before {
        box-shadow: inset 0 0 0 1px $blue;
      }
    }
  }
  &__drop {
    display: none;
    padding: 15px;
  }
}

.table-designs {
  margin-left: -10px;
  margin-right: -10px;
  @include max-width(xs) {
    text-align: center;
  }
  &__item {
    display: inline-block;
    vertical-align: top;
    width: 21%;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 24px;
    @include max-width(lg) {
      width: 28%;
      margin-left: 13px;
      margin-right: 13px;
    }
    @include max-width(md) {
      width: 29%;
    }
    @include max-width(sm) {
      width: 28%;
    }
    @include max-width(xs) {
      width: calc(48% - 24px);
    }

  }
}

.table-design {
  position: relative;
  padding: 15px;
  background: $white;
  border: 1px solid #eceff1;
  border-radius: 4px;
  transition: 0.3s ease;
  transition-property: border, box-shadow;
  overflow: hidden;
  cursor: pointer;
  &:after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    border-radius: 50%;
    background-color: rgba($dark-balzam, 0.8);
    transition: transform 0.4s ease;
    transform: scale(0, 0);
    transform-origin: 50% 50%;
  }
  &:hover {
    &:after {
      transform: scale(1, 1);
    }
    .table-design__action {
      transform: translate(-50%, -50%);
    }
  }
  &.js_table_design_active {
    border-color: #b2ebf3;
    box-shadow: 0 0 0 4px #b2ebf3;
  }
  &__action {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 200%);
    z-index: 1;
    transition: transform 0.5s ease;
    text-align: center;
    .btn {
      margin-left: auto;
      margin-right: auto;
      font-size: 15px;
      padding: 11px 13px;
      @include max-width(360px) {
        padding: 6px 10px;
        font-size: 14px;
      }
    }
    button {
      display: block;
      margin-bottom: 15px;
    }
    .btn--bg {
      background: $white !important;
    }
  }
  .label-info {
    transform-origin: 5% 208%;
  }
}

.table-design-title {
  &__item {
    &--margin {
      margin-left: -13px;
      margin-right: -13px;
    }
    .table-design-title {
      &__col {
        margin-bottom: 20px;
      }
    }
  }
  &__col {
    display: inline-block;
    vertical-align: top;
    margin-left: 13px;
    margin-right: 13px;
  }
  &__style {
    display: inline-flex;
    align-items: flex-start;
    justify-content: flex-start;
    background: $white;
    border: 1px solid $input-border-color;
    border-radius: 4px;
  }
  &__style-item {
    &:last-of-type {
      label {
        border: none;
      }
    }
    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      display: none;
      &:checked + label {
        background-color: rgba($blue, 0.2);
      }
    }
    label {
      display: block;
      width: 48px;
      height: 48px;
      line-height: 46px;
      border-right: 1px solid $input-border-color;
      text-align: center;
      font-size: 20px;
      font-family: 'Roboto Slab', serif;
      cursor: pointer;
      &:hover {
        background-color: rgba(#ECEFF1, 0.5);
      }
      &[for="table_design_title_under"] {
        text-decoration: underline;
      }
    }
  }
}

#tp_form_price_calendar_month_type_transplant {
  .table-info__subtitle {
    transform: translate(33px, -21.5px);
  }
}

.travel .table-info__action .btn:hover {
  box-shadow: 0 10px 20px rgba(90, 122, 190, 0.2);
  background: #02BBD7;
}
.travel .table-info__action .btn--color:hover {
  background: #ffffff;
}
.travel .table-info__action .btn:hover span {
  color: #263239 !important;
}
.travel .btn:hover {
  box-shadow: 0 10px 20px rgba(90, 122, 190, 0.2);
}

.tp-form-reset:hover {
  span {
    color: #263239 !important;
  }
}

.table-info__action {
  .btn:hover {
    box-shadow: 0 10px 20px rgba(90,122,190,.2)!important;
  }
}