/* -----------------------------------------
 TEXT LINK
----------------------------------------- */
  .text-link {
    .result-table {
      &__col {
        position: relative;
        padding: 15px 20px;
        &:first-child {
          padding-left: 46px;
          width: 46%;
        }
        &:nth-child(2) {
          width: 54%;
        }
      }
      &__shortcode {
        width: 200px;
      }
    }
    .pagination-settings {
      margin-bottom: 22px;
    }
    .search-result-form {
      label {
        &:hover,
        &:focus {
          .result-table__shortcode {
            color: #02BBD7;
            &:before {
              transform: scale(1, 1);
            }
          }

          
        }
      }
    }
    .apply-tables {
      margin-bottom: 10px;
      label {
        &:before {
          position: static;
        }
      }
    }
    .table-info__action {
      margin-top: 24px;
    }
    &__file {
      label {
        position: relative;
        padding-left: 26px;
        color: #02BBD7;
        text-decoration: underline;
        cursor: pointer;
        &:before {
          content: none;
        }
        &:after {
          position: absolute;
          content: '';
          opacity: 1;
          top: 3px;
          left: 0;
          width: 16px;
          height: 16px;
          background: url(../images/icon_import.svg) 50% no-repeat;
          background-size: contain;
        }
        &:hover,
        &:focus {
          text-decoration: none;
        }
      }
      &--export {
        label {
          &:after {
            transform: rotateX(180deg);
          }
        }
      }
    }
  }
