//---GLOBAL---

$main: #455A65;

$blue: #02BBD7;

$ultrabase-color: #4ECFE3;

$base-color: #41C2D2;

$white: #fff;

$black: #000;

$light-balzam: #026065;

$dark-balzam: #263239;

$screen-max: 1200px;
$screen-med: 992px;
$screen-med-no-sidebar: 960px;
$screen-sm: 782px;

$input-border-color: #B0BEC6;
$input-border-radius: 4px;
$label-color: #607d8d;

$color-primary: $blue;
$color-default: #eaeaea;
$color-danger: #c15868;
$color-warning: #f39c12;
