/* -----------------------------------------
 WIDGETS
----------------------------------------- */
.widgets {
  .apply-tables {
    margin-bottom: 10px;
    //&:last-of-type {
    //  margin-bottom: 0;
    //}
  }
  .table-info {
    &__close {
      display: none;
    }
  }
  .table-content-form input {
    @include placer(#2c2c2c);
  }
}

.widgets-form {
  &__item {
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }
  .table-settings-info__item {
    width: 110%;
    max-width: 387px;
  }
}

.widget-radio {
  .select-radio__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 25px;
  }
}

.period-price {
  padding: 22px 30px;
  background: #FFFFFF;
  border: 1px solid $input-border-color;
  border-radius: 4px;
  &__head {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    .apply-tables {
      margin-bottom: 10px;
      margin-right: 25px;
    }
  }
  &__body {
    font-size: 0;
    .apply-tables {
      width: 130px;
      font-size: 15px;
      display: inline-block;
      vertical-align: top;
    }
  }
}

.slider-container {
  margin-top: 30px;
  width: 260px !important;
}

.slider-container .back-bar {
  height: 4px;
  background: #B2EBF3;
  border-radius: 4px;
  position: relative;
}

.slider-container .back-bar .pointer {
  position: absolute;
  top: -4px;
  width: 19px;
  height: 12px;
    border: 1px solid #E2E5EC;
    box-sizing: border-box;
    border-radius: 3px;
}

.slider-container .clickable-dummy {
  background-color: transparent;
}

.slider-container .back-bar .selected-bar {
  background: #02BBD7;
  border-radius: 1px;
  height: 100%;
}

.slider-container .back-bar .pointer-label {
  position: absolute;
  top: -23px;
  font-size: 15px;
  color: #2c2c2c;
  background: transparent;
}

.color-pallete {
  margin-top: 20px;
  width: 100%;
  max-width: 515px;
  &__inner {
    margin-bottom: 20px;
    padding: 15px 7.5px;
    font-size: 0;
    border: 1px solid $input-border-color;
    border-radius: 4px;
    background-color: #FFF;

  }
  &__item {
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    margin-left: 7.5px;
    margin-right: 7.5px;
    input {
      position: absolute;
      top: 0;
      left: 0;
      height: 0;
      width: 0;
      visibility: hidden;
      opacity: 0;
      &:checked + label {
        box-shadow: 0 0 0 4px #B2EBF3;
      }
    }
    label {
      position: relative;
      display: block;
      width: 68px;
      height: 68px;
      border-radius: 4px;
      transition: box-shadow 0.3s ease;
      cursor: pointer;
      overflow: hidden;
      &:hover,
      &:focus {
        box-shadow: 0 0 0 4px #B2EBF3;
      }
      .label-info {
        transform-origin: 28% 108%;
      }
    }
    &.active {
      label {
        box-shadow: 0 0 0 4px #B2EBF3;

      }
    }
  }
}

.color-pallete-choose {
  display: none;
  &--display {
    display: block;
  }
  &__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    width: 128px;
    &--margin {
      margin-right: 0;
    }
  }
  &__inner {
    display: flex;
    align-items: center;
    padding: 15px;
    background: #FFFFFF;
    border: 1px solid $input-border-color;
    border-radius: 4px;
  }
  &__hex {
    display: inline-block;
    width: 67px;
    color: #2c2c2c;
    margin-right: 8px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
  }
  &__text-color {
    padding: 0 !important;
    & + .sp-replacer {
      overflow: visible;
      transform: translateY(7px);
      .sp-preview {
        position: relative;
        height: 4px;
        border-radius: 1px !important;
        &:before {
          position: absolute;
          bottom: 100%;
          left: 4px;
          content: '';
          display: block;
          width: 14px;
          height: 14px;
          background: url(../images/A-icon.svg) 50% no-repeat;
          background-size: contain;
          transform: translate(-2px, -4px);
        }
      }
    }
  }
  &--border-color {
    .sp-preview-inner,
    .sp-alpha-inner,
    .sp-thumb-inner {
      &:before {
        content: '';
        position: absolute;
        top: 3px;
        left: 3px;
        bottom: 3px;
        right: 3px;
        border-radius: 1px !important;
        background-color: #FFF;
        border: 1px solid $input-border-color;
      }
    }
  }
}

.sp-container {
  background-color: #f1f1f1;
  border-radius: 4px;
  border: 1px solid $input-border-color;
}

.sp-replacer {
  padding: 0;
  border: 0;
  border-radius: 3px;
  background: none;
  .sp-preview {
    border: 1px solid $input-border-color;
    margin-right: 0;
    border-radius: 3px;
    width: 20px;
    height: 20px;
  }
  .sp-preview-inner,
  .sp-alpha-inner,
  .sp-thumb-inner {
    border-radius: 3px;
  }
  .sp-dd {
    display: none;
  }
}

.sp-container,
.sp-container button,
.sp-container input,
.sp-color,
.sp-hue,
.sp-clear {
  font-family: 'Roboto', 'Helvetica', sans-serif;;
}

.sp-container button {
  color: #fff;
  background: $blue;
  border: 1px solid transparent;
  font-weight: 300;
  border-radius: 4px;
  text-shadow: none;
  transition: 0.3s ease;
  transition-property: color, background-color;
  &:hover {
    background: transparent;
    color: $blue;
    border: 1px solid $blue;
    text-shadow: none;
  }
}

.subscribe-form {
  padding: 20px;
  background-color: $blue;
  font-size: 12px;
  &__title {
    margin-bottom: 10px;
    font-size: 21px;
    font-weight: 800;
  }
  &__item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    input {
      width: 48%;
      padding-top: 16px;
      padding-bottom: 16px;
      margin-right: 20px;
    }
  }
  &__btn {
    width: 48%;
    background-color: #F79500;
    color: #fff;
    transition: all 0.3s ease;
    &:hover {
      background-color: #F79500;
      &:before {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
  }
  &__desc {
    width: 100%;
    max-width: 430px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    a {
      text-decoration: underline;
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
  p {
    margin-bottom: 10px;
    color: #fff;
  }
}

.bg-pallete {
  &__inner {
    font-size: 0;
    margin-right: -14px;
    margin-left: -14px;
  }
  .color-pallete {
    &__item {
      position: relative;
      overflow: hidden;
      width: 29%;
      padding: 15px;
      background: #FFFFFF;
      border: 1px solid $input-border-color;
      border-radius: 4px;
      margin-right: 14px;
      margin-left: 14px;
      margin-bottom: 28px;
      transition: box-shadow 0.3s ease;
      @include max-width(lg) {
        width: 28%;
      }
      @include max-width(md) {
        width: 29%;
      }
      @include max-width(xs) {
        width: 45%;
      }
      @include max-width(xxs) {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
      &:hover,
      &.active {
        box-shadow: 0 0 0 4px #B2EBF3;
      }
      input:checked + label {
        box-shadow: none;
      }
      label {
        position: static;
        overflow: visible;
        width: 100%;
        height: 26px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        &:hover {
          box-shadow: none;
        }
        span {
          top: auto;
          bottom: 0;
          left: 0;
          transform: translate(0) rotate(-45deg);
          padding-left: 15px;
          transform-origin: 0 100%;
          text-align: left;
        }
        ins {
          display: block;
          border-radius: 1px;
          height: 8px;
          &:first-of-type {
            background-color: #FFF;
            width: 65%;
          }
          &:last-of-type {
            width: 30%;
            background-color: #F79500;
          }
        }
      }
    }
  }
}

.hotel-card {
  img {
    width: 100%;
    max-width: none;
  }
}

.widget-design {
  input {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    opacity: 0;
    visibility: hidden;
    &:checked + label {
      &:after {
        transform: translateX(0);
      }
      span {
        &:last-child {
          color: #2c2c2c;
        }
        &:first-child {
          color: #FFF;
        }
      }

    }
  }
  label {
    display: inline-block;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0 0 0 1px #fff, 0 0 0 2px $input-border-color;
    border-radius: 17px;
    cursor: pointer;
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 50%;
      content: '';
      transform: translateX(100%);
      background-color: #02BBD7;
      border-radius: 15px;
      transition: transform 0.3s ease;
    }
    span {
      position: relative;
      z-index: 1;
      display: inline-block;
      vertical-align: middle;
      color: #2c2c2c;
      padding: 6px 20px;
      transition: color 0.3s ease;
      &:last-child {
        color: #FFF;
      }
    }
  }
}

.hotels-list {
  max-height: 438px;
  overflow-y: auto;
  img {
    width: 100%;
    object-fit: cover;
  }
}

.special-offer,
.low-price-calendar {
  min-width: 680px;
  img {
    width: 100%;
    object-fit: cover;
  }
}

.mCSB_scrollTools .mCSB_draggerRail {
  width: 16px;
  background-color: rgba($input-border-color, 0.2);
  border-radius: 0;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: rgba(207, 216, 220, 0.5);
  width: 8px;
}

.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background: rgba(207, 216, 220, 0.5);
}

.custom-scroll-y {
  .mCSB_container {
    margin-right: 0;
  }
  .mCSB_scrollTools .mCSB_draggerContainer {
    border-left: 1px solid rgba($input-border-color, 0.5);
  }
}

.custom-scroll-x {
  overflow-x: auto;
  .mCSB_scrollTools .mCSB_draggerContainer {
    border-top: 1px solid rgba($input-border-color, 0.5);
  }
  .mCSB_horizontal.mCSB_inside > .mCSB_container {
    margin-bottom: 0;
  }
  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    height: 8px;
    width: auto;
    margin: 3px auto;
  }
  .mCSB_scrollTools .mCSB_draggerRail {
    width: auto;
    background: rgba(236, 239, 241, 0.2);
    height: 100%;
  }
}

.ui.form-row {
  &__citySearch {
    @extend .w57;
  }
  &__radio {
    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }
}
