{% extends '/shortcodes/layouts/widget.twig' %}

{% block content %}
    {% set width = '' %}
    {% if shortcode_atts.responsive == false %}
        {% set width = '&width=' ~ shortcode_atts.width %}
    {% endif %}
    <script charset="utf-8" src="//www.travelpayouts.com/calendar_widget/iframe.js?marker={{ shortcode_atts.marker }}&origin={{ shortcode_atts.origin }}&destination={{ shortcode_atts.destination }}&currency={{ shortcode_atts.currency }}&searchUrl={{ shortcode_atts.white_label }}&one_way={{ shortcode_atts.one_way }}&only_direct={{ shortcode_atts.direct }}&locale={{ shortcode_atts.lang }}&period={{ shortcode_atts.period }}&range={{ shortcode_atts.period_day_from }}%2C{{ shortcode_atts.period_day_to }}&powered_by={{ shortcode_atts.powered_by }}{{ width|raw }}" async></script>
{% endblock %}