{% extends '/shortcodes/layouts/widget.twig' %}

{% block content %}
    <script async src="//www.travelpayouts.com/ducklett/scripts.js?widget_type=brickwork&currency=rub&width=800&host=hydra.aviasales.ru&marker=17942.&limit=9&powered_by=true&origin_iatas=IEV&destination_iatas=MIL" charset="UTF-8"></script>
{% endblock %}