{% extends '/shortcodes/layouts/widget.twig' %}

{% block content %}
    {% set width = '' %}
    {% if shortcode_atts.responsive == false %}
        {% set width = '&width=' ~ shortcode_atts.width %}
    {% endif %}
    <script async src="{{ shortcode_atts.url }}?categories=5stars%2Csea_view%2Cluxury&id=30553&type={{ shortcode_atts.type }}&currency={{ shortcode_atts.currency }}&host={{ shortcode_atts.white_label }}&marker={{ shortcode_atts.marker }}&limit={{ shortcode_atts.limit }}&powered_by={{ shortcode_atts.powered_by }}{{ width|raw }}" charset="UTF-8"></script>
{% endblock %}