{% extends '/shortcodes/layouts/widget.twig' %}

{% block content %}
    <iframe src="//maps.avs.io/hotels?color={{ shortcode_atts.color }}&locale={{ shortcode_atts.lang }}&marker={{ shortcode_atts.marker }}&changeflag={{ shortcode_atts.changeflag }}&draggable={{ shortcode_atts.draggable }}&map_styled={{ shortcode_atts.map_styled }}&map_color={{ shortcode_atts.map_color }}&contrast_color={{ shortcode_atts.contrast_color }}&disable_zoom={{ shortcode_atts.disable_zoom }}&base_diameter={{ shortcode_atts.base_diameter }}&scrollwheel={{ shortcode_atts.scrollwheel }}&host={{ shortcode_atts.white_label }}&lat={{ shortcode_atts.lat }}&lng={{ shortcode_atts.lng }}&zoom={{ shortcode_atts.zoom }}" width="{{ shortcode_atts.width }}px" height="{{ shortcode_atts.height }}px"  scrolling="no" frameborder="0"></iframe>
{% endblock %}