{% extends '/shortcodes/layouts/widget.twig' %}

{% block content %}
    <script charset="utf-8" async src="//www.travelpayouts.com/chansey/iframe.js?hotel_id=361687&locale=ru&host=search.hotellook.com&marker=17942.&currency=rub&powered_by=true&width=500"></script>
{% endblock %}