{% extends '/shortcodes/layouts/widget.twig' %}

{% block content %}
    <iframe src="//maps.avs.io/flights/?auto_fit_map={{ shortcode_atts.auto_fit_map }}&hide_sidebar={{ shortcode_atts.hide_sidebar }}&hide_reformal={{ shortcode_atts.hide_reformal }}&disable_googlemaps_ui={{ shortcode_atts.disable_googlemaps_ui }}&zoom={{ shortcode_atts.zoom }}&show_filters_icon={{ shortcode_atts.show_filters_icon }}&redirect_on_click={{ shortcode_atts.redirect_on_click }}&small_spinner={{ shortcode_atts.small_spinner }}&hide_logo={{ shortcode_atts.hide_logo }}&direct={{ shortcode_atts.direct }}&lines_type={{ shortcode_atts.lines_type }}&cluster_manager={{ shortcode_atts.cluster_manager }}&marker={{ shortcode_atts.marker }}&show_tutorial={{ shortcode_atts.show_tutorial }}&locale={{ shortcode_atts.lang }}&host={{ shortcode_atts.white_label }}&origin_iata={{ shortcode_atts.origin }}" width="{{ shortcode_atts.width }}px" height="{{ shortcode_atts.height }}px" scrolling="no" frameborder="0"></iframe>
{% endblock %}