{% extends '/shortcodes/layouts/widget.twig' %}

{% block content %}
    {% set width = '?' %}
    {% if shortcode_atts.responsive == false %}
        {% set width = 'width=' ~ shortcode_atts.width ~ 'px&' %}
    {% endif %}
    <script async src="//www.travelpayouts.com/weedle/widget.js{{ width|raw }}marker={{ shortcode_atts.marker }}&host={{ shortcode_atts.white_label }}&locale={{ shortcode_atts.lang }}&currency={{ shortcode_atts.currency }}&destination={{ shortcode_atts.destination }}&powered_by={{ shortcode_atts.powered_by }}" charset="UTF-8"></script>
{% endblock %}