{% extends '/shortcodes/layouts/widget.twig' %}

{% block content %}
    {% set width = '?' %}
    {% if shortcode_atts.responsive == false %}
        {% set width = 'width=' ~ shortcode_atts.width ~ 'px&' %}
    {% endif %}

    <script charset="utf-8" async src="//www.travelpayouts.com/subscription_widget/widget.js{{ width|raw }}backgroundColor={{ shortcode_atts.color }}&marker={{ shortcode_atts.marker }}&host={{ shortcode_atts.white_label }}&originIata={{ shortcode_atts.origin }}&destinationIata={{ shortcode_atts.destination }}&powered_by={{ shortcode_atts.powered_by }}"></script>
{% endblock %}