{% block content %}
    {{ form_start(form) }}

    <div class="shortcode-form__item separate-line">  {{ form_row(form.token) }}
        {{ form_errors(form.token) }}
    </div>
    <div class="shortcode-form__item separate-line">  {{ form_row(form.marker_id) }}</div>

    <div class="shortcode-form__item separate-line">
        <p class="section-subtitle">{{ _x('White Label Domain','account_white_label_title') }}</p>
        {{ form_row(form.whitelabel_airlines) }}
        {{ form_row(form.whitelabel_separate) }}
    </div>
    {% include('/_form/_form_footer.twig') %}
    {{ form_end(form) }}
{% endblock %}