{% extends _base %}

{% block content %}
    <p class="section-title">
        {{ _x('Account settings','account_heading_title') }}
    </p>
    {% include('/menu/account/form.twig') %}
{% endblock %}