<div class="table-info__item">
    <div class="table-info__action">
        <button class="btn btn--color" type="submit">
            <span>{{ _x('Save changes','general_save_changes_button') }}</span>
        </button>
        <button class="btn tp-form-reset" type="button">
            <span>{{ _x('Set default','general_default_button') }}</span>
        </button>
        {#<button class="btn tp-form-reset" type="button"#}
                {#on-click="@this.resetForm()">#}
            {#<span>{{ _x('Set default','general_default_button') }}</span>#}
        {#</button>#}
    </div>
</div>