{% block content %}
    {{ form_start(airtickets_price_map,{'attr':{'class':'table-content-form'}}) }}
<div>
    <div class="table-info__item">
        <p class="table-info__title">{{ _x('Map size','TP_model_Airtickets_Price_Map') }}</p>
        <div class="pagination-settings__item">
            {{ form_row(airtickets_price_map['width']) }}
        </div>
        <div class="pagination-settings__item">
            {{ form_row(airtickets_price_map['height']) }}
        </div>

    </div>
    <div class="table-info__item">
        {{ form_row(airtickets_price_map['direct'],{'attr':{'class':'apply-tables'}}) }}
        {{ form_row(airtickets_price_map['showLogo'],{'attr':{'class':'apply-tables'}}) }}
    </div>
</div>
    {% include('/menu/widgets/forms/_form_footer.twig') %}

    {{ form_end(airtickets_price_map) }}

    {% endblock %}
