{% block content %}
    {{ form_start(airtickets_popular,{'attr':{'class':'table-content-form'}}) }}
    <div>
        <div class="table-info__item">
            <p class="table-info__title">{{ _x('Widget size','TP_Form_Airtickets_Low_Price_Calendar') }}</p>
            {{ form_row(airtickets_popular['dimensions::full_width']) }}
            {{ form_row(airtickets_popular['dimensions::width']) }}
        </div>
        <div class="table-info__item">
            {{ form_row(airtickets_popular['number']) }}
        </div>
    </div>
    {% include('/menu/widgets/forms/_form_footer.twig') %}

    {{ form_end(airtickets_popular) }}

{% endblock %}
