{% block content %}
    {{ form_start(airtickets_low_price_calendar,{'attr':{'class':'table-content-form'}}) }}
    <div>

        <div class="table-info__item">
            <p class="table-info__title">{{ _x('Widget size','TP_Form_Airtickets_Low_Price_Calendar') }}</p>
            {{ form_row(airtickets_low_price_calendar['dimensions::full_width']) }}
            {{ form_row(airtickets_low_price_calendar['dimensions::width']) }}
        </div>

        <div class="table-info__item">
            <p class="table-info__title">{{ _x('Directions','TP_Form_Airtickets_Low_Price_Calendar') }}</p>
            {{ form_row(airtickets_low_price_calendar['origin']) }}
            {{ form_row(airtickets_low_price_calendar['destination']) }}
        </div>


        <div class="table-info__item">
            <p class="table-info__title">{{ _x('Price due period','TP_Form_Airtickets_Low_Price_Calendar') }}</p>
            <div class="period-price">
                <div class="period-price__head">
                    {{ form_row(airtickets_low_price_calendar['period::current_month']) }}
                    {{ form_row(airtickets_low_price_calendar['period::all_year']) }}
                </div>
                <!-- /.period-price__head -->
                <div class="period-price__body">
                    {{ form_row(airtickets_low_price_calendar['period::dec']) }}
                    {{ form_row(airtickets_low_price_calendar['period::jan']) }}
                    {{ form_row(airtickets_low_price_calendar['period::feb']) }}
                    {{ form_row(airtickets_low_price_calendar['period::mar']) }}
                    {{ form_row(airtickets_low_price_calendar['period::apr']) }}
                    {{ form_row(airtickets_low_price_calendar['period::may']) }}
                    {{ form_row(airtickets_low_price_calendar['period::jun']) }}
                    {{ form_row(airtickets_low_price_calendar['period::jul']) }}
                    {{ form_row(airtickets_low_price_calendar['period::aug']) }}
                    {{ form_row(airtickets_low_price_calendar['period::sep']) }}
                    {{ form_row(airtickets_low_price_calendar['period::oct']) }}
                    {{ form_row(airtickets_low_price_calendar['period::nov']) }}
                </div>
                <!-- /.period-price__body -->
            </div>

        </div>


        <div class="table-info__item">
            {{ form_row(airtickets_low_price_calendar['duration']) }}
        </div>

        <div class="table-info__item">
            {{ form_row(airtickets_low_price_calendar['direction']) }}
        </div>

        <div class="table-info__item">
            {{ form_row(airtickets_low_price_calendar['direct']) }}
        </div>
    </div>
    {% include('/menu/widgets/forms/_form_footer.twig') %}
    {{ form_end(airtickets_low_price_calendar) }}
{% endblock %}
