{% block content %}
    {{ form_start(airtickets_price_subscription,{'attr':{'class':'table-content-form'}}) }}
    <div>
        <div class="table-info__item">
            <p class="table-info__title">{{ _x('Widget size','TP_Form_Airtickets_Low_Price_Calendar') }}</p>
            {{ form_row(airtickets_price_subscription['dimensions::full_width']) }}
            {{ form_row(airtickets_price_subscription['dimensions::width']) }}
        </div>

        <div class="table-info__item">
            <p class="table-info__title">{{ _x('Directions','TP_Form_Airtickets_Low_Price_Calendar') }}</p>
            {{ form_row(airtickets_price_subscription['origin']) }}
            {{ form_row(airtickets_price_subscription['destination']) }}
        </div>
        <div class="table-info__item">
            {{ form_row(airtickets_price_subscription['color_scheme']) }}
        </div>
    </div>
    {% include('/menu/widgets/forms/_form_footer.twig') %}

    {{ form_end(airtickets_price_subscription) }}

{% endblock %}
