{% block content %}
    {{ form_start(hotels_collections_location,{'attr':{'class':'table-content-form'}}) }}

    <div class="table-info__item table-info__item--padding-top">
        {{ form_row(hotels_collections_location['header_text']) }}
        {{ form_row(hotels_collections_location['header_tag']) }}

    </div>

    <div class="table-info__item">
        <p class="table-info__title">{{_x('Columns of the table','Tp_Form_Hotels_Collections_Location')}}</p>
        <p class="sort__subtitle">{{_x('We offer a ready-made combination for such a table, but you can edit the number of columns and the order of their location.','Tp_Form_Hotels_Collections_Location')}}</p>
        {{ form_row(hotels_collections_location['columns']) }}

    </div>
    <div class="table-info__item">
        {{ form_row(hotels_collections_location['button_text']) }}
    </div>
    <div class="table-info__item">
        {{ form_row(hotels_collections_location['apply_dates']) }}
    </div>
    <div class="table-info__item">
        {{ form_row(hotels_collections_location['sort_by']) }}
    </div>

    <div class="table-info__item">
        <p class="table-info__title">{{_x('Pagination settings','Tp_Form_Hotels_Collections_Location')}}</p>

        {{ form_row(hotels_collections_location['pagination::available']) }}
        {{ form_row(hotels_collections_location['pagination::count']) }}
    </div>

    <div class="table-info__item">
        {{ form_row(hotels_collections_location['additional_marker']) }}
    </div>
    <div class="table-info__item">
        {{ form_row(hotels_collections_location['apply_all']) }}
    </div>


    {% include('/menu/widgets/forms/_form_footer.twig') %}

    {{ form_end(hotels_collections_location) }}

{% endblock %}
