{% block content %}
    {{ form_start(hotels_collections_dates,{'attr':{'class':'table-content-form'}}) }}
    <div class="table-info__item table-info__item--padding-top">
        {{ form_row(hotels_collections_dates['header_text']) }}
        {{ form_row(hotels_collections_dates['header_tag']) }}
    </div>

    <div class="table-info__item">
        <p class="table-info__title">{{ _x('Columns of the table','Tp_Form_hotels_collections_dates') }}</p>
        <p class="sort__subtitle">{{ _x('We offer a ready-made combination for such a table, but you can edit the number of columns and the order of their location.','Tp_Form_hotels_collections_dates') }}</p>
        {{ form_row(hotels_collections_dates['columns']) }}

    </div>
    <div class="table-info__item">
        {{ form_row(hotels_collections_dates['button_text']) }}
    </div>
    <div class="table-info__item">
        {{ form_row(hotels_collections_dates['apply_dates']) }}
    </div>
    <div class="table-info__item">
        {{ form_row(hotels_collections_dates['sort_by']) }}
    </div>

    <div class="table-info__item">
        <p class="table-info__title">{{ _x('Pagination settings','Tp_Form_hotels_collections_dates') }}</p>

        {{ form_row(hotels_collections_dates['pagination::available']) }}
        {{ form_row(hotels_collections_dates['pagination::count']) }}
    </div>

    <div class="table-info__item">
        {{ form_row(hotels_collections_dates['additional_marker']) }}
    </div>
    <div class="table-info__item">
        {{ form_row(hotels_collections_dates['apply_all']) }}
    </div>


    {% include('/menu/widgets/forms/_form_footer.twig') %}

    {{ form_end(hotels_collections_dates) }}

{% endblock %}
