{% block content %}
    {{ form_start(hotels_collections,{'attr':{'class':'table-content-form'}}) }}
    <div>

        <div class="table-info__item">
            {{ form_row(hotels_collections['type']) }}

        </div>

        <div class="table-info__item">
            <p class="table-info__title">{{ _x('Widget size','TP_Form_Airtickets_Low_Price_Calendar') }}</p>
            {{ form_row(hotels_collections['dimensions::full_width']) }}
            {{ form_row(hotels_collections['dimensions::width']) }}
        </div>
        <div class="table-info__item">
            {{ form_row(hotels_collections['count']) }}

        </div>
    </div>

    {% include('/menu/widgets/forms/_form_footer.twig') %}

    {{ form_end(hotels_collections) }}

{% endblock %}
