{% block content %}
    {{ form_start(hotels_map,{'attr':{'class':'table-content-form'}}) }}

    <div>

        <div class="table-info__item">
            <p class="table-info__title">{{ _x('Map size','Tp_Form_Hotels_Map') }}</p>


            <div class="pagination-settings__item">
                {{ form_row(hotels_map['width']) }}
            </div>
            <div class="pagination-settings__item">
                {{ form_row(hotels_map['height']) }}
            </div>
        </div>

        <div class="table-info__item">
            <p class="table-info__title">{{ _x('Pin details','Tp_Form_Hotels_Map') }}</p>
            {{ form_row(hotels_map['diameter']) }}
            {{ form_row(hotels_map['color_scheme']) }}
        </div>
        <div class="table-info__item">
            {{ form_row(hotels_map['drag']) }}
            {{ form_row(hotels_map['scaling']) }}
            {{ form_row(hotels_map['scroll_scaling']) }}
        </div>
    </div>
    {% include('/menu/widgets/forms/_form_footer.twig') %}

    {{ form_end(hotels_map) }}

{% endblock %}
