{% block content %}
    {{ form_start(hotels_widget,{'attr':{'class':'table-content-form'}}) }}
    <div class="table-info__item">

        <div class="table-info__item">
            <p class="table-info__title">{{ _x('Widget size','TP_Form_Airtickets_Low_Price_Calendar') }}</p>
            {{ form_row(hotels_widget['dimensions::full_width']) }}
            {{ form_row(hotels_widget['dimensions::width']) }}
        </div>
    </div>
    {% include('/menu/widgets/forms/_form_footer.twig') %}

    {{ form_end(hotels_widget) }}

{% endblock %}
