$tp-input-number-border-color: #b0bec6;
$tp-input-number-text-color: #2c2c2c;
.tp-input-number {
  $tp-input-number: &;
  position: relative;
  width: 98px;

  &--disabled {
    opacity: 0.5;
    cursor: not-allowed !important;

    #{$tp-input-number} {
      &-input {
        pointer-events: none;
      }

      &-actions {
        &__action {
          cursor: not-allowed !important;
        }
      }
    }
  }

  &-input {
    position: relative;
    visibility: visible;
    opacity: 1;
    height: inherit !important;
    width: 100%;
    padding: 12px 15px;
    font-size: 15px;
    text-overflow: ellipsis;
    letter-spacing: 0.2px;
    border: 1px solid $tp-input-number-border-color;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: $white;
    color: $tp-input-number-text-color;
  }

  &-actions {
    position: absolute;
    top: 1px;
    bottom: 1px;
    right: 1px;
    width: 35px;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    border-radius: 0 4px 4px 0;
    color: $dark-balzam;
    background-color: $white;
    overflow: hidden;
    border-style: solid;
    border-width: 0 0 0 1px;
    border-color: $tp-input-number-border-color;

    &__action {
      display: block;
      width: 100%;
      height: 50%;
      text-align: center;
      line-height: 23px;
      border-left: 1px solid $tp-input-number-border-color;
      transition: 0.3s ease;
      transition-property: color, background-color;

      &:first-child {
        border-bottom: 1px solid $tp-input-number-border-color;
      }

      &:hover {
        background-color: #eceff1;
      }

      &[disabled] {
        opacity: 0.3;
        pointer-events: none;

        &:hover {
          background-color: $white;
          color: rgba($dark-balzam, 0.5);
        }
      }
    }
  }

  &--inline {
      width: 100% !important;
  }
}