<div class="tp-input-number"
     class-tp-input-number--disabled="disabled"
     class-tp-input-number--inline="inline">
    <input class="tp-input-number-input"
           id="{{id}}" name="{{name}}" placeholder="{{placeholder}}" type="number" value="{{value}}"/>
    <div class="tp-input-number-actions">
        <button class="tp-input-number-actions__action tp-input-number-increase" on-click="@this.increase()"
                type="button">+
        </button>
        <button class="tp-input-number-actions__action tp-input-number-decrease" on-click="@this.decrease()"
                type="button">–
        </button>
    </div>
</div>