<div class="table-info table-info--settings">

    {{ form_start(form_basic) }}

        <div class="table-info__item">
            {{ form_row(form_basic.type_distance) }}
        </div>
        <!-- /.table-info__item -->

    {{ form_end(form_basic) }}

    <div class="table-info__item">
        <p class="table-info__title">Единица измерения расстояния</p>
        <div class="select-radio select-radio--inline">
            <div class="select-radio__item">
                <input id="distance_unit_1" type="radio" name="distance_unit" value="km">
                <label class="select-radio__label" for="distance_unit_1"><span>км (km)</span></label>
            </div>
            <!-- /.select-radio__item -->
            <div class="select-radio__item">
                <input id="distance_unit_2" type="radio" name="distance_unit" value="mi">
                <label class="select-radio__label" for="distance_unit_2"><span>мили (mi)</span></label>
            </div>
            <!-- /.select-radio__item -->
        </div>
        <!-- /.select-radio -->
    </div>
    <!-- /.table-info__item -->
    <div class="table-info__item">
        <form action="#" method="post" class="table-content-form">
            <div class="table-info__item">
                <p class="table-info__title">
                    <span>Формат даты</span>
                    <a href="#" class="helper helper--position" data-title="Lorem ipsum dolor sit amet.">
                        <svg width="18" height="18" viewBox="0 0 18 18">
                            <path class="helper__bg" fill-rule="evenodd"
                                  d="M 9 18C 13.9706 18 18 13.9706 18 9C 18 4.02944 13.9706 0 9 0C 4.02944 0 0 4.02944 0 9C 0 13.9706 4.02944 18 9 18Z"></path>
                            <path fill="#FFFFFF" transform="translate(7 4)" fill-rule="evenodd"
                                  d="M 1 4.5C 1 4.22386 0.776143 4 0.5 4C 0.223858 4 0 3.77614 0 3.5C 0 3.22386 0.223857 3 0.499999 3L 2.5 3C 2.77614 3 3 3.22386 3 3.5L 3 8.5C 3 8.77614 3.22386 9 3.5 9C 3.77614 9 4 9.22386 4 9.5C 4 9.77614 3.77614 10 3.5 10L 0.499999 10C 0.223857 10 0 9.77614 0 9.5C 0 9.22386 0.223858 9 0.5 9C 0.776143 9 1 8.77614 1 8.5L 1 4.5ZM 1 0.5C 1 0.223858 1.22386 0 1.5 0L 2.5 0C 2.77614 0 3 0.223858 3 0.5L 3 1.5C 3 1.77614 2.77614 2 2.5 2L 1.5 2C 1.22386 2 1 1.77614 1 1.5L 1 0.5Z"></path>
                        </svg>
                    </a>
                </p>
                <input class="w65" type="text" name="date_format" value="d.m.Y">
                <p class="input-helper">Текущий формат : 08.05.2017</p>
            </div>
            <!-- /.table-info__item -->
            <div class="table-info__item">
                <p class="table-info__title">
                    <span>Отслеживание событий (Я.Метрика, Google Analytics)</span>
                </p>
                <p>Идейные соображения высшего порядка, а также дальнейшее развитие различных форм
                    деятельности представляет собой интересный эксперимент.</p>
                <div class="table-settings-form__item">
                    <p class="table-info__subtitle">
                        <span>Нажатие кнопки «Найти»</span>
                        <a href="#" class="helper helper--position">
                            <svg width="18" height="18" viewBox="0 0 18 18">
                                <path class="helper__bg" fill-rule="evenodd"
                                      d="M 9 18C 13.9706 18 18 13.9706 18 9C 18 4.02944 13.9706 0 9 0C 4.02944 0 0 4.02944 0 9C 0 13.9706 4.02944 18 9 18Z"></path>
                                <path fill="#FFFFFF" transform="translate(7 4)" fill-rule="evenodd"
                                      d="M 1 4.5C 1 4.22386 0.776143 4 0.5 4C 0.223858 4 0 3.77614 0 3.5C 0 3.22386 0.223857 3 0.499999 3L 2.5 3C 2.77614 3 3 3.22386 3 3.5L 3 8.5C 3 8.77614 3.22386 9 3.5 9C 3.77614 9 4 9.22386 4 9.5C 4 9.77614 3.77614 10 3.5 10L 0.499999 10C 0.223857 10 0 9.77614 0 9.5C 0 9.22386 0.223858 9 0.5 9C 0.776143 9 1 8.77614 1 8.5L 1 4.5ZM 1 0.5C 1 0.223858 1.22386 0 1.5 0L 2.5 0C 2.77614 0 3 0.223858 3 0.5L 3 1.5C 3 1.77614 2.77614 2 2.5 2L 1.5 2C 1.22386 2 1 1.77614 1 1.5L 1 0.5Z"></path>
                            </svg>
                        </a>
                    </p>
                    <textarea class="w65" name="search_button_action"></textarea>
                </div>
                <!-- /.table-settings-form__item -->
                <div class="table-settings-form__item">
                    <p class="table-info__subtitle">
                        <span>Загрузка таблицы</span>
                        <a href="#" class="helper helper--position">
                            <svg width="18" height="18" viewBox="0 0 18 18">
                                <path class="helper__bg" fill-rule="evenodd"
                                      d="M 9 18C 13.9706 18 18 13.9706 18 9C 18 4.02944 13.9706 0 9 0C 4.02944 0 0 4.02944 0 9C 0 13.9706 4.02944 18 9 18Z"></path>
                                <path fill="#FFFFFF" transform="translate(7 4)" fill-rule="evenodd"
                                      d="M 1 4.5C 1 4.22386 0.776143 4 0.5 4C 0.223858 4 0 3.77614 0 3.5C 0 3.22386 0.223857 3 0.499999 3L 2.5 3C 2.77614 3 3 3.22386 3 3.5L 3 8.5C 3 8.77614 3.22386 9 3.5 9C 3.77614 9 4 9.22386 4 9.5C 4 9.77614 3.77614 10 3.5 10L 0.499999 10C 0.223857 10 0 9.77614 0 9.5C 0 9.22386 0.223858 9 0.5 9C 0.776143 9 1 8.77614 1 8.5L 1 4.5ZM 1 0.5C 1 0.223858 1.22386 0 1.5 0L 2.5 0C 2.77614 0 3 0.223858 3 0.5L 3 1.5C 3 1.77614 2.77614 2 2.5 2L 1.5 2C 1.22386 2 1 1.77614 1 1.5L 1 0.5Z"></path>
                            </svg>
                        </a>
                    </p>
                    <textarea class="w65" name="table_download_action"></textarea>
                </div>
                <!-- /.table-settings-form__item -->
            </div>
            <!-- /.table-info__item -->
            <div class="table-info__item">
                <div class="transfer">
                    <div class="transfer__item">
                        <input id="main-settings_1" type="checkbox" name="redirect">
                        <label for="main-settings_1">
                            <span>Переходить на результаты через редирект</span>
                            <a href="#" class="helper helper--position">
                                <svg width="18" height="18" viewBox="0 0 18 18">
                                    <path class="helper__bg" fill-rule="evenodd"
                                          d="M 9 18C 13.9706 18 18 13.9706 18 9C 18 4.02944 13.9706 0 9 0C 4.02944 0 0 4.02944 0 9C 0 13.9706 4.02944 18 9 18Z"></path>
                                    <path fill="#FFFFFF" transform="translate(7 4)" fill-rule="evenodd"
                                          d="M 1 4.5C 1 4.22386 0.776143 4 0.5 4C 0.223858 4 0 3.77614 0 3.5C 0 3.22386 0.223857 3 0.499999 3L 2.5 3C 2.77614 3 3 3.22386 3 3.5L 3 8.5C 3 8.77614 3.22386 9 3.5 9C 3.77614 9 4 9.22386 4 9.5C 4 9.77614 3.77614 10 3.5 10L 0.499999 10C 0.223857 10 0 9.77614 0 9.5C 0 9.22386 0.223858 9 0.5 9C 0.776143 9 1 8.77614 1 8.5L 1 4.5ZM 1 0.5C 1 0.223858 1.22386 0 1.5 0L 2.5 0C 2.77614 0 3 0.223858 3 0.5L 3 1.5C 3 1.77614 2.77614 2 2.5 2L 1.5 2C 1.22386 2 1 1.77614 1 1.5L 1 0.5Z"></path>
                                </svg>
                            </a>
                        </label>
                    </div>
                    <!-- /.transfer__item -->
                    <div class="transfer__item">
                        <input id="main-settings_2" type="checkbox" name="new_window">
                        <label for="main-settings_2"><span>Открывать результаты в новом окне</span></label>
                    </div>
                    <!-- /.transfer__item -->
                    <div class="transfer__item">
                        <input id="main-settings_3" type="checkbox" name="no_follow">
                        <label for="main-settings_3">
                            <span>Добавлять для ссылок атрибут nofollow</span>
                            <a href="#" class="helper helper--position">
                                <svg width="18" height="18" viewBox="0 0 18 18">
                                    <path class="helper__bg" fill-rule="evenodd"
                                          d="M 9 18C 13.9706 18 18 13.9706 18 9C 18 4.02944 13.9706 0 9 0C 4.02944 0 0 4.02944 0 9C 0 13.9706 4.02944 18 9 18Z"></path>
                                    <path fill="#FFFFFF" transform="translate(7 4)" fill-rule="evenodd"
                                          d="M 1 4.5C 1 4.22386 0.776143 4 0.5 4C 0.223858 4 0 3.77614 0 3.5C 0 3.22386 0.223857 3 0.499999 3L 2.5 3C 2.77614 3 3 3.22386 3 3.5L 3 8.5C 3 8.77614 3.22386 9 3.5 9C 3.77614 9 4 9.22386 4 9.5C 4 9.77614 3.77614 10 3.5 10L 0.499999 10C 0.223857 10 0 9.77614 0 9.5C 0 9.22386 0.223858 9 0.5 9C 0.776143 9 1 8.77614 1 8.5L 1 4.5ZM 1 0.5C 1 0.223858 1.22386 0 1.5 0L 2.5 0C 2.77614 0 3 0.223858 3 0.5L 3 1.5C 3 1.77614 2.77614 2 2.5 2L 1.5 2C 1.22386 2 1 1.77614 1 1.5L 1 0.5Z"></path>
                                </svg>
                            </a>
                        </label>
                    </div>
                    <!-- /.transfer__item -->
                </div>
                <!-- /.transfer -->
            </div>
            <!-- /.table-info__item -->
            <div class="table-info__item">
                <div class="table-info__action">
                    <button class="btn btn--color"><span>Сохранить изменения</span></button>
                    <button class="btn btn--bg"><span>Настройки по умолчанию</span></button>
                </div>
            </div>
            <!-- /.table-info__item -->
        </form>
        <!-- /.table-content-form -->
    </div>
    <!-- /.table-info__item -->
</div>