<div class="table-info table-info--settings">
    <div class="table-info__item">
        <form action="#" method="post" class="table-settings-form">
            <div class="table-info__item">
                <div class="pagination-settings">
                    <p class="table-info__title">Частота обновления данных для таблиц</p>
                    <div class="pagination-qty">
                        <input type="number" name="table_refresh_rate" value="12">
                        <div class="pagination-qty__action">
                            <button class="pagination-qty-plus">+</button>
                            <button class="pagination-qty-minus">–</button>
                        </div>
                        <span class="pagination-qty__desc">В часах</span>
                    </div>
                    <!-- /.pagination-qty -->
                </div>
                <!-- /.pagination-settings -->
            </div>
            <!-- /.table-info__item -->
            <div class="table-info__item">
                <div class="pagination-settings">
                    <p class="table-info__title">Максимальный размер лого Авиакомпании</p>
                    <div class="pagination-settings__item">
                        <p class="table-info__subtitle">Длина</p>
                        <div class="pagination-qty">
                            <input type="number" name="table_refresh_rate" value="100">
                            <div class="pagination-qty__action">
                                <button class="pagination-qty-plus">+</button>
                                <button class="pagination-qty-minus">–</button>
                            </div>
                        </div>
                        <!-- /.pagination-qty -->
                    </div>
                    <!-- /.pagination-settings__item -->
                    <div class="pagination-settings__item">
                        <p class="table-info__subtitle">Высота</p>
                        <div class="pagination-qty">
                            <input type="number" name="table_refresh_rate" value="35">
                            <div class="pagination-qty__action">
                                <button class="pagination-qty-plus">+</button>
                                <button class="pagination-qty-minus">–</button>
                            </div>
                            <span class="pagination-qty__desc">В пикселях</span>
                        </div>
                        <!-- /.pagination-qty -->
                    </div>
                    <!-- /.pagination-settings__item -->
                </div>
                <!-- /.pagination-settings -->
            </div>
            <!-- /.table-info__item -->
            <div class="table-info__item">
                <p class="table-info__title">Названия столбцов в таблицах</p>
                <p>Вы можете менять название по своему усмотрению</p>
                <div class="table-settings-info">
                    <div class="table-settings-info__item">
                        <p class="table-info__subtitle">Номер рейса</p>
                        <input type="text" name="table_settings_flight_number" placeholder="Номер рейса">
                    </div>
                    <!-- /.table-settings-info__item -->
                    <div class="table-settings-info__item">
                        <p class="table-info__subtitle">Рейс</p>
                        <input type="text" name="table_settings_flight" placeholder="Рейс">
                    </div>
                    <!-- /.table-settings-info__item -->
                    <div class="table-settings-info__item">
                        <p class="table-info__subtitle">Дата вылета</p>
                        <input type="text" name="table_settings_date_departure" placeholder="Дата вылета">
                    </div>
                    <!-- /.table-settings-info__item -->
                    <div class="table-settings-info__item">
                        <p class="table-info__subtitle">Дата возвращения</p>
                        <input type="text" name="table_settings_date_arrive" placeholder="Дата возвращения">
                    </div>
                    <!-- /.table-settings-info__item -->
                    <div class="table-settings-info__item">
                        <p class="table-info__subtitle">Пересадки</p>
                        <input type="text" name="table_settings_transfer" placeholder="Пересадки">
                    </div>
                    <!-- /.table-settings-info__item -->
                    <div class="table-settings-info__item">
                        <p class="table-info__subtitle">Стоимость</p>
                        <input type="text" name="table_settings_price" placeholder="Стоимость">
                    </div>
                    <!-- /.table-settings-info__item -->
                    <div class="table-settings-info__item">
                        <p class="table-info__subtitle">Авиакомпания</p>
                        <input type="text" name="table_settings_fly_company" placeholder="Авиакомпания">
                    </div>
                    <!-- /.table-settings-info__item -->
                    <div class="table-settings-info__item">
                        <p class="table-info__subtitle">Авиакомпания</p>
                        <input type="text" name="table_settings_fly_company" placeholder="Авиакомпания">
                    </div>
                    <!-- /.table-settings-info__item -->
                    <div class="table-settings-info__item">
                        <p class="table-info__subtitle">Откуда</p>
                        <input type="text" name="table_settings_from" placeholder="Откуда">
                    </div>
                    <!-- /.table-settings-info__item -->
                    <div class="table-settings-info__item">
                        <p class="table-info__subtitle">Куда</p>
                        <input type="text" name="table_settings_to" placeholder="Куда">
                    </div>
                    <!-- /.table-settings-info__item -->
                    <div class="table-settings-info__item">
                        <p class="table-info__subtitle">Место</p>
                        <input type="text" name="table_settings_place" placeholder="Место">
                    </div>
                    <!-- /.table-settings-info__item -->
                    <div class="table-settings-info__item">
                        <p class="table-info__subtitle">Направление</p>
                        <input type="text" name="table_settings_direction" placeholder="Направление">
                    </div>
                    <!-- /.table-settings-info__item -->
                    <div class="table-settings-info__item">
                        <p class="table-info__subtitle">Класс перелета</p>
                        <input type="text" name="table_settings_flight_class" placeholder="Класс перелета">
                    </div>
                    <!-- /.table-settings-info__item -->
                    <div class="table-settings-info__item">
                        <p class="table-info__subtitle">Расстояние</p>
                        <input type="text" name="table_settings_distance" placeholder="Расстояние">
                    </div>
                    <!-- /.table-settings-info__item -->
                    <div class="table-settings-info__item">
                        <p class="table-info__subtitle">Цена за километр</p>
                        <input type="text" name="table_settings_ptice_km" placeholder="Цена за километр">
                    </div>
                    <!-- /.table-settings-info__item -->
                    <div class="table-settings-info__item">
                        <p class="table-info__subtitle">Когда найден</p>
                        <input type="text" name="table_settings_when_found" placeholder="Когда найден">
                    </div>
                    <!-- /.table-settings-info__item -->
                    <div class="table-settings-info__item">
                        <p class="table-info__subtitle">В одну/обе стороны</p>
                        <input type="text" name="table_settings_round_trip"
                               placeholder="В одну/обе стороны">
                    </div>
                    <!-- /.table-settings-info__item -->
                    <div class="table-settings-info__item">
                        <p class="table-info__subtitle">Найти билет</p>
                        <input type="text" name="table_settings_find_ticket" placeholder="Найти билет">
                    </div>
                    <!-- /.table-settings-info__item -->
                    <div class="table-settings-info__item">
                        <p class="table-info__subtitle">Откуда - Куда</p>
                        <input type="text" name="table_settings_from_to" placeholder="Откуда - Куда">
                    </div>
                    <!-- /.table-settings-info__item -->
                </div>
                <!-- /.table-settings__info -->
            </div>
            <!-- /.table-info__item -->
            <div class="table-info__item">
                <p class="table-info__title">При получении пустого ответа показывать:</p>
                <div class="select-radio">
                    <div class="select-radio__item">
                        <input id="select-radio_1" type="radio" name="empty_answer">
                        <label class="select-radio__label" for="select-radio_1"><span>Уведомление и CTA ссылкой</span></label>
                        <div class="select-radio__drop">
                            1
                        </div>
                        <!-- /.select-radio__drop -->
                    </div>
                    <!-- /.select-radio__item -->
                    <div class="select-radio__item">
                        <input id="select-radio_2" type="radio" name="empty_answer">
                        <label class="select-radio__label" for="select-radio_2"><span>Уведомление и CTA кнопкой</span></label>
                        <div class="select-radio__drop">
                            1
                        </div>
                        <!-- /.select-radio__drop -->
                    </div>
                    <!-- /.select-radio__item -->
                    <div class="select-radio__item">
                        <input id="select-radio_3" type="radio" name="empty_answer">
                        <label class="select-radio__label"
                               for="select-radio_3"><span>Форму поиска</span></label>
                        <div class="select-radio__drop">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi numquam debitis
                            expedita fugiat quisquam. Inventore repudiandae obcaecati, nam tenetur natus
                            nihil maiores porro placeat, reiciendis iure eius. Porro similique, accusamus?
                        </div>
                        <!-- /.select-radio__drop -->
                    </div>
                    <!-- /.select-radio__item -->
                    <div class="select-radio__item">
                        <input id="select-radio_4" type="radio" name="empty_answer">
                        <label class="select-radio__label"
                               for="select-radio_4"><span>Не показывать ничего</span></label>
                    </div>
                    <!-- /.select-radio__item -->
                </div>
                <!-- /.select-radio -->
            </div>
            <!-- /.table-info__item -->
            <div class="table-info__item">
                <div class="table-info__action">
                    <button class="btn btn--color"><span>Сохранить изменения</span></button>
                    <button class="btn btn--bg"><span>Настройки по умолчанию</span></button>
                </div>
            </div>
            <!-- /.table-info__item -->
        </form>
        <!-- /.table-content-form -->
    </div>
    <!-- /.table-info__item -->
</div>
<!-- /.tables-info -->