<div class="table-info table-info--settings">
    <div class="table-info__item">
        <form action="#" method="post" class="table-settings-form">
            <div class="table-info__item">
                <div class="pagination-settings">
                    <p class="table-info__title">Частота обновления данных для таблиц</p>
                    <div class="pagination-qty">
                        <input type="number" name="table_refresh_rate" value="12">
                        <div class="pagination-qty__action">
                            <button class="pagination-qty-plus">+</button>
                            <button class="pagination-qty-minus">–</button>
                        </div>
                        <span class="pagination-qty__desc">В часах</span>
                    </div>
                    <!-- /.pagination-qty -->
                </div>
                <!-- /.pagination-settings -->
            </div>
            <!-- /.table-info__item -->
            <div class="table-info__item">
                <p class="table-info__title">После клика по кнопке «Найти» в таблице</p>
                <p>Идейные соображения высшего порядка, а также дальнейшее развитие различных форм
                    деятельности представляет собой интересный эксперимент.</p>
                <div class="select-radio select-radio--margin">
                    <div class="select-radio__item">
                        <input id="redirect_page_1" type="radio" name="redirect_page"
                               value="redirect_page_hotel">
                        <label class="select-radio__label" for="redirect_page_1"><span>Переходить на страницу отеля</span></label>
                    </div>
                    <!-- /.select-radio__item -->
                    <div class="select-radio__item">
                        <input id="redirect_page_2" type="radio" name="redirect_page"
                               value="redirect_page_city">
                        <label class="select-radio__label" for="redirect_page_2"><span>Переходить на страницу города</span></label>
                    </div>
                    <!-- /.select-radio__item -->
                </div>
                <!-- /.select-radio -->
            </div>
            <!-- /.table-info__item -->
            <div class="table-info__item">
                <p class="table-info__title">Названия столбцов в таблицах</p>
                <p>Вы можете менять название по своему усмотрению</p>
                <div class="table-settings-info">
                    <div class="table-settings-info__item">
                        <p class="table-info__subtitle">Отель</p>
                        <input type="text" name="table_settings_flight_number" placeholder="Отель">
                    </div>
                    <!-- /.table-settings-info__item -->
                    <div class="table-settings-info__item">
                        <p class="table-info__subtitle">Звёздность</p>
                        <input type="text" name="table_settings_flight" placeholder="Звёздность">
                    </div>
                    <!-- /.table-settings-info__item -->
                    <div class="table-settings-info__item">
                        <p class="table-info__subtitle">Рейтинг</p>
                        <input type="text" name="table_settings_date_departure" placeholder="Рейтинг">
                    </div>
                    <!-- /.table-settings-info__item -->
                    <div class="table-settings-info__item">
                        <p class="table-info__subtitle">До центра</p>
                        <input type="text" name="table_settings_date_arrive" placeholder="До центра">
                    </div>
                    <!-- /.table-settings-info__item -->
                    <div class="table-settings-info__item">
                        <p class="table-info__subtitle">
                            <span>Цена за ночь, от</span>
                            <a href="#" class="helper helper--position">
                                <svg width="18" height="18" viewBox="0 0 18 18">
                                    <path class="helper__bg" fill-rule="evenodd"
                                          d="M 9 18C 13.9706 18 18 13.9706 18 9C 18 4.02944 13.9706 0 9 0C 4.02944 0 0 4.02944 0 9C 0 13.9706 4.02944 18 9 18Z"></path>
                                    <path fill="#FFFFFF" transform="translate(7 4)" fill-rule="evenodd"
                                          d="M 1 4.5C 1 4.22386 0.776143 4 0.5 4C 0.223858 4 0 3.77614 0 3.5C 0 3.22386 0.223857 3 0.499999 3L 2.5 3C 2.77614 3 3 3.22386 3 3.5L 3 8.5C 3 8.77614 3.22386 9 3.5 9C 3.77614 9 4 9.22386 4 9.5C 4 9.77614 3.77614 10 3.5 10L 0.499999 10C 0.223857 10 0 9.77614 0 9.5C 0 9.22386 0.223858 9 0.5 9C 0.776143 9 1 8.77614 1 8.5L 1 4.5ZM 1 0.5C 1 0.223858 1.22386 0 1.5 0L 2.5 0C 2.77614 0 3 0.223858 3 0.5L 3 1.5C 3 1.77614 2.77614 2 2.5 2L 1.5 2C 1.22386 2 1 1.77614 1 1.5L 1 0.5Z"></path>
                                </svg>
                            </a>
                        </p>
                        <input type="text" name="table_settings_transfer" placeholder="Цена за ночь, от">
                    </div>
                    <!-- /.table-settings-info__item -->
                    <div class="table-settings-info__item">
                        <p class="table-info__subtitle">Цена до скидки</p>
                        <input type="text" name="table_settings_price" placeholder="Цена до скидки">
                    </div>
                    <!-- /.table-settings-info__item -->
                    <div class="table-settings-info__item">
                        <p class="table-info__subtitle">Скидка</p>
                        <input type="text" name="table_settings_fly_company" placeholder="Скидка">
                    </div>
                    <!-- /.table-settings-info__item -->
                    <div class="table-settings-info__item">
                        <p class="table-info__subtitle">Цена до скидки</p>
                        <input type="text" name="table_settings_fly_company" placeholder="Цена до скидки">
                    </div>
                    <!-- /.table-settings-info__item -->
                    <div class="table-settings-info__item">
                        <p class="table-info__subtitle">Цена за ночь, от</p>
                        <input type="text" name="table_settings_from" placeholder="Цена за ночь, от">
                    </div>
                    <!-- /.table-settings-info__item -->
                    <div class="table-settings-info__item">
                        <p class="table-info__subtitle">Выбрать даты</p>
                        <input type="text" name="table_settings_to" placeholder="Выбрать даты">
                    </div>
                    <!-- /.table-settings-info__item -->
                </div>
                <!-- /.table-settings__info -->
            </div>
            <!-- /.table-info__item -->
            <div class="table-info__item">
                <div class="table-info__action">
                    <button class="btn btn--color"><span>Сохранить изменения</span></button>
                    <button class="btn btn--bg"><span>Настройки по умолчанию</span></button>
                </div>
            </div>
            <!-- /.table-info__item -->
        </form>
        <!-- /.table-content-form -->
    </div>
    <!-- /.table-info__item -->
</div>
<!-- /.tables-info -->